<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/modalLayout}">
      
	<th:block layout:fragment="modalContent">
		<div id="findModalBox">
			<div id="successImg"><img th:src="@{/images/success.png}" th:alt="#{login.common.imgAlt.success}"></div>
			<div id="successTitle" th:text="#{login.idFindResult.complete.findId}">아이디 찾기 완료</div>
			<div id="successTxt"><span th:text="#{login.idFindResult.complete.findId.message}">개인정보와 일치하는 아이디 : </span><span th:text="${userId}">AccountId</span></div>
		</div>
	</th:block>
</html>