<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/modalLayout}">
      
	<th:block layout:fragment="modalContent">
		<div id="findModalBox">
			<div id="successImg"><img th:src="@{/images/success.png}" th:alt="#{login.common.imgAlt.success}"></div>
			<div id="successTitle" th:text="#{login.pwFindResult.complete.findPassword}">비밀번호가 재설정 되었습니다.</div>
			<div id="successTxt" th:text="#{login.pwFindResult.complete.findPassword.message}">입력하신 메일 주소로 임시 비밀번호가 발송되었으니 수신함을 확인해주세요.</div>
		</div>
	</th:block>
</html>