<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/modalLayout}">
	<th:block layout:fragment="modalContent">
        <div>
			<table class="modal-list-table">
				<tr>
					<th>데이터</th>
					<th>검색조건</th>
					<th>등록일</th>
				</tr>
				<tr>
					<td>GIS 시각화 통계/분석 > MCC 통계</td>
					<td>MCC통계 / 2024년 1월1일 ~ 2024년 12월31일 / 첨두시간대 / 9-01</td>
					<td>2024.01.05</td>
				</tr>
			</table>
        </div>
	</th:block>
</html>
