<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
		<div class="is-box">
			<div id="listTableContainer">
			<form id="searchForm" name="searchForm" th:action="@{/datamng/dataregist}">
				<div id="filterWrap">
					<div id="filterTitle">
						<h2 th:text="#{common.search.title}">검색 설정</h2>
					</div>
					<table id="filterTable">
						<colgroup>
							<col width="15%">
							<col width="85%">
						</colgroup>
						<tr>
							<th th:text="#{dataRegist.search.statistic}">통계 분류</th>
							<td>
							<select class="select-list-box" name="popStatTypeCd">
								<option value="" th:text="#{common.select.all}">전체</option>
								<th:block th:each="item : ${popStatTypeCd}">
									<option th:value="${item}" th:selected="searchOption.popStatTypeCd eq item" th:text="${item.name}">통계 유형</option>
								</th:block>
							</select>
						</td>
						</tr>
						<tr>
							<th th:text="#{common.table.agency}">관리 기관</th>
							<td>
								<select class="select-list-box" name="bffltdCd">
									<option value="" th:text="#{common.select.all}">전체</option>
									<th:block th:each="item : ${bffltdCd}">
										<option th:value="${item.cd}" th:text="${item.cdNm}" th:selected="${searchOption.bffltdCd == item.cd}">통계 유형</option>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<th th:text="#{common.search.detail.content}">상세 내용</th>
							<td>
								<input type="hidden" id="pageNo" name="pageNo" value="1">
								<input type="text" class="input-text search-input" name="searchContent" th:placeholder="#{dataRegist.placeholder.data.name}" th:value="${searchOption.searchContent}">
							</td>
						</tr>
					</table>
					<div id="filterBtnWrap">
						<button type="submit" class="is-key-button" id="searchBtn" th:text="#{common.button.search}">검색</button>
					</div>
				</div>
			</form>
				<div class="list-save-box">
					<div id="totalList"><span id="totalCount" th:text="${paging.totalCount}"></span><span th:text="#{common.search.result}">건의 검색 결과를 찾았습니다.</span></div>
					<div>
						<a type="button" class="is-key-button" onclick="location.href='/datamng/dataregist/save'" th:text="#{dataRegist.dataRegistList.button.regist}"></a>
					</div>
				</div>
				<table id="listTable" class="cm-list-table">
					<thead>
						<tr>
							<th th:text="#{common.table.number}">번호</th>
							<th th:text="#{common.table.class}">분류</th>
							<th th:text="#{dataRegist.data.name}">데이터명</th>
							<th th:text="#{common.table.agency}">관리기관</th>
							<th th:text="#{common.table.manager}">관리자</th>
							<th th:text="#{common.table.registDate}">등록일</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${not #lists.isEmpty(tsPopMngList)}">
							<tr class="table-link" th:onclick="|location.href='@{/datamng/dataregist/update?popmngId={popmngId}(popmngId=${item.popmngId})}'|" th:each="item, status : ${tsPopMngList}">
								<td th:text="${@commonUtils.getRownum(paging, status.index)}"></td>
								<td th:text="${item.popmngType.name}">분류</td>
								<td th:text="${item.popmngTitle}">데이터명</td>
								<td th:text="${item.userBffltdNm}">데이터명</td>
								<td th:text="${item.registId}">데이터명</td>
								<td th:text="${@commonUtils.formatLocalDateTime(item.registDt, 'yyyy-MM-dd')}">등록일</td>
							</tr>
						</th:block>
						<th:block th:unless="${not #lists.isEmpty(tsPopMngList)}">
							<tr>
								<td colspan="6" th:text="#{common.search.result.notExist}">검색된 결과가 없습니다.</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
			<div th:insert="tags/paging/paging :: pagingFragment"></div>
		</div>
</th:block>

</html>
<script>
</script>