<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="is-box">
		<form id="searchForm" name="searchForm" th:action="@{/datamng/invst}">
			<input type="hidden" name="pageNo" value="1">
			<div id="filterWrap">
				<div id="filterTitle">
					<h2 th:text="#{common.search.title}">검색 설정</h2>
				</div>
				<table id="filterTable">
					<colgroup>
						<col width="15%">
						<col width="85%">
					</colgroup>
					<tr>
						<th th:text="#{common.table.investType}">조사유형</th>
						<td>
							<div class="select-div-box">
								<select class="select-list-box" name="searchTypeCd">
									<option th:text="#{common.select.select}">선택</option>
									<th:block th:each="item : ${exmnTypeCd}">
										<option th:text="${item.getName()}"
											th:selected="${searchInfo.searchTypeCd eq item.getCode()}"
											th:value="${item.getCode()}"></option>
									</th:block>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<th th:text="#{common.table.investPeriod}">조사기간</th>
						<td>
							<input type="text" class="input-text startPicker" name="startDate" th:placeholder="#{common.search.placeholder.date}"
								th:value="${searchInfo.startDate}">
							<span>~</span>
							<input type="text" class="input-text endPicker" name="endDate" th:placeholder="#{common.search.placeholder.date}"
								th:value="${searchInfo.endDate}">
						</td>
					</tr>
					<tr>
						<th th:text="#{common.search.detail.content}">상세 내용</th>
						<td>
							<input type="text" class="input-text search-input" name="searchContent" th:placeholder="#{common.search.placeholder.investName}"
								th:value="${searchInfo.searchContent}">
						</td>
					</tr>
				</table>
				<div id="filterBtnWrap">
					<button type="submit" class="is-key-button" th:text="#{common.button.search}">검색</button>
				</div>
			</div>
		</form>
		<div id="listTableContainer">
			<div class="list-save-box">
				<div id="totalList">
					<span id="totalCount" th:text="${totalCnt}"></span><span th:text="#{common.search.result}">건의 검색 결과를 찾았습니다.</span>
				</div>
				<div>
					<a href="/datamng/invst/save" class="is-key-button" th:text="#{invst.invstList.invst.regist}">업무등록</a>
				</div>
			</div>
			<table id="listTable" class="cm-list-table">
				<thead>
					<tr>
						<th th:text="#{common.table.number}">번호</th>
						<th th:text="#{common.table.investType}">조사 유형</th>
						<th th:text="#{invst.common.invest.name}">조사명</th>
						<th th:text="#{common.table.investPeriod}">조사 기간</th>
						<th th:text="#{invst.common.invest.region}">조사 지역</th>
						<th th:text="#{invst.common.invest.manager}">조사 담당자</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${totalCnt > 0}">
						<tr class="table-link" th:each="item,status : ${invstList}"
							th:onclick="|location.href='@{/datamng/invst/{exmnmngId}(exmnmngId=${item.exmnmngId})}'|">
							<td th:text="${@commonUtils.getRownum(paging,status.index)}"></td>
							<td th:text="${item.exmnType.getName()}"></td>
							<td th:text="${item.exmnNm}"></td>
							<td
								th:text="${@commonUtils.formatLocalDateTime(item.startDt,'yyyy-MM-dd')} +' ~ '+ ${@commonUtils.formatLocalDateTime(item.endDt,'yyyy-MM-dd')}">
							</td>
							<td th:text="${item.exmnLc}">
							</td>
							<td th:text="${item.userNm}"></td>
						</tr>
					</th:block>
					<th:block th:if="${totalCnt == 0}">
						<tr>
							<td colspan="6" th:text="#{common.search.result.notExist}">검색 결과가 없습니다.</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div th:insert="tags/paging/paging :: pagingFragment"></div>
	</div>
</th:block>

</html>
<script type="text/javascript">
</script>