<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<div class="is-box">
	        <div>
	            <h3 id="infoTitle" th:text="#{invst.invstSurveyUpdate.title}">OD 조사 수정</h3>
	            <input type="hidden" id="exmnmngId" th:value="${srvyInvstInfo.exmnmngId}">
	        </div>
	        <div class="infoTableWrap">
				<th:block th:each="item : ${exmnMngSrvyList}">
					<div class="quest-container" th:data-sctn-ordr="${item.sectSqno}" th:data-sctn-type="${item.sectType}" th:data-sctn-id="${item.sectId}">
						<div class="quest-wrap">
							<div class="quest-title-wrap">
								<h4 class="quest-title" th:text="${item.sectTitle}"></h4>
								<div class="quest-sub-title" th:text="${item.sectSubtitle}"></div>
							</div>
							<div class="quest-grid-box">
								<th:block th:each="qstnItem : ${item.tmSrvyQstnList}">
									<div class="quest-box">
										<div class="flex-center">
											<h5 class="quest-box-title" th:text="'Q'+${qstnItem.qstnSqno}+'.'"></h5>
											<span class="quest-name" th:data-qstn-type="${qstnItem.qstnTypeCd}" th:data-qstn-ordr="${qstnItem.qstnSqno}" th:data-qstn-id="${qstnItem.qstnId}" th:text="${qstnItem.qstnTitle}"></span>
											<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC001'}">
												<span class="quest-type" th:text="#{invst.invstSurveyUpdate.subjective}">(주관식)</span>
											</th:block>
										</div>
										<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC002'}">
											<div class="list-answer">
												<ul class="all-answer">
													<th:block th:each="ansItem : ${qstnItem.tmSrvyAnsList}">
														<li class="option-list">
															<input type="text" class="answ-content" th:data-answ-id="${ansItem.ansId}" th:data-answ-sort="${ansItem.ansSqno}" th:value="${ansItem.ansCnts}">
															<input type="button" th:onclick="optionRemove(this,[[${ansItem.ansId}]])" value="삭제"/>
														</li>
													</th:block>						
												</ul>
												<div class="list-append">
													<input type="button" class="mr8" onclick="optionAdd(this)" th:value="#{survey.common.button.option.add}"/>
													<input type="button" onclick="optionEtcAdd(this)" th:value="#{survey.common.button.option.etc.add}"/>
												</div>
											</div>
										</th:block>
										<th:block th:if="${qstnItem.qstnTypeCd.getCode() eq 'QTC003'}">
											<div class="list-answer">
												<ul class="all-answer">
													<li class="option-list option-checkd-input-box">
														<th:block th:each="ansItem : ${qstnItem.tmSrvyAnsList}">
															<span class="mr8 answ-content" th:data-answ-sort="${ansItem.ansSqno}" th:text="${ansItem.ansCnts}"></span>
														</th:block>						
													</li>
												</ul>
											</div>
										</th:block>								
									</div>
								</th:block>				
							</div>
						</div>
		        	</div>
				</th:block>
	        </div>
		</div>
		<div class="info-button-box">
            <a th:href="@{/datamng/invst/{exmnmngId}/update(exmnmngId=${srvyInvstInfo.exmnmngId})}" id="" class="is-basic-button" th:text="#{common.button.prePage}">이전 페이지</a>
            <!-- <a href="javascript:void(0);" class="is-key-button" onclick="updateInvstMngSurveySctn();">수정</a> -->
            <input type="button" class="is-key-button overLapping" onclick="updateInvstMngSurveySctn();" th:value="#{common.button.update}"/>
            <a th:href="@{/datamng/invst}" class="is-basic-button" th:text="#{common.button.cancel}">취소</a>
        </div>
	</th:block>
</html>
<script type="text/javascript">
</script>
