<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="is-box">
		<div id="filterWrap">
			<div id="filterTitle">
				<h2 th:text="#{common.search.title}">검색 설정</h2>
			</div>
			<table id="filterTable">
				<colgroup>
					<col width="15%">
					<col width="85%">
				</colgroup>
				<tr>
					<th th:text="#{common.search.detail.content}">상세 내용</th>
					<td>
						<input type="text" class="input-text search-input" id="searchContent" name="searchContent"
								th:value="${searchInfo.searchContent}" th:placeholder="#{alarm.common.placeholder.search.title}">
					</td>
				</tr>
			</table>
			<div id="filterBtnWrap">
				<button type="submit" class="is-key-button" id="searchBtn" th:text="#{common.button.search}">검색</button>
			</div>
		</div>
		
		<div id="listTableContainer">
			<div id="listTableOption">
				<div id="totalList"><span id="totalCount" th:text="${totalCnt}"></span><span th:text="#{common.search.result}"> 건의 검색 결과를 찾았습니다.</span></div>
				<div class="btn-wrap">
					<input type="button" id="allCheck" class="is-sub-button" th:value="#{common.button.selectAll}" />
					<input type="button" class="is-danger-button" th:value="#{common.button.selectDelete}" th:onclick="deleteAlarm()" />
					<input type="button" class="is-key-button" th:onclick="saveAlarm()" th:value="#{common.button.regist}" />
				</div>
			</div>
			<table id="listTable" class="cm-list-table">
				<thead>
					<tr>
						<th th:text="#{common.table.select}">선택</th>
						<th th:text="#{common.table.number}">번호</th>
						<th th:text="#{common.table.subject}">제목</th>
						<th th:text="#{common.table.registDate}">등록일</th>
						<th th:text="#{common.table.writer}">작성자</th>
						<th th:text="#{common.table.exposure}">노출 여부</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${totalCnt > 0}">
						<tr class="table-link" th:each="item, status : ${sriAlarmList}" th:onclick="updateAlarm([[${item.bbsId}]])">
							<td onclick="event.stopPropagation();"><input type="checkbox" name="checkbox" th:value="${item.bbsId}" /></td>
							<td th:text="${@commonUtils.getRownum(paging, status.index)}"></td>
							<td th:text="${item.bbsTitle}"></td>
							<td th:text="${@commonUtils.formatLocalDateTime(item.registDt, 'yyyy-MM-dd')}"></td>
							<td th:text="${item.registId}"></td>
							<td th:text="${item.dspyYn} == 'Y' ? #{common.option.dspyYn.y} : #{common.option.dspyYn.n}"></td>
						</tr>
					</th:block>
					<th:block th:if="${totalCnt == 0}">
						<tr>
							<td colspan="9" th:text="#{common.search.result.notExist}">검색된 결과가 없습니다.</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div th:insert="tags/paging/paging :: pagingFragment"></div>
	</div>
</th:block>

</html>
<script type="text/javascript">
	const allChecked = document.getElementById('allCheck')
	allChecked.addEventListener('click', () => {
		const checkbox = document.querySelectorAll('input[type="checkbox"]');
		const allCheckedResult = Array.from(checkbox).every(check => check.checked);
		checkbox.forEach(checked => {
			checked.checked = !allCheckedResult;
		})
	})

	// 알림 등록
	function saveAlarm() {
		new ModalBuilder().init(message.alarm.invstAlarmList_regist_alarm).ajaxBody(__contextPath__ + "/datamng/alarm/save").footer(3, message.common.button_regist, function (button, modal) {

			const inputValidationItem = document.querySelectorAll('.alarmValue');
			let inputValidation = [];
			inputValidationItem.forEach(input => inputValidation.push(input.value));
			const inputChecked = inputValidation.some(item => item === '');

			if (!inputChecked) {

				fetch(__contextPath__ + "/datamng/alarm/save", {
					method: "POST",
					body: new FormData($("#alarmSave")[0])
				})
					.then(response => response.json())
					.then(result => {
						if (result.code == '200') {
							alert(result.message);
							window.location.reload();
						} else {
							/*new MsgModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function (button, modal) {
								modal.close();
							}).open();*/
							alert(result.message);
						}

					})
			} else {
				alert(message.alarm.invstAlarmList_inputValidation);
			}
		}, message.common.button_cancel, function (button, modal) {
			modal.close();
		}).open();
	}

	// 알림 수정
	function updateAlarm(bbsId) {
		new ModalBuilder().init(message.alarm.invstAlarmList_alarm_detail).ajaxBody(__contextPath__ + "/datamng/alarm/" + bbsId).footer(3, message.common.button_update, function (button, modal) {

			const inputValidationItem = document.querySelectorAll('.alarmValue');
			let inputValidation = [];
			inputValidationItem.forEach(input => inputValidation.push(input.value));
			const inputChecked = inputValidation.some(item => item === '');

			if (!inputChecked) {

				fetch(__contextPath__ + "/datamng/alarm/" + bbsId, {
					method: "PUT",
					body: new FormData($("#alarmUpdate")[0])
				})
					.then(response => response.json())
					.then(result => {
						if (result.code == '200') {
							alert(result.message)
							modal.close();
							window.location.reload();
						} else {
							modal.close();
						}

					})
			} else {
				new ModalBuilder().init().alertBody(message.alarm.invstAlarmList_inputValidation).footer(4, message.common.button_confirm, function (button, modal) {modal.close();}).open();
			}
		}, message.common.button_cancel, function (button, modal) {
			modal.close();
		}).open();
	}

	// 알림 삭제
	function deleteAlarm() {
		new MsgModalBuilder().init().alertBody(message.alarm.invstAlarmList_alarm_delete_confirm).footer(3, message.common.button_confirm, function (button, modal) {
			modal.close();
			const selectedElements = document.querySelectorAll('input[name="checkbox"]:checked');
			const bbsIds = Array.from(selectedElements).map(el => el.value);

			fetch(__contextPath__ + "/datamng/alarm", {
				method: "DELETE",
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({bbsIds: bbsIds})
			})
				.then(response => response.json())
				.then(result => {
					if (result.code == '200') {
						new MsgModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function (button, modal) {
							window.location.href = __contextPath__ + "/datamng/alarm";
							modal.close();
						}).open();
					} else {
						new MsgModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function (button, modal) {
							modal.close();
						}).open();
					}

				})
		}, message.common.button_cancel, function (button, modal) {
			modal.close();
		}).open();
	}
</script>