<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
        <div>
            <h3 id="infoTitle" th:text="#{schedule.scheduleSave.title}">기본 정보</h3>
        </div>
		<div class="list-table-container">
			<div class="list-search-wrap mt48">
				<div class="list-search-box">
					<input type="text" class="input-text" th:placeholder="#{common.search.placeholder.investName}" style="margin:0 8px 0 0;">
					<input type="button" id="invstListButton" class="is-key-button" th:value="#{common.button.search}"/>					
				</div>			
			</div>		
			<div class="mt16">
				<table class="list-table">
					<thead>
		                <tr>
		                    <th th:text="#{invst.common.invest.name}">조사명</th>
		                    <th th:text="#{common.table.investPeriod}">조사 기간</th>
		                    <th th:text="#{schedule.common.invest.time}">조사 시간</th>
		                    <th th:text="#{invst.common.calendar.color}">캘린더 색상</th>
		                </tr>
					</thead>
					<tbody>
		                <tr>
				            <td>조사 검색해서 찾은 내용</td>
				            <td>조사 검색해서 찾은 기간</td>
				            <td>조사 검색해서 찾은 시간</td>
				            <td id="radioColorSet">
				            	<span class="radio-color-box">
					            	<span>
										<label><input type="radio" value="1" name="colorSelcet"/></label>
										<label><input type="radio" value="2" name="colorSelcet"/></label>
										<label><input type="radio" value="3" name="colorSelcet"/></label>
										<label><input type="radio" value="4" name="colorSelcet"/></label>
										<label><input type="radio" value="5" name="colorSelcet"/></label>
										<label><input type="radio" value="6" name="colorSelcet"/></label>
										<label><input type="radio" value="7" name="colorSelcet"/></label>
										<label><input type="radio" value="8" name="colorSelcet"/></label>
										<label><input type="radio" value="9" name="colorSelcet"/></label>
										<label><input type="radio" value="10" name="colorSelcet"/></label>
					            	</span>
									<input type="button" class="input-reset" th:value="#{common.button.save}"/>				            
				            	</span>
				            </td>
		      			</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="invstTableContainer">
	        <div>
            	<h3 class="info-title" th:text="#{schedule.scheduleSave.title.sub}">조사원/일정 등록</h3>
        	</div>
			<div id="infoTableWrap">
				<form id="">
					<table id="infoTable">
						<tr>
							<th th:text="#{common.table.investPeriod}">조사 기간</th>
							<td>
								<input type="text" class="input-text startPicker" th:placeholder="#{common.search.placeholder.date}">
								<span>~</span>
								<input type="text" class="input-text endPicker" th:placeholder="#{common.search.placeholder.date}">
							</td>
							<th th:text="#{schedule.common.invest.time}">조사 시간</th>
							<td>
								<div class="select-date-box flex-justify-left">
									<div class="select-div-box">
										<select class="select-list-box select-hour startHour"></select>
									</div>
									<div class="select-div-box">
										<select class="select-list-box select-minute startMinute"></select>
									</div>
									~
									<div class="select-div-box">
										<select class="select-list-box select-hour endHour"></select>
									</div>
									<div class="select-div-box">
										<select class="select-list-box select-minute endMinute"></select>
									</div>
								</div>								
							</td>
							<th th:text="#{schedule.common.investigators.regist}">조사원 등록</th>
							<td>
								<input type="button" id="interiorInvst" class="is-key-button" th:value="#{schedule.scheduleSave.investigators.internal}"/>
								<input type="button" id="externalInvst" class="is-key-button" th:value="#{schedule.scheduleSave.investigators.general}"/>
							</td>
						</tr>
					</table>
				</form>
				<div id="invstTable">
					<div class="table-total-title">
						<div id="totalList"><span th:text="#{schedule.common.investigators.total}">총 조사원</span><span id="totalCount">6</span><span th:text="#{common.unit.person}">명</span></div>			       	
						<div><input type="button" class="input-reset" th:value="#{schedule.scheduleSave.generate.invest.code}"/></div>					
					</div>
					<table class="list-table">
						<thead>
			                <tr>
			                    <th th:text="#{common.table.number}">번호</th>
			                    <th th:text="#{common.id}">ID</th>
			                    <th th:text="#{common.name}">이름</th>
			                    <th th:text="#{common.contact}">연락처</th>
			                    <th th:text="#{common.email}">이메일</th>
			                    <th th:text="#{common.institution}">소속</th>
			                    <th th:text="#{common.authority}">권한</th>
			                    <th th:text="#{schedule.scheduleDetail.invest.code}">조사코드</th>
			                </tr>
						</thead>
						<tbody>
			                <tr>
					            <td>1</td>
					            <td>inki Moon12</td>
					            <td>문인기</td>
					            <td>inkiMoon@gmail.com</td>
					            <td>010-5555-5555</td>
					            <td>도로 교통</td>
					            <td>운영자</td>
					            <td>DC1HBG</td>
			      			</tr>
						</tbody>
					</table>				
				</div>
			</div> 
		</div>
		<div class="info-button-box">
            <a th:href="@{/systemmng/code/group}" class="is-key-button" th:text="#{common.button.delete}">삭제</a>
            <a th:href="@{/systemmng/code/group}" id="" class="is-basic-button" th:text="#{common.button.cancel}">취소</a>
        </div>		
	</th:block>
</html>
<script>
	$('#radioColorSet input').on('change', function(){
		let radioChecked = $(this).is(':checked');
		if(radioChecked == true) {
			$(this).parent().siblings().removeClass('active');
			$(this).parent().addClass('active');
		}
	})
	
	$('#invstListButton').on('click', function(){
	    new ModalBuilder().init(message.schedule.scheduleSave_find_invest).ajaxBody('/datamng/schedule/invst/list').footer(1, message.common.button_regist, function (button, modal) {}).open();	
	})
	
	$('#interiorInvst').on('click', function(){
	    new ModalBuilder().init(message.schedule.scheduleSave_internal_investigator_regist).ajaxBody('/datamng/schedule/invst/interior/save').footer(1, message.common.button_regist, function (button, modal) {}).open();	
	})
	
	$('#externalInvst').on('click', function(){
	    new ModalBuilder().init(message.schedule.scheduleSave_general_investigator_regist).ajaxBody('/datamng/schedule/invst/external/save').footer(1, message.common.button_regist, function (button, modal) {}).open();	
	})
</script>