<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<div id="scheduleContainer">
			<div id="scheduleDetailContainer">
		        <div class="is-box">
		        	<div class="flex-between">
			            <h3 class="info-title">조사 현황 및 일정 상세</h3>
			            <div>
			            	<input type="button" class="is-key-button" onclick="historyView();" value="이력 보기"/>
			            </div>
		        	</div>
					<div class="infoTableWrap">
						<input type="hidden" id="exmnmngId" th:value="${invstInfo.exmnmngId}">
						<table class="infoTable survey-save-table">
							<tr>
								<th>조사 종류</th>
								<td th:text="${invstInfo.exmnType.getName()}"></td>
								<th>조사명</th>
								<td th:text="${invstInfo.exmnNm}"></td>
							</tr>
							<tr>
								<th>조사 담당자</th>
								<td th:text="${invstInfo.exmnpicId}"></td>
								<th>조사 형태</th>
								<td th:text="${invstInfo.exmnDiv}"></td>
							</tr>
							<tr th:classappend="${invstInfo.exmnType.getType()} eq 'traffic' ? 'none'">
								<th>설문 양식</th>
								<td th:text="${invstInfo.srvyTitle}"></td>
								<th class="survey-objectives">조사 목표 개수</th>
								<td class="survey-objectives" th:text="${invstInfo.goalCnt}"></td>
							</tr>
							<tr>
								<th>조사 기간</th>
								<td th:text="${@commonUtils.formatLocalDateTime(invstInfo.startDt,'YYYY-MM-dd')} +' ~ '+ ${@commonUtils.formatLocalDateTime(invstInfo.endDt,'YYYY-MM-dd')}"></td>					
								<th>조사 시간</th>
								<td th:text="${@commonUtils.formatLocalDateTime(invstInfo.startDt,'HH:mm')} +' ~ '+ ${@commonUtils.formatLocalDateTime(invstInfo.endDt,'HH:mm')}"></td>
							</tr>
							<tr>
								<th>조사 인원</th>
								<td th:text="${invstInfo.exmnNop}"></td>						
								<th>캘린더 색상</th>
								<td><span id="scheduleColor" th:class="${invstInfo.colrCd.getCode()}"></span></td>
							</tr>
							<tr>
								<th>조사 지역</th>
								<td th:text="${invstInfo.exmnLc}"></td>	
								<th class="surveyDirectionBox" th:classappend="${invstInfo.exmnType.getType()} eq 'survey' ? 'none'">도로 차선 수</th>			
								<td th:text="${invstInfo.laneCnt}" th:classappend="${invstInfo.exmnType.getType()} eq 'survey' ? 'none'"></td>	
							</tr>
							<tr th:classappend="${invstInfo.exmnType.getType()} eq 'survey' ? 'none'">
								<th>좌표</th>
								<td id="coordinateDetail" th:text="${invstInfo.lat} +','+ ${invstInfo.lon}"></td>					
								<th>좌표 반경(m)</th>
								<td>
									<span class="locationCircle">
										<input type="text" id="exmnRange" class="input-table-text" th:value="${invstInfo.exmnRange}" />
										<input type="button" id="mapCircleUpdate" class="is-key-button overLapping" value="저장" th:onclick="updateExmnRange([[${exmnmngId}]]);"/>
									</span>
								</td>
							</tr>
							<tr id="tableMap" th:classappend="${invstInfo.exmnType.getType()} eq 'survey' ? 'none'">
								<th>ස්ථානය</th>
								<td colspan="3">
									<span id="detailMap">
										<span id="map"></span>
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<!-- 조사방향 -->
				<th:block th:if="${invstInfo.exmnType.getHasDrct() eq 'true'}">
					<div id="surveyDirectionBox" class="is-box mt24">
						<div>
							<h3 class="info-title">조사 방향</h3>
						</div>
						<div class="infoTableWrap">
							<table class="infoTable">
								<thead>
									<tr>
										<th>번호</th>
										<th>From</th>
										<th>To</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${tmExmnDrctList}">
										<td class="text-center" th:text="${item.drctSqno}"></td>
										<td class="text-center" th:text="${item.startlcNm}"></td>
										<td class="text-center" th:text="${item.endlcNm}"></td>
									</tr>
								</tbody>
							</table>
						</div>
			        </div>				
				</th:block>		
				<div class="is-box mt24">
					<div>
						<h3 class="info-title">කාලසටහනේ විස්තර</h3>	
					</div>
					<div class="infoTableWrap">
						<div class="survey-update">
							<div class="flex-center">
								<span>총 조사원</span>
								<img th:src="@{/images/investigator.png}" alt="user" class="survey-user-img"/>							 
								<strong id="totalCount" th:text="${invstInfo.exmnNop}"></strong>
							</div>
							<div class="survey-button-box">
								<input type="text" class="input-text" id="partcptCd" th:value="${invstInfo.partcptCd}" readonly/>
								<input type="button" class="is-key-button" id="partcptCdBtn" th:data-exist-partcptcd="${invstInfo.partcptCd ne null ? true : false}" th:value="${invstInfo.partcptCd ne null ? '조사코드 수정' : '조사코드 생성'}" th:onclick="partcptCdSave([[${invstInfo.exmnmngId}]]);"/>
							</div>
						</div>			
						<table class="infoTable">
							<thead>
								<tr>
									<th>번호</th>
									<th>이름</th>
									<th>연락처</th>
									<th>이메일</th>
									<th>역할</th>
									<th>등록/추가/삭제</th>
								</tr>
							</thead>
							<tbody id="surveyorAppendBox">
								<th:block th:if="${tmExmnPollsterList != null}">
									<tr th:data-surveyor="${status.index+1}" class="surveyorAppendItem addSurveyor" th:each="item,status : ${tmExmnPollsterList}" th:data-pollster-id="${item.pollsterId}">
										<td class="surveyorNumber" th:text="${status.index+1}"></td>
										<td><input type="text" class="input-table-text surveyorName" name="pollsterNm" th:value="${item.pollsterNm}" readonly=""></td>
										<td><input type="tel" class="input-table-text surveyorPhone" name="pollsterTel" th:value="${item.pollsterTel}" readonly=""></td>
										<td><input type="email" class="input-table-text surveyorMail" name="pollsterEmail" th:value="${item.pollsterEmail}" readonly=""></td>
										<td class="text-center">
											<span class="surveyor-role add-role" th:data-pollster-type="${item.pollsterType}" th:text="${item.pollsterType.getName}"></span>
											<span class="surveyor-role-select none">
												<select class="select-list-box">
													<option value="MEMBER">팀원</option>
													<option value="LEADER">팀장</option>
												</select>
											</span>
										
										</td>
										<td class="text-center">
											<span class="surveyor-button-box">
												<input type="button" class="is-key-button" onclick="listModify(this);" value="수정">
												<input type="button" class="is-danger-button" th:onclick="listRemove(this,[[${item.pollsterId}]]);" value="삭제">
											</span>
											<span class="surveyor-update-button-box none">
												<input type="button" class="is-key-button" onclick="listUpdate(this);" value="저장">
												<input type="button" class="is-basic-button" onclick="listCancel(this);" value="취소">
											</span>
										</td>
									</tr>
								</th:block>
							</tbody>
							<tbody id="surveyorAppendUpdateBox">
								<tr class="surveyorAppendItem">
									<td></td>
									<td><input type="text" id="surveyorName" class="input-table-text surveyorName" placeholder="이름을 입력해주세요."/></td>
									<td><input type="tel" id="surveyorPhone" class="input-table-text surveyorPhone" placeholder="연락처를 입력해주세요."/></td>
									<td><input type="email" id="surveyorMail" class="input-table-text surveyorMail" placeholder="이메일을 입력해주세요."/></td>
									<td class="text-center">
										<select class="select-list-box" id="surveyorRole">
											<option value="MEMBER">팀원</option>
											<option value="LEADER">팀장</option>
										</select>							
									</td>
									<td class="text-center"><input type="button" id="surveyorSaveButton" onclick="listAdd(this);" class="is-key-button" value="추가하기"/></td>
								</tr>
							</tbody>
						</table>
					</div>
		        </div>
	        </div>
	        <div id="historyDiv"></div>
<!--	       	<th:block th:if="${invstInfo.exmnType.getType() eq 'traffic'}" >-->
<!--	       		<th:block th:insert="tags/datamng/scheduleTrafficDetail :: scheduleTrafficFragment"></th:block>-->
<!--	        </th:block>-->
<!--	       	<th:block th:if="${invstInfo.exmnType.getType() eq 'survey'}" >-->
<!--	       		<th:block th:insert="tags/datamng/scheduleSurveyDetail :: scheduleSurveyFragment"></th:block>-->
<!--	        </th:block>-->
		</div>
		<div class="info-button-box">
			<a th:href="@{/datamng/schedule}" class="is-basic-button">이전 페이지</a>
			<th:block th:if="${invstInfo.sttsCd.getStatus() eq 'notYetProgress'}">
				<a href="javascript:void(0)" class="is-key-button" onclick="invstScheduleSave()">저장</a>
			</th:block>
        </div>
	</th:block>
</html>
<script th:inline="javascript">

	//container view toggle
	let container = document.getElementById('scheduleContainer');
	//chart
	const exmnType 		= [[${invstInfo.exmnType.getType()}]];
	
	historyView = () => {
		const exmnmngId = document.getElementById('exmnmngId').value;
		let url = __contextPath__ + "/datamng/schedule/traffic/"+exmnmngId+"/history";
		if(exmnType === 'survey') {
			url = __contextPath__ + "/datamng/schedule/survey/"+exmnmngId+"/history";
		}
		fetch(url)
		.then((response) => {
	    	return response.text();
	  	})
	  	.then((html) => {
			document.querySelector("#historyDiv").innerHTML = html;
			container.classList.add('active');
			if(exmnType === 'survey'){
				chartCustom("historyChart", "#FF8636", 90, 150);
			}
	  	});
	}
	detailView = () => {
		container.classList.remove('active');
	}
	
	
	//tablaDate
	 tableTcDate = (_this) => {
		 const tcDate = document.getElementById('tcDate');
		 const date = _this.querySelector('.table-tc-date').value;
		 
		 tcDate.textContent = date;
		 
		 //table event
		 const allTr = _this.closest('table').querySelectorAll('tr');
		 const tr = _this.closest('tr');
		 allTr.forEach(tr => {
			 tr.classList.remove('active');
		 })
		 tr.classList.add('active');
	 }
	
	const lat 		= [[${invstInfo.lat}]];
	const lon 		= [[${invstInfo.lon}]];
	const exmnRange = [[${invstInfo.exmnRange}]];
	mapboxGl(lon, lat, exmnRange);
	
	//DB 삭제용 Array 전역변수
	let deletePollsterIdArray = new Array();
		
	//좌표반경 변경버튼
	const mapCircleUpdate = document.getElementById('mapCircleUpdate');
	const exmnRangeElement = document.getElementById('exmnRange');
	mapCircleUpdate.addEventListener('click', () => {
		const value =  exmnRangeElement.value;
		if(value !== '') {
			mapRemove();
			mapboxGl(79.88617717550125, 6.9218463186791155, value);			
		}
	})
	
	//조사원 추가 전역 변수
	let nameRegExp = /^[a-zA-Z]+$/;
	let phoneRegExp = /^(010{1})[0-9]{3,4}[0-9]{4}$/i;
	let emailRegExp = /^[a-z0-9A-Z._-]+@[a-z0-9A-Z_-]+\.[a-zA-Z.]*$/i;	
	//조사원추가
	function listAdd(_this){
		const parent = _this.closest('.surveyorAppendItem');
		const name = parent.querySelector('#surveyorName').value;
		const nameValidation = name.replace(/\s/g, '');
		const phone = parent.querySelector('#surveyorPhone').value;
		const phoneValidation = phone.replace(/\s/g, '');
		const mail = parent.querySelector('#surveyorMail').value;
		const role = document.getElementById('surveyorRole');
		const roleText = role.options[role.selectedIndex].innerText; 
		const roleValue = role.options[role.selectedIndex].value; 
		const validationItemBox = _this.closest('#surveyorAppendUpdateBox');
		const tbody = document.querySelector('#surveyorAppendBox');
		const totalAppendValue = document.getElementById('totalCount').innerText;
		const surveroyInputList = ['surveyorName', 'surveyorPhone', 'surveyorMail'];
		
		const trIndex = document.querySelectorAll('.surveyorAppendItem');
		
		const tr = document.createElement('tr');
		tr.setAttribute('data-surveyor', trIndex.length)
		tr.classList.add('surveyorAppendItem');
		tr.classList.add('addSurveyor');
		let html = `<td class="surveyorNumber">${trIndex.length}</td>
					<td><input type="text" class="input-table-text surveyorName" name="pollsterNm" value="${nameValidation}" readonly/></td>
					<td><input type="tel" class="input-table-text surveyorPhone" name="pollsterTel" value="${phoneValidation}" readonly/></td>
					<td><input type="email" class="input-table-text surveyorMail" name="pollsterEmail" value="${mail}" readonly/></td>
					<td class="text-center">
						<span class="surveyor-role add-role" data-pollster-type="${roleValue}">${roleText}</span>
						<span class="surveyor-role-select none">
							<select class="select-list-box">
								<option value="MEMBER">팀원</option>
								<option value="LEADER">팀장</option>
							</select>
						</span>
					</select>
					</td>
					<td class="text-center">
						<span class="surveyor-button-box">
							<input type="button" class="is-key-button" onclick="listModify(this);" value="수정"/>
							<input type="button" class="is-danger-button" onclick="listRemove(this);" value="삭제"/>
						</span>
						<span class="surveyor-update-button-box none">
							<input type="button" class="is-key-button" onclick="listUpdate(this);" value="저장"/>
							<input type="button" class="is-basic-button" onclick="listCancel(this);" value="취소"/>
						</span>
					</td>`
					
		if(nameValidation == "" || nameValidation.length < 4 || !nameRegExp.test(nameValidation)){
			new ModalBuilder().init().alertBody('잘못된 유형의 이름입니다.').footer(4,'확인',function(button, modal){modal.close();}).open();
			return false;
		} else if(phoneValidation == "" || !phoneRegExp.test(phoneValidation)){
			new ModalBuilder().init().alertBody('잘못된 유형의 연락처입니다.').footer(4,'확인',function(button, modal){modal.close();}).open();
			return false;
		} else if(mail == "" || mail.length < 6 || !emailRegExp.test(mail)){
			new ModalBuilder().init().alertBody('잘못된 유형의 이메일입니다.').footer(4,'확인',function(button, modal){modal.close();}).open();
			return false;
		} else {
			
			//조사 가능한 인원 수
			if(Number(totalAppendValue) < trIndex.length) {
				new ModalBuilder().init().alertBody('더 이상 인원을 추가할 수 없습니다.').footer(4,'확인',function(button, modal){modal.close();}).open();
			} else {
				//연락처 값 존재 유무 체크
				if(dupleCheckBySelectAll('.surveyorPhone',phone,trIndex.length-1)){
					new ModalBuilder().init().alertBody('중복된 연락처 정보가 존재합니다. 이메일을 확인해 주세요.').footer(4,'확인',function(button, modal){modal.close();}).open();
					return false;
				}
				
				//이메일 값 존재 유무 체크
				if(dupleCheckBySelectAll('.surveyorMail',mail,trIndex.length-1)){
					new ModalBuilder().init().alertBody('중복된 이메일이 존재합니다. 이메일을 확인해 주세요.').footer(4,'확인',function(button, modal){modal.close();}).open();
					return false;
				}
			
				tbody.append(tr);
				tr.innerHTML = html;
			}
		}
		
		role.options[0].selected = true;
		//등록 후 입력값 초기화 
		surveroyInputList.forEach(remove => document.getElementById(remove).value = '');
		
	}
	
	//조사원 삭제
	function listRemove(_this,pollsterId = ''){
		new ModalBuilder().init().alertBody('조사원을 삭제 하시겠습니까?').footer(3,'확인',function(button, modal){
			if(!isNull(pollsterId))deletePollsterIdArray.push(pollsterId);
			_this.closest('.surveyorAppendItem').remove();
			const trIndex = document.querySelectorAll('.surveyorAppendItem');
			trIndex.forEach((item, index) => {
				item.setAttribute('data-surveyor', index+1)
				item.querySelectorAll('.surveyorNumber').forEach(number => {
					number.textContent = index+1;
				})
			});
			modal.close();
		}, '취소', function(button, modal){
			modal.close();
		}).open();
	}
	
	//조사원 수정
	let closeNameValue, closePhoneValue, closeMailValue, closeRoleValue;
	function listModify(_this){
		const parent = _this.closest('.surveyorAppendItem');
		const buttonBox = parent.querySelector('.surveyor-button-box');
		const buttonUpdateBox = parent.querySelector('.surveyor-update-button-box');
		const roleBox = parent.querySelector('.surveyor-role');
		const roleSelectBox = parent.querySelector('.surveyor-role-select');
		parent.querySelectorAll('.input-table-text').forEach(input => {
			input.readOnly = false;
		})
		buttonBox.classList.add('none');
		buttonUpdateBox.classList.remove('none');
		roleBox.classList.add('none');
		roleSelectBox.classList.remove('none');
		
		//조사원 수정 취소시
		closeNameValue = parent.querySelector('.surveyorName').value;
		closePhoneValue = parent.querySelector('.surveyorPhone').value;
		closeMailValue = parent.querySelector('.surveyorMail').value;
		closeRoleValue = parent.querySelector('.select-list-box').value;
	}
	
	//조사원 저장
	function listUpdate(_this){
		const parent = _this.closest('.surveyorAppendItem');
		const parentIndex = parent.dataset.surveyor;
		const buttonBox = parent.querySelector('.surveyor-button-box');
		const buttonUpdateBox = parent.querySelector('.surveyor-update-button-box');
		const roleBox = parent.querySelector('.surveyor-role');
		const roleSelectBox = parent.querySelector('.surveyor-role-select');
		const name = parent.querySelector('.surveyorName').value;
		const nameValidation = name.replace(/\s/g, '');
		const phone = parent.querySelector('.surveyorPhone').value;
		const phoneValidation = phone.replace(/\s/g, '');
		const mail = parent.querySelector('.surveyorMail').value;		
		
		if(nameValidation == "" || nameValidation.length < 4 || !nameRegExp.test(nameValidation)){
			new ModalBuilder().init().alertBody('잘못된 유형의 이름입니다.').footer(4,'확인',function(button, modal){modal.close();}).open();
			return false;
		} else if(phoneValidation == "" || !phoneRegExp.test(phoneValidation)){
			new ModalBuilder().init().alertBody('잘못된 유형의 연락처입니다.').footer(4,'확인',function(button, modal){modal.close();}).open();
			return false;
		} else if(mail == "" || mail.length < 6 || !emailRegExp.test(mail)){
			new ModalBuilder().init().alertBody('잘못된 유형의 이메일입니다.').footer(4,'확인',function(button, modal){modal.close();}).open();
			return false;
		} else {
			//연락처 값 존재 유무 체크
			if(dupleCheckBySelectAll('.surveyorPhone',phone,parentIndex-1)){
				new ModalBuilder().init().alertBody('중복된 연락처 정보가 존재합니다. 연락처을 확인해 주세요.').footer(4,'확인',function(button, modal){modal.close();}).open();
				return false;
			}
			
			//이메일 값 존재 유무 체크
			if(dupleCheckBySelectAll('.surveyorMail',mail,parentIndex-1)){
				new ModalBuilder().init().alertBody('중복된 이메일이 존재합니다. 이메일을 확인해 주세요.').footer(4,'확인',function(button, modal){modal.close();}).open();
				return false;
			}
			
			parent.querySelectorAll('.input-table-text').forEach(input => {
				input.readOnly = true;
			})
			buttonUpdateBox.classList.add('none');
			buttonBox.classList.remove('none');
			roleSelectBox.classList.add('none');
			roleBox.classList.remove('none');
			
			//변경된 역할
			const selectRole = parent.querySelector('.select-list-box');
			const selectText = selectRole.options[selectRole.selectedIndex].innerText; 
			const selectValue = selectRole.options[selectRole.selectedIndex].value;
			roleBox.textContent = selectText;
			roleBox.setAttribute('data-pollster-type', selectValue)
		}
	}
	
	//조사원 취소
	function listCancel(_this){
		const parent = _this.closest('.surveyorAppendItem');
		const buttonBox = parent.querySelector('.surveyor-button-box');
		const buttonUpdateBox = parent.querySelector('.surveyor-update-button-box');
		const roleBox = parent.querySelector('.surveyor-role');
		const roleSelectBox = parent.querySelector('.surveyor-role-select');
		
		parent.querySelector('.surveyorName').value = closeNameValue;
		parent.querySelector('.surveyorPhone').value = closePhoneValue;
		parent.querySelector('.surveyorMail').value = closeMailValue;
		parent.querySelector('.select-list-box').value = closeRoleValue;
		
		parent.querySelectorAll('.input-table-text').forEach(input => {
			input.readOnly = true;
		})
		
		buttonUpdateBox.classList.add('none');
		buttonBox.classList.remove('none');
		roleSelectBox.classList.add('none');
		roleBox.classList.remove('none');
	}
	
	function invstScheduleSave(){
	    
	    let tmExmnPollsterSaveDTO = new Object();
	    let tmExmnPollsterList = new Array();
	    let totalCount = document.getElementById('totalCount').innerText;
	    
		let addRole = document.querySelectorAll('.add-role');
		
	    let roleValues = Array.from(addRole).map(item => item.dataset.pollsterType);
		if(parseInt(totalCount) === addRole.length){
		    if(!roleValues.includes('LEADER')) {
				new ModalBuilder().init().alertBody('조사원 중 팀장은 1명 존재해야합니다.').footer(4,'확인',function(button, modal){modal.close();}).open(); 
				return false;
			}
		}
				
		let leaderDupleCheck = hasDuplicates(roleValues, 'LEADER');
		if(leaderDupleCheck) {
			new ModalBuilder().init().alertBody('조사원 중 팀장은 1명 존재해야합니다.').footer(4,'확인',function(button, modal){modal.close();}).open(); 
			return false;
		}
		
		const exmnmngId   = document.getElementById('exmnmngId').value;
		const addSurveyor = document.getElementsByClassName('addSurveyor');
		for(let surveyorItem of addSurveyor){
			let tmExmnPollster = new Object();
			const pollsterNm	= surveyorItem.querySelector('.surveyorName').value;
			const pollsterEmail = surveyorItem.querySelector('.surveyorMail').value;
			const pollsterTel	= surveyorItem.querySelector('.surveyorPhone').value;
			const surveyorRole	= surveyorItem.querySelector('.surveyor-role');
			const pollsterType	= surveyorRole.dataset.pollsterType;
			const pollsterId	= surveyorItem.dataset.pollsterId;
			
			tmExmnPollster.pollsterId		= pollsterId;			
			tmExmnPollster.pollsterNm		= pollsterNm;			
			tmExmnPollster.exmnmngId		= exmnmngId;			
			tmExmnPollster.pollsterEmail	= pollsterEmail;			
			tmExmnPollster.pollsterTel		= pollsterTel;			
			tmExmnPollster.pollsterType		= pollsterType;
			tmExmnPollsterList.push(tmExmnPollster);			
		}
		
		tmExmnPollsterSaveDTO.exmnmngId 			= exmnmngId;
		tmExmnPollsterSaveDTO.tmExmnPollsterList 	= tmExmnPollsterList;
		tmExmnPollsterSaveDTO.deletePollsterIdArray	= deletePollsterIdArray;
		
		fetch(__contextPath__+"/datamng/schedule/investigator",{
		method: "POST",
		headers: {
			'Content-Type': 'application/json;charset=utf-8'
		},
		body: JSON.stringify(tmExmnPollsterSaveDTO)
		})
		.then(response => response.json())
		.then(result => {
					if(result.code == '200'){
						new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){
							modal.close();
							window.location.reload();
						}).open();
					}else{
						new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){modal.close();}).open();
					}
				}
		)	
			
	}	
	
	//조사코드 등록/수정 
	function partcptCdSave(exmnmngId){
		
		fetch(__contextPath__+"/datamng/schedule/"+exmnmngId+"/partcptCd",{
			method: "POST",
		})
		.then(response => response.json())
		.then(result => {
					if(result.code == '200'){
						let partcptCd = result.data.partcptCd;
						document.getElementById('partcptCd').value = partcptCd; 
						let partcptCdBtn = document.getElementById('partcptCdBtn');
						let existPartcptCd = partcptCdBtn.dataset.existPartcptcd;
						
						if(existPartcptCd === 'false'){
							partcptCdBtn.setAttribute('data-exist-partcptcd', true);
							partcptCdBtn.value = '조사코드 수정';
						} 
					}else{
						new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){modal.close();}).open();
					}
				}
		)	
	}
	
	//중복체크
	//ex) dupleCheckBySelectAll('.surveyorPhone','본인 index',value))
	//true : 중복 O / false : 중복 X 
	function dupleCheckBySelectAll(elementName,checkValue,_thisIdx){
		const elements = document.querySelectorAll(elementName);
		if(elements.length > 0){
			let elementsValues = Array.from(elements)
										.filter((el, index) => index !== _thisIdx)
										.map(el => el.value);
			return elementsValues.some(s => s.includes(checkValue));
		}
	}
</script>
