<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="is-box quest-validation">
		<div>
			<h3 id="infoTitle" th:text="#{survey.surveyUpdate.title}">조사 설문 수정</h3>
		</div>
		<div id="infoTableWrap">
			<table id="listTable" class="mt16 mb16">
				<input type="hidden" id="srvyId" th:value="${surveyInfo.srvyId}" />
				<input type="hidden" id="cstmYn" th:value="${surveyInfo.cstmYn}" />
				<thead>
					<tr>
						<th th:text="#{common.table.investType}">조사 유형</th>
						<th th:text="#{survey.common.invest.name}">설문명</th>
<!-- 						<th th:text="#{common.table.investPeriod.year}">조사 기간(년)</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div class="select-div-box">
								<select class="select-list-box table-select" id="srvyType">
									<th:block th:each="item : ${srvyTypeCd}">
										<option th:text="${item.cdNm}" th:selected="${surveyInfo.srvyType eq item.cd}"
											th:value="${item.cd}"></option>
									</th:block>
								</select>
							</div>
						</td>
						<td>
							<input type="text" id="srvyTitle" class="input-table-text validation-tag"
								th:placeholder="#{common.search.placeholder.investName}" th:value="${surveyInfo.srvyTitle}" />
						</td>
<!-- 						<td> -->
<!-- 							<div class="select-date-box"> -->
<!-- 								<div class="select-div-box"> -->
<!-- 									<select id="startDt" -->
<!-- 										class="dateYear scroll survey-select-save table-select select-list-box validation-tag" -->
<!-- 										data-validation="selectDate"></select> -->
<!-- 								</div> -->
<!-- 								<span>~</span> -->
<!-- 								<div class="select-div-box"> -->
<!-- 									<select id="endDt" -->
<!-- 										class="dateYear scroll survey-select-save table-select select-list-box validation-tag" -->
<!-- 										data-validation="selectDate"></select> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</td> -->
					</tr>
				</tbody>
			</table>
			<div id="questSurveyList">
				<div id="questDefaultBox" class="quest-add-box text-right none">
					<input type="button" class="is-key-button" onclick="surveySectionHTML();" th:value="#{survey.common.button.section.add}" />
				</div>
				<th:block th:each="item : ${exmnMngSrvyList}">
					<div class="quest-container" th:data-sctn-ordr="${item.sectSqno}"
						th:data-sctn-type="${item.sectType}" th:data-sctn-id="${item.sectId}">
						<div class="quest-wrap">
							<div class="quest-body-wrap">
								<div class="quest-title-wrap">

									<h4 class="quest-title">
										<input type="text" class="input-reset validation-tag" th:value="${item.sectTitle}"
											th:placeholder="#{common.search.placeholder.investName}">
											<input type="button" class="quest-close"
											th:onclick="questContainerRemove(this,[[${item.sectId}]]);">
									</h4>
									<div class="quest-sub-title">
										<input type="text" class="input-reset validation-tag"
											th:value="${item.sectSubtitle}" th:placeholder="#{survey.surveyUpdate.placeholder.invest.subtitle}">
									</div>
									<div class="select-div-box">
										<select class="select-list-box sectTypeCd validation-tag table-select quest-select"
											data-validation="select">
											<th:block th:each="sectTypeItem : ${sectTypeCd}">
												<option th:value="${sectTypeItem.cd}"
													th:selected="${item.sectType eq sectTypeItem.cd}"
													th:text="${sectTypeItem.cdNm}"></option>
											</th:block>
										</select>
									</div>
								</div>
								<div class="quest-grid-box sortable">
									<th:block th:each="qstnItem : ${item.tmSrvyQstnList}">
										<div class="quest-box sortable-box" onmouseover="mouseOverSortable(this);">
											<div class="quest-list-wrap">
												<div class="sortable-handle"><span></span></div>
												<div class="quest-list">
													<div class="quest-title-box">
														<span class="quest-number"
															th:text="'Q'+${qstnItem.qstnSqno}+'.'"></span>
														<span class="quest-name" th:data-qstn-type="${qstnItem.qstnTypeCd}"
															  th:data-metadata="${qstnItem.srvyMetadataCd}"
															th:data-qstn-ordr="${qstnItem.qstnSqno}"
															th:data-qstn-id="${qstnItem.qstnId}">
															<input type="text" class="validation-tag"
																th:value="${qstnItem.qstnTitle}"
																th:placeholder="#{survey.surveyUpdate.placeholder.question}" />
														</span>
														<div class="select-div-box">
															<select class="select-list-box table-select quest-select"
																onchange="optionSelected(this);">
																<th:block th:each="item : ${qstnTypeCd}">
																	<option th:value="${item}"
																		th:selected="${item eq qstnItem.qstnTypeCd}"
																		th:text="${item.getName()}"></option>
																</th:block>
															</select>
														</div>
														<input type="button" class="quest-close"
															th:onclick="questBoxRemove(this,[[${qstnItem.qstnId}]]);" />
													</div>
													<div class="select-div-box mb8">
														<select class="select-list-box table-select quest-select" onchange="optionSelectedMetadata(this);">
															<th:block th:each="item : ${metaTypeCd}">
																<option th:value="${item.cd}"
																		th:selected="${item.cd eq qstnItem.srvyMetadataCd}"
																		th:text="${item.cdNm}"></option>
															</th:block>
														</select>
													</div>
													<!-- 주관식 / 시간 / 위치 / 날짜 -->
													<th:block th:if="${qstnItem.qstnTypeCd.getType() eq 'SINGLE'}">
														<div class="list-answer">
															<div class="quest-view-item">
																<span class="quest-view-img"><img
																		th:src="${qstnItem.qstnTypeCd.getImgPath()}"
																		alt="short"></span>
																<span class="quest-view-text"
																	th:text="${qstnItem.qstnTypeCd.getDesc()}"></span>
															</div>
														</div>
													</th:block>
													<!-- 라디오 / 체크박스 / 셀렉트박스 -->
													<th:block th:if="${qstnItem.qstnTypeCd.getType() eq 'MULTIPLE'}">
														<div class="list-answer">
															<ul class="all-answer">
																<th:block th:each="ansItem : ${qstnItem.tmSrvyAnsList}">
																	<li class="option-list"
																		th:classappend="${ansItem.etcYn eq 'Y' } ? 'optionEtc' ">
																		<input type="text"
																			th:attr="readonly=${ansItem.etcYn eq 'Y' }"
																			class="answ-content validation-tag"
																			th:data-answ-id="${ansItem.ansId}"
																			th:data-answ-sort="${ansItem.ansSqno}"
																			th:value="${ansItem.ansCnts}"
																			th:data-others-yn="${ansItem.etcYn}"
																			th:placeholder="#{survey.surveyUpdate.placeholder.newOption}" />
																		<input type="button"
																			th:onclick="optionRemove(this,[[${ansItem.ansId}]])"
																			th:value="#{common.button.delete}">
																	</li>
																</th:block>
															</ul>
															<div class="list-append">
																<input type="button" class="mr8" onclick="optionAdd(this)"
																	th:value="#{survey.common.button.option.add}">
																<input type="button" onclick="optionEtcAdd(this)"
																	th:value="#{survey.common.button.option.etc.add}">
															</div>
														</div>
													</th:block>
												</div>
											</div>
	
										</div>
									</th:block>
								</div>
								<div class="quest-add-box">
									<input type="button" class="is-sub-button" onclick="questBoxAdd(this);"
										th:value="#{survey.common.button.survey.add}"/>
									<input type="button" class="is-sub-button" onclick="surveySectionHTML();"
										th:value="#{survey.common.button.section.add}"/>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>
	<div class="info-button-box">
		<a th:href="@{/datamng/survey/{srvyId}(srvyId=${surveyInfo.srvyId})}" class="is-basic-button" th:text="#{common.button.cancel}">취소</a>
		<a href="javascript:void(0);" class="is-key-button overLapping" onclick="updateInvstMngSurveySctn();" th:text="#{common.button.save}">저장</a>
	</div>
</th:block>

</html>
<script th:inline="javascript">
// 	const startDt = /*[[${surveyInfo.startDt}]]*/
// 	const endDt = /*[[${surveyInfo.endDt}]]*/
// 		dateYearSet();

// 	if (!isNull(startDt)) {
// 		document.getElementById("startDt").value = startDt.split("-")[0];
// 	}
// 	if (!isNull(endDt)) {
// 		document.getElementById("endDt").value = endDt.split("-")[0];
// 	}

	sectTypeCdArray = /*[[${sectTypeCd}]]*/
</script>