<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="is-box quest-validation">
		<div>
			<h3 class="info-title" th:text="#{survey.surveySave.title}">조사 설문 등록</h3>
		</div>
		<div id="infoTableWrap">
			<table id="listTable" class="mt16 mb16">
				<thead>
					<tr>
						<th th:text="#{common.table.investType}">조사 유형</th>
						<th th:text="#{survey.common.invest.name}">설문명</th>
<!-- 						<th th:text="#{common.table.investPeriod.year}">조사 기간(년)</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<select class="select-list-box table-select" id="srvyType">
								<th:block th:each="item : ${srvyTypeCd}">
									<option th:text="${item.cdNm}" th:value="${item.cd}"></option>
								</th:block>
							</select>
						</td>
						<td>
							<input type="text" id="srvyTitle" class="input-table-text validation-tag"
								th:placeholder="#{common.search.placeholder.investName}" />
						</td>
<!-- 						<td> -->
<!-- 							<div class="select-date-box"> -->
<!-- 								<select id="startDt" -->
<!-- 									class="dateYear survey-select-save scroll table-select select-list-box validation-tag table-select" -->
<!-- 									data-validation="selectDate"></select> -->
<!-- 								<span>~</span> -->
<!-- 								<select id="endDt" -->
<!-- 									class="dateYear survey-select-save scroll select-list-box validation-tag table-select" -->
<!-- 									data-validation="selectDate"></select> -->
<!-- 							</div> -->
<!-- 						</td> -->
					</tr>
				</tbody>
			</table>
			<div id="questSurveyList">
				<div id="questDefaultBox" class="quest-add-box text-right none">
					<input type="button" class="is-key-button" onclick="surveySectionHTML();" th:value="#{survey.common.button.section.add}" />
				</div>
			</div>
		</div>
	</div>
	<div class="info-button-box">
		<a th:href="@{/datamng/survey}" class="is-basic-button" th:text="#{common.button.cancel}">취소</a>
		<input type="button" class="is-key-button overLapping" onclick="saveInvstMngSurveySctn('Y');" th:value="#{common.button.regist}" />
	</div>
</th:block>
</html>
<script th:inline="javascript">
// 	dateYearSet();
	metadataCdArray = /*[[${srvyMetadataCd}]]*/;
	sectTypeCdArray = /*[[${sectTypeCd}]]*/;
	surveySectionHTML();
</script>