<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:replace="fragments/head :: headFragment"></th:block>
	<body th:data-prod="${@environment.getProperty('spring.config.activate.on-profile')} eq 'prod'" onload="disableContextAndDrag()">
		<main id="mainContainer">
			<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
			<section id=mainContentWrap>
				<th:block th:replace="fragments/header :: headerFragment"></th:block>
				<div id="mainContent">
					<div id="mainWrap">
						<th:block layout:fragment="content"></th:block>
					
					</div>
				</div>
			</section>
		</main>
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>
	</body>
</html>
