<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="is-box">
		<form id="searchForm" name="searchForm" th:action="@{/systemmng/auth}">
			<div id="filterWrap">
				<div id="filterTitle">
					<h2 th:text="#{common.search.title}">검색 설정</h2>
				</div>
				<table id="filterTable">
					<colgroup>
						<col width="15%">
						<col width="85%">
					</colgroup>
					<tr>
						<th th:text="#{common.search.selectType}">유형 선택</th>
						<td>
							<select class="select-list-box" name="searchTypeCd">
								<option value="" th:text="#{common.select.select}">유형</option>
								<option th:each="item:${authGrpsList}" th:text="${item.authgrpNm}" th:value="${item.authgrpId}"
									th:selected="${searchInfo.searchTypeCd eq item.authgrpId}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="#{common.search.selectAuth}">권한 선택</th>
						<td>
							<select class="select-list-box" name="searchSttsCd">
								<option value="" th:text="#{common.select.select}">권한 요청</option>
								<option th:each="item:${rqstSttsCd}" th:text="${item.getName()}"
									th:selected="${searchInfo.searchSttsCd eq item.getCode()}" th:value="${item.getCode()}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="#{common.search.detail.content}">상세 내용</th>
						<td>
							<input type="text" class="input-text search-input" name="searchContent" th:value="${searchInfo.searchContent}"
					th:placeholder="#{common.search.placeholder.idOrName}">
						</td>
					</tr>
				</table>
				<div id="filterBtnWrap">
					<button type="submit" id="searchBtn" class="is-key-button"
						th:text="#{common.button.search}">검색</button>
				</div>
			</div>
			<input type="hidden" name="pageNo" value="1">
		</form>
		<!-- <div>
					<a th:href="@{/systemmng/auth/save}" class="is-key-button">등록하기</a>
				</div> -->
		<div class="list-save-box">
			<div id="totalList"><span id="totalCount" th:text="${totalCnt}"></span><span
					th:text="#{common.search.result}">건의 검색 결과를 찾았습니다.</span></div>
			<div>
				<a type="button" class="is-key-button" th:text="#{authRqst.authRqstList.button.setAuth}"
					href="/systemmng/auth/setting"></a>
			</div>
		</div>
		<div id="listTableContainer">
			<table id="listTable" class="cm-list-table">
				<thead>
					<tr>
						<th th:text="#{common.table.number}">번호</th>
						<th th:text="#{common.institution}">소속</th>
						<th th:text="#{authRqst.common.category}">유형</th>
						<th th:text="#{common.id}">ID</th>
						<th th:text="#{common.name}">이름</th>
						<th th:text="#{common.contact}">연락처</th>
						<th th:text="#{common.email}">이메일</th>
						<th th:text="#{authRqst.common.rqstStatus}">권한 요청</th>
						<th th:text="#{common.joinDate}">가입 신청일</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${totalCnt > 0}">
						<!-- 
			                04.03 기획서 반영 주석
			                <tr class="table-link" th:each="item,status : ${authList}" th:onclick="|location.href='@{/systemmng/auth/{authgrpId}(authgrpId=${item.authgrpId})}'|"> -->
						<tr class="table-link" th:each="item,status : ${rqstAuthList}"
							th:onclick="rqstDetail([[${item.authrqstId}]], [[${item.rqstStts}]])">
							<td th:text="${@commonUtils.getRownum(paging,status.index)}"></td>
							<td th:text="${item.bffltdNm}"></td>
							<td th:text="${item.authgrpNm}"></td>
							<td th:text="${item.userId}"></td>
							<td th:text="${item.userNm}"></td>
							<td th:text="${item.userTel}"></td>
							<td th:text="${item.userEmail}"></td>
							<td th:text="${item.rqstStts.name}"></td>
							<td th:text="${@commonUtils.formatLocalDateTime(item.rqstDt, 'yyyy-MM-dd')}"></td>
						</tr>
					</th:block>
					<th:block th:if="${totalCnt == 0}">
						<tr>
							<td colspan="9" th:text="#{common.search.result.notExist}">검색된 결과가 없습니다.</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div th:insert="tags/paging/paging :: pagingFragment"></div>
	</div>
</th:block>

</html>
<script th:inline="javascript">
	// 	const detailButton = document.querySelectorAll('.table-link');
	// 	detailButton.forEach(detail => {
	// 		detail.addEventListener('click', () => {
	// 			new ModalBuilder().init('요청 권한 관리 상세', '600').ajaxBody("/systemmng/auth/detail").footer(3,message.common.button_confirm,function(button, modal){
	// 				modal.close();
	// 			}, '취소', function(button, modal){
	// 				modal.close();
	// 			}).open();
	// 		})
	// 	})
	// 요청 권한 상세
	function rqstDetail(authrqstId, rqstStts) {
		if (rqstStts == /*[[${rqstSttsCd[1]}]]*/) {
// 			alert(message.authRqst.authRqstList_authRqstDetail);
			new ModalBuilder().init(message.authRqst.authRqstList_authRqstDetail, '1000').ajaxBody("/systemmng/auth/" + authrqstId).footer(3, message.common.button_approve, function (button, modal) {
				handlePermission(authrqstId, true);
				modal.close();
			}, message.common.button_reject, function (button, modal) {
				handlePermission(authrqstId, false);
				modal.close();
			}).open();
		} else {
			new ModalBuilder().init(message.authRqst.authRqstList_authRqstDetail, '1000').ajaxBody("/systemmng/auth/" + authrqstId).footer(1, message.common.button_confirm, function (button, modal) {
				modal.close();
			}).open();
		}
	}

	// 요청 권한 승인 또는 거절
	function handlePermission(authrqstId, isApproval) {
		const authgrpId = document.getElementById('authgrpId').value;
		const userId = document.getElementById('userId').value;
		fetch(__contextPath__ + "/systemmng/auth", {
			method: "POST",
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			},
			body: new URLSearchParams({
				authgrpId: authgrpId,
				userId: userId,
				authrqstId: authrqstId,
				isApproval: isApproval
			}).toString()
		})
			.then(response => response.json())
			.then(result => {
				if (result.code == '200') {
					new MsgModalBuilder().init().alertBody(result.data.message).footer(4, message.common.button_confirm, function (button, modal) {
						modal.close();
						window.location.reload();
					}).open();
				} else {
					new MsgModalBuilder().init().alertBody(result.data.message).footer(4, message.common.button_confirm, function (button, modal) {
						modal.close();
					}).open();
				}
			})
	}

	// 권한 설정 모달 페이지
// 	function authSetting() {
// 		new ModalBuilder().init(message.authRqst.authRqstList_setAuth, '1000').ajaxBody("/systemmng/auth/setting").footer(1, message.common.button_regist, function (button, modal) {

			//validation
// 			const inputValidationItem = document.querySelectorAll('.authValue');
// 			let inputValidation = [];
// 			inputValidationItem.forEach(input => inputValidation.push(input.value));
// 			const inputChecked = inputValidation.some(item => item === '');

// 			if (inputChecked) {
// 				alert(message.authRqst.authSetting_emptyValidation);
// 				return false;
// 			}

// 			fetch(__contextPath__ + "/systemmng/auth/setting", {
// 				method: "POST",
// 				body: new FormData($("#authSaveForm")[0])
// 			})
// 				.then(response => response.json())
// 				.then(result => {
// 					if (result.code == '200') {
// 						alert(result.data.message);
// 						const pageNo = document.getElementById('asynchronousPageNo').value;
// 						document.getElementById('authgrpNmInput').value = "";
// 						document.getElementById('authgrpDescrInput').value = "";
// 						asynchronousSearchList(pageNo);
// 					} else {
// 						alert(result.data.message);
// 					}
// 				})
// 		}).open();
// 	}

</script>