<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
        <div>
			<form id="">	
				<div class="is-box">
					<div>
        				<h3 class="info-title" th:text="#{facilities.facilitiesDetail.title}">시설물 상세</h3>
        			</div>
        			<div class="infoTableWrap">
						<table class="infoTable survey-save-table">
							<tr>
								<th th:text="#{facilities.table.type}">장비유형</th>
								<td th:text="${facilityInfo.eqpmntClsf}"></td>							
								<th th:text="#{facilities.table.number}">장비번호</th>
								<td th:text="${facilityInfo.cameraId}"></td>							
							</tr>
<!-- 							<tr> -->
<!-- 								<th th:text="#{common.table.agency}">관리기관</th> -->
<!-- 								<td></td>							 -->
<!-- 								<th th:text="#{common.table.manager}">관리자</th> -->
<!-- 								<td></td>							 -->
<!-- 							</tr> -->
							<tr>
<!-- 								<th th:text="#{common.contact}">연락처</th> -->
<!-- 								<td></td>							 -->
							</tr>
							<tr>
								<th th:text="#{facilities.table.location}">설치위치</th>
								<td th:text="${facilityInfo.instllcNm}"></td>							
								<th th:text="#{facilities.table.direction.code}">방향 코드</th>
								<td th:text="${facilityInfo.drctCd}"></td>
							</tr>
							<tr>
								<th th:text="#{common.table.useYn}">사용 여부</th>
								<td th:text="${facilityInfo.useYn}"></td>
								<th th:text="#{facilities.table.road.code}">도로 코드</th>
								<td th:text="${facilityInfo.roadCd}"></td>
							</tr>
							<tr>
								<th th:text="#{common.table.coordinate.x}">X좌표</th>
								<td th:text="${facilityInfo.lon}">79.92619137078884</td>
								<th th:text="#{common.table.coordinate.y}">Y좌표</th>
								<td th:text="${facilityInfo.lat}">6.9996839117806275</td>
							</tr>
							<tr id="tableMap">
								<th th:text="#{common.table.map}">맵</th>
								<td colspan="3" id="coordinateDetail">
									<span id="mapContainer" class="detailMap">
										<span id="map"></span>
									</span>
								</td>
							</tr>
						</table>
        			</div>
				</div>
			</form>
			<div class="info-button-box">
                <a th:href="@{/systemmng/facilities}" class="is-basic-button cm-leftFix-btn" th:text="#{common.button.prePage}">이전 페이지</a>
                <input type="button" class="is-danger-button" th:onclick="deleteFacility([[${facilityInfo.instllcId}]])" th:value="#{common.button.delete}"/>
				<a th:href="@{/systemmng/facilities/{instllcId}/update(instllcId=${facilityInfo.instllcId})}" class="is-key-button" th:text="#{common.button.update}">수정</a>                
            </div>
        </div>
	</th:block>
</html>

<script th:inline="javascript">
	const lng = /*[[${facilityInfo.lon}]]*/;
	const lat = /*[[${facilityInfo.lat}]]*/;
	(async () => {
		let mapgl = await mapboxGl(lng, lat);
		setMapZoomControl(mapgl);
		setMarker(lng, lat)
	})();
	function deleteFacility(instllcId){
		new MsgModalBuilder().init().alertBody(message.facilities.facilitiesDetail_confirm_delete).footer(3, message.common.button_confirm, function (button, modal) {
			fetch(__contextPath__ + "/systemmng/facilities/"+instllcId, {
				method: "DELETE"
			})
// 				.then(response => response.json())
// 				.then(result => {
// 					if (result.code == '200') {
// 						new MsgModalBuilder().init().alertBody("시설물 수정 완료").footer(4, message.common.button_update, function (button, modal) {
// 							location.href = __contextPath__ + "/systemmng/facilities/"+instllcId;
// 						}).open();
// 					}
// 				})
				.then(response => response.json())
	 			.then(result => {
// 	 				if(result.code == '200'){
// 						alert(message.facilities.facilitiesDetail_complete_delete);
// 						location.href = __contextPath__ + "/systemmng/facilities";
// 	 				}
	 				if (result.code == '200') {
						new MsgModalBuilder().init().alertBody(result.data.message).footer(4, message.common.button_confirm, function (button, modal) {
							location.href = __contextPath__ + "/systemmng/facilities";
						}).open();
					} else {
						new MsgModalBuilder().init().alertBody(result.data.message).footer(4, message.common.button_confirm, function (button, modal) {
							modal.close();
						}).open();
					}
	 			})
		}, message.common.button_cancel, function (button, modal) {
			modal.close();
		}).open();
	}
</script>