<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<div class="screen-division menu-container system-container">
			<div class="is-box menu-tree-box">
				<div class="scroll">
					<th:block th:if="${!#lists.isEmpty(bffltdAuthGrpList)}"> 
						<div class="division-box system-menu-box" th:each="item:${bffltdAuthGrpList}" th:classappend="${item.bffltdNm eq bffltdAuthInfo.bffltdNm ? 'active' : ''}">
							<div class="division-title-box system-title-box">
								<span class="division-title system-title" th:text="${item.bffltdNm}"></span>
								<span><img th:src="@{/images/right_arrow.png}" alt="arrow" class="division-title-arrow"></span>
							</div>
							<ul class="division-menu system-menu" th:style="${item.bffltdNm eq bffltdAuthInfo.bffltdNm} ? 'display:block;' : 'display:none;'">
								<li th:each="subAuth:${item.subAuthGrpList}">
									<a href="javascript:void(0)" th:classappend="${subAuth.authgrpNm eq bffltdAuthInfo.authgrpNm} ? 'on' : ''" th:onclick="setAuthGrp([[${item.bffltdCd}]], [[${item.bffltdNm}]], [[${subAuth}]])" th:text="${subAuth.authgrpNm}">시스템 관리자</a>
								</li>
							</ul>
						</div>
					</th:block>
					<th:block th:if="${#lists.isEmpty(bffltdAuthGrpList)}">
						<span th:text="#{menu.menuList.authority.notExist}">권한이 없습니다.</span>
					</th:block>
				</div>
			</div>
			<div class="menu-table-list-box">
				<div class="is-box list-table-container">
					<table class="list-table">
						<thead>
							<tr>
								<th th:text="#{common.institution}">소속</th>
								<th th:text="#{common.authority}">그룹유형</th>
								<th th:text="#{menu.common.user.count}">소속 인원 수</th>
								<th th:text="#{menu.menuList.authority.setting}">권한</th>
							</tr>
						</thead>
						<tbody id="authGrpTbody">
							<th:block th:if="${!#lists.isEmpty(bffltdAuthGrpList[0].subAuthGrpList)}"> 
								<tr>
									<td id="bffltdNm" th:text="${bffltdAuthInfo.bffltdNm}"></td>
									<td id="authgrpNm" th:text="${bffltdAuthInfo.authgrpNm}"></td>
									<td><span th:text="${totalCnt}"></span><span th:text="#{common.unit.person}">명</span></td>
									<td>
										<input type="button" th:onclick="groupUpdateModal();" class="is-key-button" th:value="#{menu.menuList.authority.setting}"/>
										<input type="hidden" id="bffltdCd" th:value="${bffltdAuthInfo.bffltdCd}"/>
									</td>
								</tr>
							</th:block>
							<th:block th:if="${#lists.isEmpty(bffltdAuthGrpList[0].subAuthGrpList)}">
								<tr>
									<td colspan="4" th:text="#{menu.menuList.authority.notExist}">소속된 그룹유형이 없습니다.</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
				<div class="is-box list-table-container">
					<form id="searchForm" name="searchForm" th:action="@{/systemmng/menu}">
						<input type="hidden" name="pageNo" id="asynchronousPageNo" value="1">
						<div class="menu-list-search-box">
							<input type="hidden" id="authgrpId" name="searchType" th:value="${bffltdAuthInfo.authgrpId}">
							<input type="text" class="input-text" name="searchContent" th:placeholder="#{common.search.placeholder.idOrName}" th:value="${searchInfo.searchContent}">
							<button type="submit" class="is-key-button" th:text="#{common.button.search}">검색</button>
						</div>
					</form>
					<table class="list-table">
						<thead>
							<tr>
								<th th:text="#{common.table.number}">번호</th>
								<th th:text="#{common.institution}">소속</th>
								<th th:text="#{common.authority}">유형</th>
								<th th:text="#{common.id}">ID</th>
								<th th:text="#{common.name}">이름</th>
								<th th:text="#{common.contact}">연락처</th>
								<th th:text="#{common.email}">이메일</th>
							</tr>
						</thead>
						<tbody id="userListTbody">
							<th:block th:if="${totalCnt > 0}">
								<tr class="table-link" th:each="item,status:${userList}">
									<td th:text="${@commonUtils.getRownum(paging,status.index)}">1</td>
									<td th:text="${item.bffltdNm}"></td>
									<td th:text="${item.authgrpNm}">시스템 관리자</td>
									<td th:text="${item.userId}">aaa123</td>
									<td th:text="${item.userNm}">홍길동</td>
									<td th:text="${item.userTel}">010-0000-0000</td>
									<td th:text="${item.userEmail}">aaa123@gmail.com</td>
								</tr>
							</th:block>
							<th:block th:if="${totalCnt == 0}">
								<tr>
									<td colspan="7" th:text="#{common.search.result.notExist}">검색 결과가 없습니다.</td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div id="pagingDiv" th:insert="tags/paging/asynchronousPaging :: pagingFragment"></div>
				</div>
			</div>
		</div>
	</th:block>
</html>
<script type="text/javascript" th:inline="javascript">
	// 그룹 권한 설정
	function groupUpdateModal(){
		const authgrpId = document.getElementById('authgrpId').value;
		new ModalBuilder().init(message.menu.menuList_menu_authority_setting, '500').ajaxBody("/systemmng/menu/group/update/"+authgrpId).footer(3,message.common.button_save,function(button, modal){
			
			let authgrpId		= $("#authgrpId").val();
			let authSaveDTO 	= new Object();
			let tcMenuAuthList 	= new Array();

			let parentMenuList = $('div.modal-auth-depth1-box[name="parentMenu"]');

			parentMenuList.each(function() {
			    let menuElement = $(this);
			    let parentMenuId = menuElement.attr('id');
			    let parentMenuCheckedVal = menuElement.find('input[type="checkbox"]').is(':checked') ? 'Y' : 'N';
			    let parentmenuauthId = menuElement.data('parentmenuauthid');
		        
			    let authParentMenu = {
			    	authgrpId: authgrpId,
		            menuId: parentMenuId,
		            menuauthId: parentmenuauthId,
		            srchYn: parentMenuCheckedVal,
		            inputYn: parentMenuCheckedVal,
		            updtYn: parentMenuCheckedVal,
		            delYn: parentMenuCheckedVal
		        };

		        tcMenuAuthList.push(authParentMenu);

		        let subMenuList = $(`ul[name="subMenuId"][data-parent-menuid="${parentMenuId}"]`);

		        subMenuList.each(function() {
		            let subMenuElement = $(this);
		            let subMenuId = subMenuElement.data('submenuid');
		            let subMenuauthId = subMenuElement.data('menuauthid');

		            let authSubMenu = {
		            	authgrpId: authgrpId,
		                menuId: subMenuId,
		                menuauthId: subMenuauthId,
		                srchYn: subMenuElement.find('[name="srchYn"]').is(':checked') ? 'Y' : 'N',
		                inputYn: subMenuElement.find('[name="inputYn"]').is(':checked') ? 'Y' : 'N',
		                updtYn: subMenuElement.find('[name="updtYn"]').is(':checked') ? 'Y' : 'N',
		                delYn: subMenuElement.find('[name="delYn"]').is(':checked') ? 'Y' : 'N'
		            };

		            tcMenuAuthList.push(authSubMenu);
		        });
			});

			authSaveDTO.authgrpId = authgrpId;
			authSaveDTO.tcMenuAuthList = tcMenuAuthList;

			fetch(__contextPath__ + "/systemmng/menu/", {
			    method: "POST",
			    headers: {
			        'Content-Type': 'application/json;charset=utf-8'
			    },
			    body: JSON.stringify(authSaveDTO)
			})
			.then(response => response.json())
			.then(result => {
			    if (result.code == '200') {
			        new MsgModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function(button, modal) {
			            modal.close();
			        }).open();
			    } else {
			    	throw new Error(result.message);
			    }
			})
			.catch(error => {
			    new MsgModalBuilder().init().alertBody(error.message).footer(4, message.common.button_confirm, function(button, modal) {
			        modal.close();
			    }).open();
			});
			
			modal.close();
		}, message.common.button_cancel,function(button, modal){
			modal.close();
		}).open();		
	}
	
	// 권한 유형 목록에서 권한 유형 선택
	function setAuthGrp(bffltdCd, bffltdNm, authGrp){
		window.location.href="/systemmng/menu?searchType="+authGrp.authgrpId;
	}
</script>