<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<div class="is-box">
			<div class="list-search-wrap">
				<form id="searchForm" name="searchForm" th:action="@{/systemmng/mngr}">
					<input type="hidden" name="pageNo" value="1">
					<div class="list-search-box">
						<!--
						04.03 기획서 반영 주석  
						<select name="searchType" class="select-list-box">
							<option value="all" th:selected="${searchInfo.searchType} == 'all'">전체</option>
							<option value="userId" th:selected="${searchInfo.searchType} == 'userId'">ID</option>
							<option value="userNm" th:selected="${searchInfo.searchType} == 'userNm'">이름</option>
							<option value="userTel" th:selected="${searchInfo.searchType} == 'userTel'">연락처</option>
							<option value="userEmail" th:selected="${searchInfo.searchType} == 'userEmail'">이메일</option>
						</select> -->
						<th:block th:if="${loginUser.userBffltd == 'BFC001'} or ${loginUser.userType.code == 'UTC001'}">
							<select class="select-list-box" name="searchTypeCd">
								<option value="">소속</option>
								<option th:each="item:${bffltdList}" th:text="${item.cdNm}" th:value="${item.cd}" th:selected="${searchInfo.searchTypeCd eq item.cd}"></option>
							</select>
						</th:block>
						<select class="select-list-box ml8" name="searchSttsCd">
							<option value="">승인상태</option>
							<option th:each="item:${sttsCds}" th:text="${item.name}" th:value="${item.code}" th:selected="${searchInfo.searchSttsCd eq item.code}"></option>
						</select>
						<input type="text" name="searchContent" class="input-text" placeholder="검색어를 입력해주세요." th:value="${searchInfo.searchContent}">
						<button type="submit" class="is-key-button">검색</button>
					</div>		
				</form>
			</div>
			<div id="totalList">총 <span id="totalCount" th:text="${totalCnt}"></span>건의 검색 결과를 찾았습니다.</div>
			<div id="listTableContainer">
				<table id="listTable">
					<thead>
		                <tr>
		                    <th>번호</th>
		                    <th>ID</th>
		                    <th>이름</th>
		                    <th>연락처</th>
		                    <th>이메일</th>
		                    <th>소속</th>
		                    <th>상태</th>
		                    <th>가입 신청일</th>
		                </tr>
					</thead>
					<tbody>
		                <th:block th:if="${totalCnt > 0}">
			                <tr class="table-link" th:each="item,status : ${userList}" th:onclick="|location.href='@{/systemmng/mngr/{usermngId}(usermngId=${item.usermngId})}'|">
			                    <td th:text="${@commonUtils.getRownum(paging,status.index)}"></td>
			                    <td th:text="${item.userId}"></td>
			                    <td th:text="${item.userNm}"></td>
			                    <td th:text="${item.userTel}"></td>
			                    <td th:text="${item.userEmail}"></td>
			                    <td th:text="${item.bffltdNm}"></td>
			                    <!-- 
			                    04.03 기획서 반영 주석
			                    <td th:text="${item.authgrpNm}"></td> -->
			                    <td th:text="${item.athrztStts.name}"></td>
			                    <td th:text="${@commonUtils.formatLocalDateTime(item.registDt)}"></td>
			                </tr>
		                </th:block>
		                <th:block th:if="${totalCnt == 0}">
		                	<tr>
		                		<td colspan="9">검색된 결과가 없습니다.</td>
		                	</tr>
		                </th:block>
					</tbody>
				</table>
			</div>
			<div th:insert="tags/paging/paging :: pagingFragment"></div>
		</div>
	</th:block>
</html>
