<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

	<th:block layout:fragment="content">
		<h3 th:text="#{region.regionGnDetail.title}">GN 코드 상세</h3>
		<div>
			<div class="is-box">
				<div>
					<h3 class="info-title" th:text="#{region.common.taz}">TAZ 코드</h3>
				</div>
				<div class="infoTableWrap">
					<table class="infoTable table-all-center">
						<tr>
							<th th:text="#{region.common.taz}">TAZ CODE</th>
							<th th:text="#{region.common.lat}">중앙 위도</th>
							<th th:text="#{region.common.lon}">중앙 경도</th>
						</tr>
						<tr>
							<td th:text="${gnInfo.dstrctCd}">TEST</td>
							<td th:text="${gnInfo.cntrLat}">TEST</td>
							<td th:text="${gnInfo.cntrLon}">TEST</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="is-box">
				<div>
					<h3 class="info-title" th:text="#{region.common.gn}">GN 코드</h3>
				</div>
				<div class="infoTableWrap">
					<table class="infoTable table-all-center">
						<tr>
							<th th:text="#{region.common.gn}">GN CODE</th>
							<th th:text="#{region.common.name}">NAME</th>
							<th th:text="#{region.common.ratio}">비율(%)</th>
						</tr>
						<tr th:each="item:${gnInfo.gnCodeInfoList}">
							<td th:text="${item.gnId}">TEST</td>
							<td th:text="|${item.provinNm} > ${item.districtNm} > ${item.dsdNm}|"></td>
							<td th:text="${item.distrbCnt}">TEST</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="info-button-box">
				<a th:href="@{/systemmng/region}" class="is-basic-button" th:text="#{common.button.prePage}">이전 페이지</a>
				<a th:onclick="deleteGn([[${gnInfo.dstrctCd}]])" class="is-danger-button" th:text="#{common.button.delete}">삭제</a>
				<a th:href="@{/systemmng/region/gn/{dstrctCd}/update(dstrctCd=${gnInfo.dstrctCd})}" class="is-key-button overLapping" th:text="#{common.button.update}">수정</a>
			</div>
		</div>
	</th:block>
</html>

<script>
function deleteGn(dstrctCd){
	fetch(__contextPath__ ="/systemmng/region/gn/"+dstrctCd,{
		method: "DELETE"
	})
	.then(response => response.json())
	.then(result => {
		if (result.code == 200) {
			alert(result.message);
			window.location.href="/systemmng/region";
		} else {
			throw new Error(result.message);
		}
	})
	.catch(error => {
		alert(error.message);
	})
}	
</script>