<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:fragment="trafficStatisticsFragment">
	<div class="statisticsInsertBox">
		<div class="statistics-search-box">
			<form id="searchSurveyForm">
				<div id="faciliySearch">
					<div class="statistics-search-item">
						<h4 class="statistics-search-title" th:text="#{statistics.odStatisticsDashboard.survey.type}">Survey Type</h4>
						<div class="select-div-box">
							<select class="select-list-box table-select-97" id="surveyType" name="surveyType" onchange="facilityType(this);">
								<option value="VDS" th:text="#{facilities.vds}">VDS</option>
								<option value="METROCOUNT_FIXED" th:text="#{facilities.fixed}">Metro Count(fixed)</option>
								<option value="METROCOUNT_MOVED" th:text="#{facilities.portable}">Metro Count(moved)</option>
							</select>
						</div>
<!--						<div id="origin" class="none"></div>-->
					</div>
					<div class="statistics-search-item" id="facilityIdDiv">
						<h4 class="statistics-search-title" th:text="#{statistics.trafficStatisticsDashboard.facility.id}">Facility ID</h4>
						<div class="select-div-box">
							<select class="select-list-box table-select-97 validation-tag" id="fcltsBox" data-validation="select">
								<option value="" th:text="#{common.select.select}"></option>
								<th:block th:each="item : ${vdsList}">
									<option th:value="${item.cameraId}" th:text="${item.cameraId}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div id="VDS">
						<div class="statistics-search-item">
							<h4 class="statistics-search-title" th:text="#{statistics.trafficStatisticsDashboard.site.id}">site ID(site Nm)</h4>
							<div class="select-div-box">
								<select class="select-list-box table-select-97 validation-tag" id="siteId" name="siteId" data-validation="select">
									<option value="" th:text="#{common.select.select}"></option>
								</select>
							</div>
<!--							<div id="VDSLocationSearch" class="none"></div>-->
						</div>
						<div class="statistics-search-item">
							<h4 class="statistics-search-title" th:text="#{statistics.odStatisticsDashboard.survey.year}">Survey Year</h4>
							<div class="select-div-box">
								<select class="dateYear scroll select-list-box table-select-97 validation-tag" id="searchDate" name="searchDate" data-validation="oneDateSelect">
									<option value="" th:text="#{common.select.select}"></option>
								</select>
							</div>
<!--							<div id="destination" class="none"></div>-->
						</div>
					</div>
				</div>
			</form>
			<div class="statistics-search-button">
				<input type="button" id="facilitySearchChange" class="is-key-button wd100" th:value="#{statistics.button.apply}" onclick="searchTrfStatistics('VDS');"/>
			</div>
		</div>
	</div>
	<div class="statistics-search-view">
		<div class="statistics-search-img">
			<img th:src="@{/images/dash_search.png}" alt="serach"/>
			<div th:text="#{statistics.mccStatisticsDashboard.search}">검색조건을 입력 후 검색해주세요.</div>
		</div>
	</div>
	<div class="statistics-list-box none">
		<div class="statistics-content">
			<div class="statistics-sub-header">
				<div id="downloadTitle"></div>
				<input type="button" class="is-key-button" id="excelDownLoadBtn" th:value="#{statistics.button.download}"/>
			</div>
		</div>
	</div>
</th:block>