<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<div class="list-search-wrap">
			<form id="searchForm" name="searchForm" th:action="@{/systemmng/auth}">
				<div class="list-search-box">
					<select class="select-list-box" name="searchType">
						<option value="all" th:selected="${searchInfo.searchType} == 'all'">전체</option>
						<option value="authNm" th:selected="${searchInfo.searchType} == 'authNm'">권한명</option>
						<option value="authDescr" th:selected="${searchInfo.searchType} == 'authDescr'">권한 설명</option>
					</select>
					<input type="text" class="input-text" name="searchContent" th:value="${searchInfo.searchContent}" placeholder="검색어를 입력해주세요.">
					<input type="submit" class="is-key-button" value="검색"/>
				</div>		
			</form>
			<div>
				<a th:href="@{/developer/auth/save}" class="is-key-button">등록하기</a>
			</div>
		</div>
		<div id="totalList">총 <span id="totalCount" th:text="${totalCnt}"></span>건의 검색 결과를 찾았습니다.</div>
		<div id="listTableContainer">
			<table id="listTable">
				<thead>
	                <tr>
	                    <th>번호</th>
	                    <th>권한 이름</th>
	                    <th>권한 설명</th>
	                    <th>수정일</th>
	                    <th>등록일</th>
	                </tr>
				</thead>
				<tbody>
					<th:block th:if="${totalCnt > 0}">
		                <tr class="table-link" th:each="item,status : ${authList}" th:onclick="|location.href='@{/developer/auth/{authId}(authId=${item.authId})}'|">
		                    <td th:text="${@commonUtils.getRownum(paging,status.index)}"></td>
		                    <td th:text="${item.authNm}"></td>
		                    <td th:text="${item.authDescr}"></td>
		                    <td th:text="${@commonUtils.formatLocalDateTime(item.updtDt)}"></td>
		                    <td th:text="${@commonUtils.formatLocalDateTime(item.registDt)}"></td>
		                </tr>
	                </th:block>
	                <th:block th:if="${totalCnt == 0}">
	                	<tr>
	                		<td colspan="5">검색된 결과가 없습니다.</td>
	                	</tr>
	                </th:block>
				</tbody>
			</table>
		</div>
		<div id="paingDiv" th:insert="tags/paging/asynchronousPaging :: pagingFragment"></div>
	</th:block>
</html>
