<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
        <div>
            <h3 id="infoTitle">권한 상세</h3>
        </div>
        <div>
			<div id="infoTableWrap" class="screen-block">
				<input type="hidden" id="authId" name="authId" th:value="${authInfo.tcAuthMng.authId}" />
				<div class="block-tr-box">
					<div class="block-table-wrap">
						<div class="block-th-box">권한 이름 <span class="required">*</span></div>
						<div class="block-td-box">
							<input type="text" id="authNm" name="authNm" th:value="${authInfo.tcAuthMng.authNm}" readonly="readonly" />
						</div>
					</div>
					<div class="block-table-wrap">
						<div class="block-th-box">권한 설명</div>
						<div class="block-td-box">
							<input type="text" id="authDescr" name="authDescr" th:value="${authInfo.tcAuthMng.authDescr}" readonly="readonly" />
						</div>
					</div>
					<div class="block-table-wrap">
						<div class="block-th-box">메뉴 접근 <span class="required">*</span></div>
						<div id="checkControlBox" class="block-td-box">
							<th:block th:each="item : ${authInfo.authMenuList}">
								<label th:classappend="${item.menuAuthCheck} eq 'N' ? 'none'">
									<input type="checkbox" class="menuCheckBox" th:text="${item.menuNm}" th:data-menuid="${item.menuId}" th:checked="${item.menuAuthCheck eq 'Y'}">
								</label>
							</th:block>
						</div>
					</div>
					<th:block th:each="item : ${authInfo.authMenuList}">
						<div class="block-table-wrap check-list-toggle-box" th:id="${item.menuId}" th:classappend="${item.menuAuthCheck} eq 'N' ? 'none'">
							<div class="block-th-box" th:text="${item.menuNm}"></div>
							<div class="block-td-box">
								<th:block th:each="subItem : ${item.subAuthMenuList}">
									<div class="auth-selcet-box" name="subMenuId" th:data-submenuid="${subItem.menuId}" th:data-menuauthId="${subItem.menuauthId}" th:classappend="${subItem.srchYn == 'N' and subItem.inputYn == 'N' and subItem.updtYn == 'N' and subItem.delYn == 'N'} ? 'none'">
										<span th:text="|${subItem.menuNm} -|"></span>
										<label th:classappend="${subItem.srchYn} eq 'N' ? 'none'"><input type="checkbox" class="subMenuCheckBox" name="srchYn">조회</label>							
										<label th:classappend="${subItem.inputYn} eq 'N' ? 'none'"><input type="checkbox" class="subMenuCheckBox" name="inputYn" th:checked="${subItem.inputYn eq 'Y'}">등록</label>							
										<label th:classappend="${subItem.updtYn} eq 'N' ? 'none'"><input type="checkbox" class="subMenuCheckBox" name="updtYn" th:checked="${subItem.updtYn eq 'Y'}">수정</label>							
										<label th:classappend="${subItem.delYn} eq 'N' ? 'none'"><input type="checkbox" class="subMenuCheckBox" name="delYn" th:checked="${subItem.delYn eq 'Y'}">삭제</label>							
									</div>
								</th:block>				
							</div>
						</div>	
					</th:block>
				</div>
			</div>
			<div class="info-button-box">
                <a th:href="@{/developer/auth/update/{authId}(authId=${authInfo.tcAuthMng.authId})}" class="is-key-button">수정하기</a>
                <a href="javascript:void(0)" class="is-key-button" id="authDelete">삭제</a>
                <a th:href="@{/developer/auth}" class="is-basic-button">이전 페이지</a>
            </div>
        </div>
	</th:block>
</html>
<script>
	$('#authDelete').on('click', function(){
		new ModalBuilder().init().successBody("권한을 삭제하시겠습니까?").footer(3,'삭제',function(button, modal){
			let authId = $("#authId").val();
	        fetch(__contextPath__ + "/developer/auth/" + authId,{
				method: "DELETE"
			})
			.then(response => response.json())
  			.then(result => {	
					  			if(result.code == '200'){
									  new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){
										  window.location.href = __contextPath__+"/developer/auth";
									  }).open();
								}else{
									new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){
										  modal.close();
									  }).open();
								}
				  			}
				  )
			
		}, '취소', function(button, modal){
			modal.close();
		}).open();
	})
</script>	