<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
        <div>
            <h3 id="infoTitle">권한 수정</h3>
        </div>
        <div>
			<div id="infoTableWrap">
				<input type="hidden" id="authId" name="authId" th:value="${authInfo.tcAuthMng.authId}" />
				<input type="hidden" id="authgrpId" name="authgrpId" th:value="${authInfo.tcAuthMng.authgrpId}" />
				<div class="block-tr-box">
					<div class="block-table-wrap">
						<div class="block-th-box">권한 이름 <span class="required">*</span></div>
						<div class="block-td-box">
							<input type="text" id="authNm" name="authNm" th:value="${authInfo.tcAuthMng.authNm}" />
						</div>
					</div>
					<div class="block-table-wrap">
						<div class="block-th-box">권한 설명</div>
						<div class="block-td-box">
							<input type="text" id="authDescr" name="authDescr" th:value="${authInfo.tcAuthMng.authDescr}" />
						</div>
					</div>
					<th:block th:each="item : ${authInfo.authMenuList}">
						<div class="block-table-wrap check-list-toggle-box" th:id="${item.menuId}" name="parentMenu" th:data-parentmenuauthId="${item.menuauthId}" th:data-checked-value="${@commonUtils.getAuthMenuAllChecked(item)}">
							<div class="block-th-box" th:text="${item.menuNm}"></div>
							<div class="block-td-box">
								<th:block th:each="subItem : ${item.subAuthMenuList}">
									<div class="auth-selcet-box" name="subMenuId" th:data-submenuid="${subItem.menuId}" th:data-menuauthId="${subItem.menuauthId}" th:data-parent-menuid="${item.menuId}">
										<span th:text="|${subItem.menuNm} -|"></span>
										<label><input type="checkbox" class="subMenuAllCheckBox" th:checked="${@commonUtils.getAuthSubMenuAllChecked(subItem)}">전체 선택/해제</label>							
										<label><input type="checkbox" class="subMenuCheckBox" name="srchYn" th:checked="${subItem.srchYn eq 'Y'}">조회</label>							
										<label><input type="checkbox" class="subMenuCheckBox" name="inputYn" th:checked="${subItem.inputYn eq 'Y'}">등록</label>							
										<label><input type="checkbox" class="subMenuCheckBox" name="updtYn" th:checked="${subItem.updtYn eq 'Y'}">수정</label>							
										<label><input type="checkbox" class="subMenuCheckBox" name="delYn" th:checked="${subItem.delYn eq 'Y'}">삭제</label>							
									</div>
								</th:block>				
							</div>
						</div>	
					</th:block>
				</div>
			</div>
			<div class="info-button-box">
                <a href="javascript:void(0)" class="is-key-button" id="authUpdate">수정</a>
                <a th:href="@{/developer/auth/{authId}(authId=${authInfo.tcAuthMng.authId})}" class="is-basic-button">이전 페이지</a>
            </div>
        </div>
	</th:block>
</html>
<script>
	$('#authUpdate').on('click', function(){
		let authId = $("#authId").val();
		let authgrpId = $("#authgrpId").val();
		let authNm = $('#authNm').val();
		let authDescr = $('#authDescr').val();
		
		let tcAuthMngUpdateDTO = new Object();
		let tcMenuAuthList = new Array();
		
		let parentMenuList = $('div[name="parentMenu"]');
      	for(const menuElement of parentMenuList){
			let tcAuthMngParentMenu = new Object();
	        let parentMenuId = $(menuElement).attr('id');
	        let parentMenuCheckedVal = $(menuElement).attr('data-checked-value'); 
	        let parentmenuauthId = $(menuElement).data('parentmenuauthid');
	        
	        tcAuthMngParentMenu.authId 			= authId;  
	        tcAuthMngParentMenu.menuId   		= parentMenuId;
	        tcAuthMngParentMenu.menuauthId		= parentmenuauthId;
	        tcAuthMngParentMenu.srchYn   		= parentMenuCheckedVal;
	        tcAuthMngParentMenu.inputYn     	= parentMenuCheckedVal;
	        tcAuthMngParentMenu.updtYn     		= parentMenuCheckedVal;
	        tcAuthMngParentMenu.delYn    	 	= parentMenuCheckedVal;
	        tcMenuAuthList.push(tcAuthMngParentMenu);
	         
	        let subMenuList = $('#'+parentMenuId).find('div[name="subMenuId"]');
	         
			//메뉴접근 > 체크된 메뉴들의 서브 메뉴 목록
			for(const subMenuElement of subMenuList){
				
				let tcAuthMngMenu = new Object();
				let subMenuId = $(subMenuElement).data('submenuid');
				let submenuauthId = $(subMenuElement).data('menuauthid');
				let srchYn = $(subMenuElement).find('[name="srchYn"]').is(':checked') ? 'Y' : 'N';
				let inputYn = $(subMenuElement).find('[name="inputYn"]').is(':checked') ? 'Y' : 'N';
				let updtYn = $(subMenuElement).find('[name="updtYn"]').is(':checked') ? 'Y' : 'N';
				let delYn = $(subMenuElement).find('[name="delYn"]').is(':checked') ? 'Y' : 'N';
				
				tcAuthMngMenu.authId 		= authId; 
				tcAuthMngMenu.menuauthId	= submenuauthId; 
				tcAuthMngMenu.menuId 		= subMenuId; 
				tcAuthMngMenu.srchYn 		= srchYn; 
				tcAuthMngMenu.inputYn 		= inputYn; 
				tcAuthMngMenu.updtYn 		= updtYn; 
				tcAuthMngMenu.delYn 		= delYn; 
				
				tcMenuAuthList.push(tcAuthMngMenu);
			} 
		}
		
		tcAuthMngUpdateDTO.authId			 = authId;
		tcAuthMngUpdateDTO.authgrpId		 = authgrpId;
		tcAuthMngUpdateDTO.authNm 		     = authNm;
		tcAuthMngUpdateDTO.authDescr		 = authDescr;
		tcAuthMngUpdateDTO.tcMenuAuthList 	 = tcMenuAuthList;
		fetch(__contextPath__+"/developer/auth/"+authId,{
				method: "PUT",
				headers: {
							'Content-Type': 'application/json;charset=utf-8'
						  },
				body: JSON.stringify(tcAuthMngUpdateDTO)
			})
			.then(response => response.json())
  			.then(result => {
					  			if(result.code == '200'){
									new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){
										modal.close();
										window.location.href = __contextPath__+"/developer/auth/"+result.data.authId;
									}).open();
								}else{
									new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){modal.close();}).open();
								}
				  			}
				  )
		
	})
	
	//서브 메뉴 > 전체 선택/해제 클릭 함수
	$('.subMenuAllCheckBox').on('click', function(){
		let _this = $(this);
		_this.closest('label').siblings().find('.subMenuCheckBox').prop("checked", _this.is(':checked'));
		setParentMenuChecked(_this,_this.is(':checked'));
	})
	
	$('.subMenuCheckBox').on('click', function(){
		let _this = $(this);
 		let allChkBtnVal = false;
		let subMenuDiv = _this.closest('[name="subMenuId"]');
		let subMenuCheckBoxLength = subMenuDiv.find('.subMenuCheckBox').length;
		let subMenuCheckedLength = subMenuDiv.find('.subMenuCheckBox:checked').length;
		
		//메뉴들이 전체가 선택되었으면 전체 선택 Checkbox True Else False
		if(subMenuCheckBoxLength == subMenuCheckedLength) allChkBtnVal = true;
		subMenuDiv.find('.subMenuAllCheckBox').prop('checked', allChkBtnVal);
		setParentMenuChecked(_this,_this.is(':checked'));
	})
	
	function setParentMenuChecked(subMenu,subMenuCheckedVal){
      let parentMenuId = $(subMenu).closest('div').data('parent-menuid');
      let checkedVal = $('#'+parentMenuId).data('checked-value');
      if(subMenuCheckedVal){
         $('#'+parentMenuId).attr('data-checked-value','Y');
      }else{
         if(!$('#'+parentMenuId).find('[type="checkbox"]').is(":checked")){
            $('#'+parentMenuId).attr('data-checked-value','N');
         }
      }
   }
</script>