<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
		<div>
            <h3 id="infoTitle">권한 등록</h3>
        </div>
       	<div id="infoTableWrap">
       		<form id="authGrpSaveForm" name="authGrpSaveForm">
            	<div class="block-tr-box">
	               	<div class="block-table-wrap">
	                  	<div class="block-th-box">권한 이름<span class="required">*</span></div>
	                  	<div class="block-td-box">
	                     	<input type="text" id="authgrpNm" name="authgrpNm" placeholder="권한 이름을 입력해주세요." />
	                  	</div>
	               	</div>
	               	<div class="block-table-wrap">
	                  	<div class="block-th-box">소속</div>
	                  	<div class="block-td-box">
	                     	<select class="select-list-box" name="bffltdCd">
	                        	<option value="">선택</option>
	                        	<option th:each="bffltd,status : ${bffltdList}" th:value="${bffltd.cd}" th:text="${bffltd.cdNm}"></option>
		                    </select>
                  	</div>
	           		</div>
	               	<div class="block-table-wrap">
	                  	<div class="block-th-box">사용 여부</div>
	                  	<div class="block-td-box">
	                     	<select id="useYn" name="useYn" class="select-list-box">
	                        	<option value="Y">사용</option>
	                        	<option value="N">미사용</option>
	                     	</select>
	                  	</div>
	           		</div>
				</div>
       		</form>
	        <div class="info-button-box">
				<a href="javascript:authGrpSave()" class="is-key-button" id="authSave">등록</a>
	            <a th:href="@{/developer/authgrp}" class="is-basic-button">취소</a>
			</div>
		</div>
   </th:block>
</html>
<script>
	function authGrpSave(){
		fetch(__contextPath__+"/developer/authgrp",{
            method: "POST",
            body: new FormData($("#authGrpSaveForm")[0])
		})
		.then(response => response.json())
		.then(result => {
							if(result.code == '200'){
								new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){
									modal.close();
									window.location.href = __contextPath__+"/developer/authgrp";
								}).open();
							}else{
								new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){modal.close();}).open();
							}
						})
	}
</script>