<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<th:block th:fragment="headerFragment">
		<div id="header">
			<div class="header-link">
				<th:block th:if="${menuDepthInfo != null}">
					<a th:if="${not #strings.isEmpty(menuDepthInfo.menuNm)}" class="bread-text"
							th:href="${menuDepthInfo.menuUrlpttrn}" 
							th:text="${menuDepthInfo.menuNm}" id="headerDetph1">접속한 화면의 depth1
					</a>
					
					<th:block th:if="${not #strings.isEmpty(menuDepthInfo.subMenuNm)}">
						<img src="/images/bread_arrow.png" alt="순서">
						<a th:href="${menuDepthInfo.subMenuUrl}" class="bread-text"
							th:classappend="${menuDepthInfo.menuActiveLocation eq 'TWO' ? 'txt-underline on' : ''}" 
							th:text="${menuDepthInfo.subMenuNm}" id="headerDepth2">접속한 화면의 depth2
						</a>
					</th:block>
					<th:block th:if="${not #strings.isEmpty(menuDepthInfo.currentMenuNm)}">
						<img src="/images/bread_arrow.png" alt="순서">
						<a th:href="${menuDepthInfo.currentMenuUrl}" class="bread-text"
							th:classappend="${menuDepthInfo.menuActiveLocation eq 'THREE' ? 'txt-underline on' : ''}" 
							th:text="${menuDepthInfo.currentMenuNm}" id="headerDepth3">접속한 화면의 depth3
						</a>
					</th:block>
	            </th:block>
			</div>
		</div>
	</th:block>
</html>