<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="sidebarFragment">
		<aside id="sideBar">
			<div id="sideBarWrap">
				<div>
					<div id="logoLine">
						<a href="#" id="sideLogoBox">
							<img th:src="@{/images/logo_white.png}" th:alt="#{common.imgAlt.logo}">
						</a>
					</div>
					<div id="sidebarInfo">
						<div id="sidebarUserBox">
							<div id="sidebarUser">
								<img th:src="@{/images/header_user.png}" th:alt="#{common.imgAlt.user}">
								<div th:text="${@loginMngrUtils.getUserNm()}">User Name</div>
							</div>
						</div>
						<div id="sidebarUserInfo">
							<a th:href="@{/mypage}" th:text="#{menu.sidebar.mypage}">마이 페이지</a>
							<a th:href="@{/logout}" th:text="#{menu.sidebar.logout}">로그아웃</a>
						</div>
					</div>
					
					<div id="sideBarList">
						<!-- DB 권한 메뉴 호출 START -->
	 					<th:block th:each="item : ${sideMenuList}"> 
	 						<th:block th:if="${#lists.isEmpty(item.subMenuList)}"> 
 								<a class="side-depth1" th:href="@{/main}">
									 <div class="side-depth1-title-wrap">
										  <img th:src="${item.iconPath}" alt="user">
										  <span class="side-depth1-title" th:text="${item.menuNm}"></span>
									 </div>
								 </a> 
	 						</th:block>		 
	 						<th:block th:if="${!#lists.isEmpty(item.subMenuList)}" th:with="menuUrlpttrn=${@commonUtils.getMenuFirstPath(item.menuUrlpttrn)}"> 
	 							<div class="sidebar-list-box" th:classappend="${#request.getServletPath().startsWith('/'+menuUrlpttrn) ? 'on':''}"> 
	 								<div class="side-depth1"  th:classappend="${#request.getServletPath().startsWith('/'+menuUrlpttrn) ? 'active':''}">
										 <div class="side-depth1-title-wrap">
											  <img th:src="${item.iconPath}" alt="user">
		 									  <span class="side-depth1-title" th:text="${item.menuNm}"></span> 
										 </div>
	 									<span class="depth1-arrow"><img th:src="@{/images/detph1_arrow.png}" alt="화살표"></span> 
	 								</div> 
	 								<ul class="side-depth2-box"> 
	 									<th:block th:each="subItem : ${item.subMenuList}">
	 										<li class="side-depth2" th:classappend="${menuDepthInfo != null and menuDepthInfo.subMenuNm eq subItem.menuNm ? 'active' : ''}"> 
	 											<a th:href="${subItem.menuUrlpttrn}" class="division-title-box" th:text="${subItem.menuNm}"></a> 
	 										</li> 
	 									<th:block> 
	 								</ul> 
	 							</div> 
	 						</th:block>		 
	 					</th:block> 
					</div>
				</div>
			</div>
		</aside>
	</th:block>
</html>
