<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/modalLayout}">
	<th:block layout:fragment="modalContent">
		<div id="infoTableWrap" class="modal-auth-table-set">
			<table id="authListTbody" class="modal-auth-table modal-table">
				<tr>
					<th rowspan="4" style="border-right:1px solid #d3d3d3" th:text="#{myPage.authSave.authority.type}">권한종류</th>
					<th th:text="#{authRqst.common.authName}">권한 이름</th>
					<th th:text="#{authRqst.common.authDescr}">권한 설명</th>
<!-- 					<th>메뉴권한</th> -->
				</tr>
				<tr th:each="item:${authGrp}">
					<td th:text="${item.authgrpNm}" class="text-center"></td>
					<td>
						<textarea class="modal-auth-textarea" th:text="${item.authgrpDescr}" readonly></textarea>
					</td>
<!-- 					<td> -->
<!-- 						<ul th:each="menu:${item.subMenuAuthList}"> -->
<!-- 							<li> -->
<!-- 								<span th:text="'- ' + ${menu.menuNm}"></span> -->
<!-- 								<th:block th:if="${!#lists.isEmpty(menu.subMenuList)}"> -->
<!-- 				                    (<span th:each="subMenu, stat : ${menu.subMenuList}" -->
<!-- 				                               th:text="${subMenu.menuNm} + (${stat.last} ? '' : ', ')"></span>) -->
<!-- 				                </th:block> -->
<!-- 				                비어있을 경우 작동안함 수정필요, 모든권한을 표시할 건지 확인 필요 -->
<!-- 				                <th:block th:if="${#lists.isEmpty(menu.subMenuList)}"> -->
<!-- 				                    <span>권한이 없습니다.</span> -->
<!-- 				                </th:block> -->
<!-- 							</li> -->
<!-- 						</ul> -->
<!-- 					</td> -->
				</tr>
			</table>
			<form id="authRequstForm" name="authRequstForm">
				<table class="modal-table modal-auth-update-table">
					<tr>
						<th th:text="#{authRqst.authRqstDetail.rqstAuth}">신청권한</th>
						<td>
							<div class="select-div-box">
								<select class="select-list-box" id="authgrp">
									<option th:each="item:${authGrp}" th:text="${item.authgrpNm}" th:value="${item.authgrpId}"></option>
								</select>
							</div>
						</td>
						<th th:text="#{authRqst.authRqstDetail.rqstRsn}">신청 사유</th>
						<td>
							<input type="text" class="input-table-text wd100" id="rqstRsn" th:placeholder="#{myPage.authSave.placeholder.rqstRsn}"/>
						</td>
					</tr>
				</table>
			</form>
		</div>		
	</th:block>
</html>
<script>
	
</script>