#fullCalendar {
	display:none;
}
#calendarList {
	display:none;
}
#fullCalendar.active {
	display:flex;
}
#calendarList.active {
	display:block;
}
.calendar-total-box {
	position:relative;
	width:100%;
	margin-top:16px;
	border:1px solid #e5e5e5;
	border-radius:8px;
}
.calendar-total-box:after {
	content:'';
	position:absolute;
	top:50%;
	left:50%;
	width:90%;
	height:2px;
	background-color:#e5e5e5;
	transform:translate(-50%, -50%);
}
.calendar-survey {
	display:flex;
	align-items:center;
}
.calendar-survey dt, .calendar-survey dd {
	position:relative;
	width:18.75%;
	padding:16px;
	text-align:center;
}
.calendar-survey dt:after, .calendar-survey dd:after {
	content:'';
	position:absolute;
	right:0;
	top:50%;
	width:2px;
	height:50px;
	background-color:#e5e5e5;
	transform:translateY(-50%);
	z-index:1;
}
.calendar-survey dd:nth-last-child(1) {
	width:25%;
}
.calendar-survey dd:nth-last-child(1):after {
	display:none;
}
.calendar-survey dd span {
	display:block;
}
.survey-total {
	color:var(--key-color);
	font-weight:500;
}

/* 상세 */
#scheduleColor {
	display:inline-block;
	width:100%;
	height:10px;
	border-radius:6px;
}
.survey-button-box .input-text {
	width:100px;
}
.survey-button-box .input-reset {
	color:var(--key-color);
}
.survey-user-img {
	width:18px;
	height:18px;
	margin:0 3px 0 6px;
}
.surveyorNumber {
	text-align:center;
}
.locationCircle {
	display:flex;
	gap:8px;
}
.locationCircle .input-table-text {
	flex:1;
}
.survey-update {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:8px;
}
.survey-button-box {
	display:flex;
	align-items:center;
}
.survey-button-box .input-text {
	width:110px;
	text-align:center;
	
}
.survey-button-box .input-reset {
	color:var(--key-color);
}

/* fullcalender */
.fc .fc-button-primary {
	background-color:var(--key-color) !important;
	border-color:var(--key-color) !important;
}
.fc-prev-button {
	margin-right:8px !important;
}
.fc .fc-button:disabled {
	opacity:1;
}
.fc .fc-button-primary:focus, .fc .fc-button:focus {
	box-shadow:unset !important;
}
.fc .fc-toolbar {
	align-items:unset !important;
}
.fc-event {
	height:6px;
	font-size:0px;
	pointer-events:none;
}
.fc .fc-daygrid-more-link {
	font-size:10px;
	pointer-events:none;
}
.fc .fc-daygrid-more-link:hover {
	background-color:unset;
}
.fc .fc-button .fc-icon {
	font-size:1.35em;
	vertical-align:text-bottom;
}
.fc-scrollgrid-sync-table td{
	cursor:pointer;
}