#fullCalendar {
	display:none;
}
#calendarList {
	display:none;
}
#fullCalendar.active {
	display:flex;
}
#calendarList.active {
	display:block;
}
.calendar-total-box {
	width:100%;
}
.calendar-survey {
	margin:10px 0;
	display:flex;
	align-items:center;
	gap: 10px;
}
.calendar-survey dt, .calendar-survey dd {
	padding: 20px;
	width:100%;
	background: #F2F3F7;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
.calendar-survey dd span {
	width: 100%;
    text-align: center;
    font-size:18px;
}
.survey-total {
	color:var(--key-color);
	font-weight:500;
}
/* 상세 */
#scheduleColor {
	display:inline-block;
	width:15px;
	height:15px;
	border-radius:30px;
}
.survey-button-box .input-text {
	width:100px;
}
.survey-button-box .input-reset {
	color:var(--key-color);
}
.survey-user-img {
	width:18px;
	height:18px;
	margin:0 3px 0 6px;
}
.surveyorNumber {
	text-align:center;
}
.locationCircle {
	display:flex;
	gap:8px;
}
.locationCircle .input-table-text {
	flex:1;
}
.survey-update {
	display:flex;
	align-items:center;
	justify-content:space-between;
	gap: 10px;
	margin-bottom:10px;
}
.survey-button-box {
	display:flex;
	align-items:center;
	gap: 4px;
}
.survey-button-box .input-text {
	width:110px;
	text-align:center;
	color: var(--key-color);
	font-weight: 400;
}
.survey-button-box .input-reset {
	color:var(--key-color);
}

/* fullcalender */
.fc .fc-button-primary {
	background-color:var(--key-color) !important;
	border-color:var(--key-color) !important;
}
.fc .fc-button:disabled {
	opacity:1;
}
.fc .fc-button-primary:focus, .fc .fc-button:focus {
	box-shadow:unset !important;
}
.fc .fc-toolbar {
	align-items:center !important;
}
.fc-event {
	height:6px;
	font-size:0px;
	pointer-events:none;
}
.fc .fc-daygrid-more-link {
	font-size:10px;
	pointer-events:none;
}
.fc .fc-daygrid-more-link:hover {
	background-color:unset;
}
.fc .fc-button .fc-icon {
	font-size:1.35em;
	vertical-align:text-bottom;
}
.fc-scrollgrid-sync-table td{
	cursor:pointer;
}
.fc-col-header  {
	background:#edf3fd;
}
.fc-theme-standard td, .fc-theme-standard th {
	border: 1px solid #ededed;
}
.fc-theme-standard .fc-scrollgrid {
	border:none;
}
.fc .fc-scrollgrid-section > * {
	border-right-width:0 ;
	border-bottom-width:0 ;
}
.fc .fc-daygrid-day.fc-day-today {
	background-color:rgb(249 247 227);
}
.fc .fc-button {
	background-color: transparent;
    border-radius: 6px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding: 8px 12px;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}
.fc .fc-toolbar.fc-header-toolbar {
	margin-bottom: 10px;
}
#calendarDataHead {
	display: flex;
	gap: 10px;
}
#calendarDataTitle {
	font-weight: 600;
	font-size: 18px;
}
#calendarBtnWrap {
	margin-top: 30px;
	display: flex;
	gap: 10px;
	align-items: center;
}
.calandar-input {
	display: none;
}
.calandar-btn {
	padding: 8px 12px;
	border-radius: 6px;
	border:1px solid #eee;
	background: none;
}
.calandar-input:checked ~ .calandar-btn {
	color:var(--key-color);
	font-weight: 500;
}
.fc .fc-toolbar-title {
	font-weight: 600;
	color: #333;
}
#totalIvtigator {
	color: var(--key-color);
	font-weight: 400;
}