@charset 'UTF-8';

/* button */
.is-button {
	padding:10px 12px;
	color:var(--white);
	font-size:14px;
	font-weight:300;
	border-radius:6px;
	background-color:var(--key-color);
	text-align:center;
	cursor:pointer;
	min-width: 70px;
}
.is-sub-button {
	padding:10px 12px;
	color:var(--white);
	font-size:14px;
	border-radius:6px;
	background-color:#575555;
	text-align:center;
	cursor:pointer;
	min-width: 70px;
	border: none;
}
.is-button:hover, .is-sub-button:hover {
	opacity:0.9;
}
.is-basic-button {
	padding:10px 12px;
	color:var(--white);
	border:none;
	border-radius:6px;
	background-color:#020918;
	cursor:pointer;
	outline:none;
	min-width: 70px;
	text-align: center;
}
.is-danger-button {
	padding:10px 12px;
	color:var(--white);
	border:none;
	border-radius:6px;
	background-color:#cd4545;
	cursor:pointer;
	outline:none;	
	min-width: 70px;
	text-align: center;
}
.is-key-button {
	padding:10px 12px;
	color:var(--white);
	border:none;
	border-radius:6px;
	background-color:var(--key-color);
	cursor:pointer;
	outline:none;
	min-width: 70px;
	text-align: center;
	font-weight: 300;
}
.sm-button {
	min-width: 50px;
}
.cm-leftFix-btn {
	position: absolute;
	left: 0;
}
.is-a-key-button {
	padding:7px 12px;
	color:var(--white);
	border:none;
	border-radius:6px;
	background-color:var(--key-color);
	cursor:pointer;
	outline:none;
	min-width: 70px;
	text-align: center;
	font-weight: 300;
	height: 36px;
	display: block;
}
/* box */
.is-box {
    width: 100%;
    padding:30px;
    background-color:var(--white);
    box-shadow:0px 1px 5px 0px rgb(0 0 0 / 11%);
}
.box-title {
    font-size:18px;
    font-weight: 600;
}
/* header */
.header-title {
    color:var(--key-color);
    font-size:22px; 
    font-weight:600;
}
#mainContainer {
	display:flex;
}
#mainContentWrap {
	width: 100%;
	padding-left: 280px;
	transition: 0.5s;
}
#mainContent {
	padding: 30px;
    width:100%;
}
.dashboard #mainContainer {
	gap:unset;
}
.dashboard #mainContent {
	position:relative;
	/* width:calc(100vw - 280px); */
	height:100vh;
	margin-top:0;
	background-color:transparent;
	box-shadow: unset;
	transition:width 0.2s;
}
.dashboard  #mainWrap {
	padding:0;
}
.dashboard.sidebarActive #mainContent {
	width:100vw;
}
.dashboard.sidebarActive #sideBarWrap {
	opacity:0;
}

/* searchBox */
#searchInputWrap {
	display: flex;
	gap: 10px;
}
#searchResult {
	display: flex;
	align-items: center;
}
.list-search-wrap {
	display:flex;
	justify-content:space-between;
}

/* selectBox */
.list-search-box {
	margin:60px 0 10px 0;
	display:flex;
	justify-content: space-between;
	align-items: end;
}
.search-flex-box {
	display:flex;
	align-items:center;
	gap:8px;
}
.select-date-box {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:8px;
}
.select-div-box {
	position:relative;
}
.select-list-box {
	padding:8px 24px 8px 8px;
    color:#323232;
	border:none;
    border-radius:6px;
    outline: none;
    appearance:none;
    background:#F2F3F7 url('/images/join_select_arrow.png') 93% center / 8px no-repeat;
    min-width: 100px;
}
.table-select{
     border: 1px solid #d7d7d7;
	 background:url('/images/join_select_arrow.png') 93% center / 8px no-repeat !important;
}
.quest-select {
	padding:0 16px 8px 0;
	border:none;
	border-bottom: 1px solid #d7d7d7;
	border-radius: 0;
	background-position-y: 29% !important;
	background-position-x: right !important;
}
.th-select {
	padding:0 0 8px 0;
	border:none;
	border-radius: 0;
	background-position-y: 29% !important;
	background-position-x: right !important;
}
.list-search-box .select-list-box{
    border:none;
    background-color:#F2F3F7;
}
.list-search-wrap .select-list-box {
	border:none;
}
.select-minute-unit {
	width:60px !important;
}
/* input */
.input-text {
	width:360px;
	min-height: 35px;
	padding:0 12px;
	color:#757575;
	border:none;
	border-radius:6px;
	background-color:#F2F3F7;
	outline:none;
}
.input-table-text {
	width:100%;
	padding:8px;
	border:1px solid #d7d7d7;
	border-radius:6px;
	outline:none;
}
.input-info-text {
	width:100%;
	padding:8px 12px;
	border:1px solid #d7d7d7;
	border-radius:6px;
	outline:none;	
}
input[type="checkbox"]:checked {
	accent-color:var(--key-color);
}
input[type="radio"]{
	appearance: none;	
	width: 12px;
	height: 12px;
	border: 1px solid var(--key-color);
	border-radius: 50%;
	outline: none;
	cursor: pointer;	
}
input[type="radio"]:checked {
	border: 3px solid white;
	background-color: var(--key-color);
	box-shadow: 0 0 0 1.6px var(--key-color);
}
.table-input {
	width:80px;
	font-size:14px;
	border:none;
	text-align:center;
	outline:none;
}
.input-reset {
	width:100%;
	padding:0;
	font-size:14px;
	border:none;
	background-color:transparent;
	outline:none;
	/* cursor:pointer; */
}
.table-input-reset {
	width:100%;
	padding:0;
	border:none;
	background-color:transparent;
	outline:none;	
}
.search-input {
	width: 100%;
}
input[type="password"] {
	font-family:sans-serif !important;
}
/* table */
#listTableContainer, .list-table-container {
	
}
#listTable th, #listTable td, #surveyorTable, .list-table th, .list-table td {
	position:relative;
	padding:14px;
	text-align:center;
	vertical-align: middle;
	font-size: 14px;
}
#listTable th, .list-table th{
	background-color:#eef5fd;
	border-top: 2px solid #757575;
	font-weight: 300;
}
#listTable td, .list-table td {
	/* font-weight:500; */
	border-bottom:1px solid #e5e8f3;
	cursor: pointer;
}
#listTable tr.active td, .list-table tr.active td {
	background-color:#f5f5f5;
}
#listTable tr:hover {
	
}
.cm-list-table tr:hover {
	background-color:#eef5fd;
}
.table-flex {
	display:flex;
	align-items:center;
	gap:8px;
}
#filterWrap {
	margin-bottom: 40px;
}
#filterTable {
	margin-top: 16px;
	border-top: 1px solid #e5e8f3;
	border-bottom: 1px solid #e5e8f3;
}
#filterTable tr {
	border-bottom:1px solid #e5e8f3;
}
#filterTable th {
	background: #eef5fd;
}
#filterTable td {
	padding: 16px;
}

.list-table #parentTazTable td {
	border-top: 2px solid #757575;	
}
.list-table #findTazTable th {
	border-top: 2px solid #e5e8f3;
}
.table-all-center th, .table-all-center td {
	text-align:center;
}

/* totalBox */
#totalList {
	font-size:14px;
}
#totalCount {
	color:#ff0000;
	font-weight:400;
}
.list-save-box {
	display:flex;
	justify-content:space-between;
	align-items: center;
	margin:0 0 12px 0;
}
/*.list-save-box > a {*/
/*	display: block;*/
/*}*/
.list-save-box #totalList {
	margin:0;
}
/* required */
.required {
	color:var(--key-color);
}
/* division */
.screen-division {
	display:flex;
}
/* pagination */
#pagination {
  	display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 32px 0;
}
#pagination li a {
	display: block;
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 2px;
}
.page-number.active {
	background:#eef5fd;
}
.page-number:hover {
	background:#eef5fd;
}
#pageLeftArrow {
	 display:inline-block;
	 width:6px;
	 height:12px;
	 background:url('/images/page-arrow-left.png') no-repeat center / cover;
}
#pageRightArrow {
	 display:inline-block;
	 width:6px;
	 height:12px;
	 background:url('/images/page-arrow-right.png') no-repeat center / cover;
}

/* arrow */
.more-icon {
  display:inline-block;
  width:6px;
  height:11px;
  background-image:url('/images/more_arrow.png'); 
  background-size:100%;
  background-repeat:no-repeat;
}
.notice-more-icon {
	display: inline-block;
	width: 6px;
	height: 11px;
	background-image: url('/images/right_arrow.png'); 
	background-size: 100%;
	background-repeat: no-repeat;
}

/* scrollBar */
.scroll::-webkit-scrollbar, .select-list-box::-webkit-scrollbar, .all-answer::-webkit-scrollbar {
	width:7px;
	height:7px;
}
.scroll::-webkit-scrollbar-thumb, .select-list-box::-webkit-scrollbar-thumb, .all-answer::-webkit-scrollbar-thumb {
	width:10px;
	border-radius:10px;
	background-color:#ededed;
}
.scroll::-webkit-scrollbar-track, .select-list-box::-webkit-scrollbar-track, .all-answer::-webkit-scrollbar-track {
	background-color:var(--white);
}

/* text */
.ellipsis {
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

/* datepicker */
.startPicker, .surveyStartPicker {
	margin-left:0;
}
.startPicker, .endPicker, .surveyStartPicker {
	width:180px !important;
}
.list-search-box .datePicker {
	margin:0;
}
.ui-widget-header {
	border: 0px solid #dddddd;
	background: #fff;
}
.ui-datepicker-calendar>thead>tr>th {
	font-size: 14px !important;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 10px 0;
}
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
	html .ui-button.ui-state-disabled:active {
	border: 0px solid #c5c5c5;
	background-color: transparent;
	font-weight: normal;
	color: #454545;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 0em;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	padding: 0px;
	/* font-weight: bold; */
}
.ui-datepicker {
	display: none;
	background-color: #fff;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 20px;
	padding-bottom: 10px;
	width: 300px;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}
.ui-widget.ui-widget-content {
	border: 1px solid #eee;
}
#datepicker:focus>.ui-datepicker {
	display: block;
}
.ui-datepicker-prev, .ui-datepicker-next {
	cursor: pointer;
}
.ui-datepicker-next {
	float: right;
}
.ui-state-disabled {
	cursor: auto;
	color: hsla(0, 0%, 80%, 1);
}
.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
}
.ui-datepicker-calendar {
	width: 100%;
}
.ui-datepicker-calendar>thead>tr>th {
	padding: 5px;
	font-size: 20px;
	font-weight: 400;
}
.ui-datepicker-calendar>tbody>tr>td>a {
	color: #000;
	font-size: 12px !important;
	font-weight: bold !important;
	text-decoration: none;
}
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
}
.ui-datepicker-calendar>tbody>tr>td {
	border-radius: 100%;
	width: 44px;
	height: 30px;
	cursor: pointer;
	padding: 5px;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
}
.ui-datepicker-calendar>tbody>tr>td:hover {
	background-color: transparent;
	opacity: 0.6;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
	.ui-button:hover, .ui-button:focus {
	border: 0px solid #cccccc;
	background-color: transparent;
	font-weight: normal;
	color: #2b2b2b;
}
.ui-widget-header .ui-icon {
	background-image: url('../images/btns.png');
}
.ui-icon-circle-triangle-e {
	background-position: -20px 0px;
	background-size: 36px;
}
.ui-icon-circle-triangle-w {
	background-position: -0px -0px;
	background-size: 36px;
}
.ui-datepicker-calendar>tbody>tr>td:first-child a {
	color: red !important;
}
.ui-datepicker-calendar>tbody>tr>td:last-child a {
	color: #0099ff !important;
}
.ui-datepicker-calendar>thead>tr>th:first-child {
	color: red !important;
}
.ui-datepicker-calendar>thead>tr>th:last-child {
	color: #0099ff !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 0px;
	background: #f1f1f1;
	border-radius: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.inp {
	padding: 10px 10px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: 0px;
}
.inp:focus {
	outline: none;
	background-color: #eee;
}
.ui-datepicker-calendar .ui-state-active {
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 50%;
  	background-color: var(--key-color) !important;
}
.datepicker-days {
   display: none ;
}
.datepicker-months {
   display: none ;
}
.datepicker-years {
   display: block ;
}

.ui-datepicker-month-year .ui-datepicker-calendar>tbody>tr>td:first-child a {
	color: unset !important;
}
.ui-datepicker-month-year .ui-datepicker-calendar>tbody>tr>td:last-child a {
	color: unset !important;
}
.ui-datepicker-month-year .ui-datepicker-calendar>thead>tr>th:first-child {
	color: unset !important;
}
.ui-datepicker-month-year .ui-datepicker-calendar>thead>tr>th:last-child {
	color: unset !important;
}
.ui-datepicker-month-year .ui-state-highlight, .ui-datepicker-month-year .ui-widget-content .ui-state-highlight, 
.ui-datepicker-month-year .ui-widget-header .ui-state-highlight {
	border-radius:8px;
}
.ui-datepicker-month-year .ui-datepicker-calendar .ui-state-active {
	border-radius:8px !important;
	background-color:#b7cef1 !important;
}
/* table-seclet-filter */
.table-filter {
    color: var(--white);
    border: none;
    border-radius: 0.625rem;
    background: transparent;
    outline: none;
}
.table-filter option {
    color:var(--black);
}

/* scheduleColor */
.SBC001 {background-color:#FFC2EE;}
.SBC002 {background-color:#ABDEE6;}
.SBC003 {background-color:#FAD8FA;}
.SBC004 {background-color:#F6EAC2;}
.SBC005 {background-color:#FFCCB6;}
.SBC006 {background-color:#FFAEAE;}
.SBC007 {background-color:#FCD4A6;}
.SBC008 {background-color:#CCCFFF;}
.SBC009 {background-color:#A9DBFF;}
.SBC010 {background-color:#A6FCB2;} 

/* validation */
.validation-tag.tag-invalid, .select-list-box.tag-invalid {
	border:1px solid var(--key-color);
}
/*에러페이지*/
#errorContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#errorWrap {
    display: flex;
    flex-direction:column;
    gap:10px;
	text-align: center;
}
#errorContainer > div {
	width:100%;	
}
#errorImg img {
	width: 70px;
}
#errorTitle h2 {
	color: var(--key-color);
	font-weight: 400;
}
#errorSubTitle {
	font-weight: 300;
    color: #474747;
    font-size: 16px;
}
#errorBtn button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    min-width: 80px;
    border-radius: 6px;
    border: 1px solid #575555;
    text-align: center;
    margin: 20px auto;
    color: #575555;
    font-weight: 300;
}
.cm-csimg {
	cursor: pointer;
	width: 16px;
}
#filterBtnWrap {
	margin-top: 10px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
#filterTitle h2 {
	font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--key-color);
}
.btn-wrap {
	display: flex;
	align-items: center;
	gap: 8px;
}
.btn-wrap-end {
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: end;
}

/* loading Start */
#loadingContainer {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    z-index:9999;
}

#loadingWrap {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
#loadingCircle,
#loadingCircle div,
#loadingCirclediv:after {
  box-sizing: border-box;
}
#loadingCircle {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#loadingCircle div {
	color: var(--white);
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
#loadingCircle div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17px;
  border-radius: 20%;
  background: currentColor;
}
#loadingCircle div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
#loadingCircle div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
#loadingCircle div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
#loadingCircle div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
#loadingCircle div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
#loadingCircle div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
#loadingCircle div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
#loadingCircle div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
#loadingCircle div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
#loadingCircle div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
#loadingCircle div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
#loadingCircle div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.each-loader {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.loader {
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#3271D1) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
        radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
}

@keyframes l4 {to{transform: rotate(1turn)}}

.loader-bg {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#999;
    opacity: 0.6;
    z-index: 9998;
}

/* loading End */
.modal-find-img {
	position: absolute;
    top: 13px;
    right: 15px;
    padding: 6px;
    border-radius: 4px;
    background: var(--white);
}
#invstSaveForm .modal-find-img {
	background:unset;
}
.find-img {
	width: 20px;
	display: block;
}
#TabBtnWrap {
	display: flex;
    margin-bottom: 20px;
    gap: 6px;
    border-bottom: 2px solid #F2F3F7;
}
.cm-tab-btn {
	padding: 8px;
    min-width: 100px;
    background:#F2F3F7;
    text-align: center;
    border-radius: 6px 6px 0 0;
}
.cm-tab-btn.on {
	background: var(--key-color) !important;
	color: var(--white);
}
.cm-code-title {
	font-size: 16px;
	font-weight: 400;
	color: var(--key-color);
}
.cm-table-line {
	margin-top:20px ;
}
#fileWrap {
	display: flex;
}
#fileUploadInput {
	display: none;
}
.file-upload-btn {
	display: flex;
}
.file-up-btn {
	padding:8px 14px;
	background: var(--key-color);
	border-radius: 6px;
	color: var(--white);
	display: flex;
	align-items: center;
	gap: 8px;
}
.file-img {
	width: 14px;
	display: block;
}
#uploadFileWrap {
	margin-top: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 6px;
}
.file-list {
	display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px;
    border-radius: 30px;
    background: #efefef;
}
.file-name {
	max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.file-delete {
	background: none;
	border: none;
	outline: none;
	background: url('/images/upload_close.png') no-repeat center / cover;
	width: 14px;
	height: 14px;
	cursor: pointer;
}
.cm-textarea {
	padding: 8px;
	width:100%;
	height: 200px;
	border: 1px solid #d7d7d7;
	border-radius:6px;
	outline: none;
}
.col-table td {
	text-align: center;
}
.btn__list {
	width: 47%;
}