@charset "UTF-8";

#header {
	position:relative;
	padding:14px 30px;
	color:var(--white);
	background-color:var(--white);
	box-shadow: 1px 1px 8px 0px rgba(163, 163, 163, 0.11);
	width: 100%;
}
.header-link {
	display: flex;
	gap:10px;
	align-items: center;
}
.bread-text {
	
}
.bread-text.on {
	color: var(--key-color);
    font-weight: 400;
    border-bottom: 1px solid var(--key-color);
}