@charset "UTF-8";

.quest-box, .quest-title-wrap {
	/* width:780px; */
	margin-top:16px;
	padding:16px;
	border-radius:6px;
	background: #fff;
}
.quest-title .input-reset {
	margin-bottom:4px;
	padding-bottom:4px;
	font-size:20px;
}
.quest-sub-title .input-reset {
	margin-bottom:10px;
	padding-bottom:4px;
}
.quest-title .input-reset:focus, .quest-sub-title .input-reset:focus {
	border-bottom:1px solid #d3d3d3;
}
.quest-box input[type="text"] {
	display:inline-block;
	width:100%;
	padding-bottom:8px;
	border:none;
	border-bottom:1px solid #d3d3d3;
	outline:none;
}
.quest-box input[type="text"]:focus {
	border-color:#323232;
	transition: border-bottom 0.2s;
}
/*.quest-grid-box {*/
/*	column-count:2;*/
/*	margin-top:16px;*/
/*}*/
.quest-grid-box {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.quest-grid-box > .quest-box {
	width:calc(50% - 16px);
/*	display:grid;*/
	break-inside: avoid;
	margin-top:0;
	padding: 0;
	flex-grow: 1;
}
.quest-box-detail {
	padding: 16px !important;
}
.quest-list-wrap {
	display: flex;
/*	align-items: center;*/
	height: 100%;
}
.quest-list {
	padding: 20px;
	width: 100%;
}
.quest-head {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.quest-title {
	display:flex;
	align-items:start;
	gap:8px;
	margin-bottom:8px;
	font-size:20px;
}
.quest-number {
	font-size: 16px;
    font-weight: 400;
    color: var(--key-color);
}
.quest-title .select-div-box {
	flex:1;
}
.quest-sub-title {
	font-size:14px;
}
.quest-title-box {
	display:flex;
	align-items:baseline;
	width:100%;
	margin-bottom:8px;
	gap: 8px;
}
.quest-title-box .select-type-box{ 
	margin:0;
	margin-left:8px;
}
.quest-title-select {
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:25%;
}
.quest-name {
	flex:1;
}
.quest-close {
	display:inline-block;
	width:12px;
	height:13px;
	border:none;
	background: url('/images/quest_close.png') no-repeat center center / cover;
	outline:none;
	cursor:pointer;
}
.quest-view-item {
	display:flex;
	gap:6px;
	align-items: center;
	padding-bottom:8px;
	border-bottom:1px solid #d3d3d3;
}
.quest-view-img {
	width:14px;
}
.quest-view-img img {
	display: block;
	width:100%;
}
.quest-view-text {
	flex:1;
}
.sortable-handle {
	padding: 10px;
	height: 100%;
	cursor:pointer;
	display: flex;
	align-items: center;
	border-right: 1px solid #efefef;
}
.sortable-handle span {
	display:inline-block;
	width:23px;
	height:16px;
	margin:0 auto;
	background: url('/images/sortable.png') no-repeat center center / cover;
} 
.short-answer {
	width:100%;
	height:36px;
	margin-top:14px;
	border:1px solid #d3d3d3;
}
.option-list {
	display:flex;
}
.option-list, .list-append {
	margin-top:8px;
}
.option-list:nth-child(1), .list-append:nth-child(1) {
	margin-top:0;
}
.list-append input[type="button"] {
	padding:0;
	font-size:14px;
	border:none;
	background-color:transparent;
	cursor:pointer;
	color: var(--key-color);
}
.all-answer input[type="button"] {
	width:5%;
	padding:0;
	font-size:12px;
	border:none;
	background-color:transparent;
	text-align:right;
	cursor:pointer;
	color: #ff0000;
}
#sectionAddButton {
	position:absolute;
	left:0;
}
.quest-label {
	display:flex;
	justify-content:space-between;
	width:780px;
	margin-top:16px;
	padding-top:16px;
	font-weight:600;
	border-top:1px solid #d3d3d3;
}
.quest-container:nth-child(1) .quest-label {
	margin-top:0;
	border:none;
}
.quest-add-box {
	margin-top: 16px;
	display: flex;
	gap: 8px;
}

.radio-color-box {
	display:inline-block;
	margin-top:8px;
}
#radioColorSet label {
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:6px;
	opacity:0.2;
	cursor:pointer;
	border-radius: 20px;
}
#radioColorSet label.active {
	opacity:1;
}
#radioColorSet label input {
	display:none;
}
.scheduleTime .select-hour, .scheduleTime .select-minute {
	padding-left:0;
	background-position:80% 50%;
	background-color: transparent;
}
.table-total-title {
	display:flex;
	justify-content:space-between;
	align-items:baseline;
}
.table-total-title .input-reset:hover {
	color:var(--key-color);
}
#uploadWrap {
	margin-bottom:60px;
}
#uploadListBox {
	display:flex;
	gap:16px;
	margin-top:8px;
	padding:8px;
	border:1px solid #d3d3d3;
}
.upload-list {
	position:relative;
	margin-left:18px;
}
.upload-list:before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--key-color);
    transform: translateY(-50%);
}
.list-item {
	display:flex;
	align-items:center;
	gap:6px;
}
.list-item img {
	width:12px;
}
.text-area {
	width:100%;
	border:none;
	resize:none;
}
.total-save-box {
	align-items:baseline !important;
}


/* 3/14 */
.quest-container {
	margin-top:36px;
}
.quest-wrap {
	background: #efefef;
    border: 1px solid #e5e8f3;
    border-radius: 6px;
    overflow: hidden;
}
.quest-wrap .quest-title-wrap {
	position: relative;
	padding-left: 30px;
	overflow: hidden;
	margin:0 !important;
}
.quest-title-wrap::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 100%;
	background: var(--key-color);
}
.quest-select-title {
	display: flex;
	gap: 8px;
}
.quest-body-wrap {
	padding: 20px;;
}
.quest-box-title {
	font-size:16px;
}
.quest-div-input {
	width:100%;
	height:32px;
	margin-top:8px;
	padding-left:8px;
	border:1px solid #666;
	border-radius:8px;
}
.quest-option {
	width:160px;
}
.option-checkd-input-box {
	align-items:center;
}
.option-checkd-input-box .quest-div-input{
	width:auto;
	flex:1;
}
.quest-type {
	font-size:14px;
}
.axleload-type-box {
	display:flex;
	margin-top:8px;
}
.axleload-type-box .input-text {
	flex:1;
	margin-left:0;
}
.input-direction {
	width:45%;
}
.survey-save-table th {
	width:15%;
}
.survey-save-table td {
	width:30%;
}
/* .survey-detail-container {
	position:relative;
}
.survey-detail-box {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:calc(100vh - 150px) !important;
	opacity:0;
	transition:opacity 0.6s;
	pointer-events:none;
}
.survey-quest-detail {
	width:100%;
	position:absolute;
	top:-10000px;
	right:0;
	opacity:0;
	transition:opacity 0.6s;
	pointer-events:none;
}
.survey-detail-box.active {
	opacity:1;
	pointer-events:unset;
}
.survey-quest-detail.active {
	top:0;
	opacity:1;
	pointer-events:unset;
} */
.survey-info-list {
	display:none;
}
.survey-quest-list {
	display:none;
}
.survey-info-list.active, .survey-quest-list.active {
	display:block;
}
.survey-ex-radio {
	margin-top:6px;
	margin-right:6px;
}


/* .survey-loaction-box select {
	margin-right:6px;
	background: url(../images/join_select_arrow.png) no-repeat 95% 50%;
    background-size: 10px 7px;
} */
.survey-loaction-box select:nth-last-child(1) {
	margin-right:0;
}

/* #scheduleContainer.active #scheduleDetailContainer {
	display:none;
}
#scheduleContainer.active #scheduleHistoryContainer{
	display:block !important;
} */

.histroy-flex-box {
	display:flex;
	gap:16px;
	margin-top:16px;
	overflow:auto;
}
.history-cm-box {
	padding: 20px;
    border: 1px solid #efefef;
    border-radius: 12px;
}
.chart-box {
	width: 100%;
	position: relative;
}
.survey-history-txt-box {
	display:flex;
	justify-content:space-between;
}
.survey-history-txt-box:nth-last-child(1) {
	margin-bottom:0;
}
.survey-history-txt {
	position: relative;
	width:160px;
	padding-left: 10px;
}
.survey-history-txt::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 4px;
	height: 4px;
	background:var(--key-color);
	border-radius: 20px;	
}
.history-date-box {
	/* text-align:right; */
	margin-bottom:16px;
}
.history-table-info {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.history-data-table-box {
	height:500px;
	padding-right:6px;
	overflow-y:auto;
}
/* chart */
.history-chart {
	margin-bottom: 16px;
}
.chart-title {
	font-size:14px;
	font-weight:400;
	color:#03bbaa;
}
.chart {
    width:50%;
    margin: 16px auto 0 auto;
}
.history-chart-box {
    width: 600px;
}
.history-table-box {
	width: 2000px;
}
.percent {
	position:absolute;
	top:49%;
	left:51%;
	font-size:36px;
	transform:translate(-50%, -50%);
	font-weight: 400;
}
.units-box {
	display:flex;
	justify-content:center;
	margin-top:8px;
}
.history-tc-box {
	width:30%;
	height:414px;
}

.tcTiemWrap {
	width:100%;
	border:1px solid #e9e9e9;
	border-radius:5px;
	margin:0 auto;
}
.tcTimeInner {
	height:180px;
	padding:16px;
	overflow-y:auto;
}
#tcTimeWrap {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.tc-time-box {
	padding: 4px;
	width:14.7%;
	font-size:14px;
	text-align:center;
	background: #f7f7f7;
	border-radius: 4px;
}
.tc-time-box:nth-last-child(1){
	margin-right:0;
}
.tc-time {
	margin-bottom:6px;
}
.quest-type-text {
	color:var(--key-color);
}
.survey-type-box {
	display:flex;
	align-items:center;
	gap:8px;
}
.survey-type-text {
	color:var(--key-color);
	/* font-weight:600; */
}

.survey-select-title {
	width:100%;
	padding-bottom:8px;
	color:#757575;
	border:none;
	border-bottom:1px solid #d7d7d7;
	background-color:transparent;
	outline:none;
	appearance:none;
}
#selectSurveyWrap {
	margin-top: 30px;
	display: flex;
	gap:20px;
}
.select-survey-list {
	padding: 40px;
	background:#F1F6FF ;
	border-radius: 10px;
	width: 100%;
	text-align: center;
	transition: 0.1s;
}
.select-survey-list:hover {
	background: #efefef;
}
.select-survey-title {
	margin:10px 0 5px 0;
	font-weight: 400;
	font-size: 18px;
}
.select-survey-sub {
	font-size: 14px;
	font-weight: 200;
	line-height: 20px;
}
.cm-detail-text-select {
	display: flex;
	gap: 8px;
	align-items: center;
}