@charset "UTF-8";

#sideBar {
	width:280px;
	max-width: 280px;
	height:100%;
	background-color:#020918;
	transition: 0.5s;
	position: fixed;
	left: 0;
	padding-bottom: 100px;
	overflow-y: auto;
	z-index: 4;
}
.sidebarActive #sideBar {
	left:-280px;
}
.sidebarActive #mainContentWrap {
	padding-left: 0;
}
#sideBarWrap {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height:100%;
}
#logoLine {
	padding:20px 30px;
	border-bottom: 1px solid #2a303f;
}
#sideLogoBox img {
	width: 110px;
}
#sideBarList {
	margin-top:20px;
}
.sidebar-list-box {
	margin-top:20px;
}
.side-depth1 {
	display:flex;
	justify-content:space-between;
	align-items:center;
	color:var(--white);
	cursor:pointer;
	padding: 0 30px;
	font-size:14px;
	font-weight:600;
}
.side-depth1-title-wrap {
	display: flex;
	gap: 8px;
	align-items: center;
}
.side-depth1-title {
	font-weight: 300;
	color: var(--white);
}
.depth1-arrow {
	transform:rotate(0deg);
	transition:0.3s;
}
.sidebar-list-box.active .depth1-arrow {
	transform:rotate(180deg);
}
.sidebar-list-box.on .side-depth2-box {
	display:block !important;
}
.sidebar-list-box.on .depth1-arrow {
	transform:rotate(180deg);
}
.side-depth2-box {
	display:none;
	margin-top:14px;
}
.side-depth2 a {
	display: inline-block;
    width: 100%;
    padding: 10px 30px;
    font-size: 14px;
    color: #efefef;
    font-weight: 200;
}
.side-depth2:nth-last-child(1) a {
	margin-bottom:0;
}
.side-depth2 a:hover {
	color:var(--white);
	background-color:#0d213f;
}
.side-depth2.active a {
	color:var(--white);
	background-color:#0d213f;
}
#sideBarFooter {
	position:absolute;
	bottom:34px;
	left:34px;
	color:var(--white);
}
#sideBarButton {
	position:fixed;
	top:50%;
	left:280px;
	padding:4px 6px 4px 4px;
	border-radius:0 6px 6px 0;
	background-color:#020918;
	transform:translateY(-50%);
	transition:left 0.5s;
	z-index:9999;
	outline: none;
}
#sideBarButton img {
	width:6px;
	transform:rotate(180deg);
}
.sidebarActive #sideBarWrap {
	padding:0;
}
.sidebarActive #sideBarButton{
	left:0;
}
.sidebarActive #sideBarButton img {
	transform:rotate(0deg);
}
#sidebarInfo {
	border-bottom: 1px solid #2a303f;
	color:var(--white);
}
#sidebarUserBox {
	padding: 20px 30px;
	width:100%;
	cursor:pointer;
}
#sidebarUserInfo {
	padding-bottom: 20px;
}
#sidebarUserInfo a {
	display: block;
    color:var(--white);
    font-size:14px;
    padding: 5px 30px;
    font-weight: 300;
}
#sidebarUser {
	display:flex;
	gap:8px;
	font-size:14px;
	align-items: center;
}
#sidebarUserArrow {
	transform:rotate(180deg);
	transition:0.3s;
}
#sidebarUser > div {
	color: var(--white);
	font-weight: 300;
}
