<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/modalLayout}">
      
	<th:block layout:fragment="modalContent">
		<form id="codeGroupSaveForm">
			<div>
				<table class="modal-table">
					<tbody>
						<tr>
							<th>장비 ID</th>
							<td>들어갈내용</td>
							<th>상태</th>
							<td>들어갈내용</td>
						</tr>
						<tr>
							<th>설치위치</th>
							<td>들어갈내용</td>
							<th>장비 IP</th>
							<td>들어갈내용</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</th:block>
</html>