<!DOCTYPE html>
<html th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>findPassword</title>    
</head>
<body>
    <div style="">
        <h1 style="display:flex; align-items:center; justify-content:center; gap:8px; margin:40px 0;">
            <a th:href="${url}"><img src="logo.png" alt="logo" style="width:43px; height:43px;"></a>
            <span style="color:#ff8636;">RDA</span>
        </h1>
        <div style="border-top:1px solid #ff8636; border-bottom:1px solid #ff8636; border-left:1px solid #ededed; border-right:1px solid #ededed;">
            <div style="margin-top:64px; padding:0 32px;">
                <h2 style="margin:64px 0; text-align:center;" th:text="${findTitle}">임시 비밀번호 발급 안내</h2>
                <div><span th:text="${findHello}">안녕하세요.</span> <span th:text="${name}"></span>(<strong th:text="${id}"></strong>)<span th:text="${findSir}">님</span></div>
                <div th:text="${findContent}">회원님의 임시 비밀번호를 아래와 같이 보내드립니다.</div>
                <div style="position:relative; margin:24px 0; padding:16px 16px 16px 36px; background-color:#ededed;">
                	<span style="position:absolute; top:50%; left:20px; width:6px; height:6px; border-radius:50%; background-color:#ff8636; transform:translateY(-50%);"></span>
                    <span th:text="${findTemp}">임시 비밀번호</span> :
                    <strong th:text="${tempPswd}" style="color:#ff8636;"></strong>
                </div>
                <div style="margin-bottom:0;"><span style="margin-right:6px; color:#ff8636;">※</span><span th:text="${findTempmessage}">임시 비밀번호로 로그인 후 비밀번호를 재설정해주세요.</span></div>
            </div>
            <div style="margin:120px 0; text-align:center;"><a th:href="${url}" target="_blank" style="display:inline-block; padding:8px 16px; color:#fff; border-radius:6px; background-color:#ff8636; text-decoration:none;" th:text="${findLogin}">로그인 하기</a></div>
        </div>
        <div style="margin-top:16px; font-size:14px; color:#999;">
            <div th:text="${findSecurity}">*비밀번호 재요청한 사람이 본인이 아닌 경우, 보안을 위해 RDA(+94 11 2 046200)로 연락 주시기 바랍니다.</div>
            <div th:text="${findNoreply}">본 메일은 고객님의 수신동의와 관계없이 발송되는 메일로 회신하신 경우 답변이 되지 않습니다.</div>
        </div>
    </div>	
</body>
</html>