<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
        <div>
            <h3 id="infoTitle">정보관리 등록</h3>
        </div>
        <div>
			<div id="infoTableWrap">
				<table id="infoTable">
					<tr>
						<th>시설물 ID</th>
						<td><input type="text" placeholder="시설물 ID를 입력해주세요."/></td>
						<th>시설물 유형</th>
						<td><input type="text" placeholder="시설물 유형을 입력해주세요."/></td>
					</tr>
					<tr>
						<th>설치위치</th>
						<td><input type="text" placeholder="설치 위치를 입력해주세요."/></td>
						<th>설치일자</th>
						<td>
							<input type="text" class="input-text startPicker" th:placeholder="#{common.search.placeholder.date}">
						</td>
					</tr>
					<tr>
						<th>담당자</th>
						<td>
							<input type="text" placeholder="담당자를 입력해주세요."/>
						</td>
					</tr>
				</table>
			</div>
			<div class="info-button-box">
                <a th:href="@{/facilityequipmng/facility/info}" class="is-key-button">등록</a>
                <a th:href="@{/facilityequipmng/facility/info}" class="is-basic-button">취소</a>
            </div>			
        </div>
	</th:block>
</html>
<script type="text/javascript">
</script>
