<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
	<th:block layout:fragment="content">
        <div>
            <h3 id="infoTitle">정보관리 수정</h3>
        </div>
        <div>
			<div id="infoTableWrap">
				<table id="infoTable">
					<tr>
						<th>장비ID</th>
						<td>들어갈정보</td>
						<th>장비유형</th>
						<td><input type="text" placeholder="장비 유형을 입력해주세요."/></td>
					</tr>
					<tr>
						<th>설치위치</th>
						<td><input type="text" placeholder="설치 위치를 입력해주세요."/></td>
						<th>설치일자</th>
						<td>
							<input type="text" class="input-text startPicker" th:placeholder="#{common.search.placeholder.date}">
						</td>
					</tr>
					<tr>
						<th>장비IP</th>
						<td>
							<input type="text" placeholder="장비 IP를 입력해주세요."/>
						</td>
						<th>포트번호</th>
						<td><input type="text" placeholder="포트 번호를 입력해주세요."/></td>
					</tr>
					<tr>
						<th th:text="#{common.table.coordinate.x}">X좌표</th>
						<td>
							<input type="text" placeholder="X좌표를 입력해주세요."/>
						</td>
						<th th:text="#{common.table.coordinate.y}">Y좌표</th>
						<td><input type="text" placeholder="Y좌표를 입력해주세요."/></td>
					</tr>
				</table>
			</div>
			<div class="info-button-box">
                <a th:href="@{/facilityequipmng/fixedequip/info}" class="is-key-button">수정</a>
                <a th:href="@{/facilityequipmng/fixedequip/info}" class="is-basic-button">취소</a>
            </div>			
        </div>
	</th:block>
</html>
<script type="text/javascript">
</script>
