<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="is-box">
		<div id="filterTitle">
			<h3 class="info-title" th:text="#{common.search.title}">검색 설정</h3>
		</div>
		<form id="authSaveForm" name="authSaveForm">
			<div class="infoTableWrap">
				<table class="infoTable">
					<colgroup>
						<col width="15%">
						<col width="35%">
						<col width="15%">
						<col width="35%">
					</colgroup>
					<tr>
						<th:block th:if="(${userInfo.userBffltd eq 'BFC001'}) or (${userInfo.userType.code eq 'UTC001'})">
						<th th:text="#{common.affiliation}">소속</th>
						<td>
							<div class="select-div-box">
								<select name="bffltdCd" class="select-list-box table-select">
									<option th:each="bffltd:${bffltdList}" th:value="${bffltd.cd}" th:text="${bffltd.cdNm}">
									</option>
								</select>
							</div>
						</td>
						</th:block>
						<th th:text="#{authRqst.common.authName}">권한명</th>
						<td th:attr="colspan=(${userInfo.userBffltd eq 'BFC001'}) or (${userInfo.userType.code eq 'UTC001'}) ? '' : '3'">
							<input type="text" class="authValue input-table-text" id="authgrpNmInput" name="authgrpNm"
							th:placeholder="#{authRqst.authSetting.placeholder.authName}" />
						</td>
					</tr>
					<tr>
						<th th:text="#{authRqst.common.authDescr}">권한 설명</th>
						<td colspan="3">
							<textarea class="authValue input-table-text" id="authgrpDescrInput"
							name="authgrpDescr" th:placeholder="#{authRqst.authSetting.placeholder.authDescr}"></textarea>
						</td>
					</tr>
				</table>
			</div>
			<div id="modalAddBtnWrap">
				<button type="button" class="is-key-button" onclick="saveAuth()">추가</button>
			</div>
<!--			<div id="modalRegistWrap">-->
<!--				<div class="modal-filter">-->
<!--					<th:block th:if="(${userInfo.userBffltd eq 'BFC001'}) or (${userInfo.userType.code eq 'UTC001'})">-->
<!--						<h3 class="modal-filter-title" th:text="#{common.affiliation}">소속</h3>-->
<!--						<div class="select-div-box">-->
<!--							<select name="bffltdCd" class="select-list-box select-list-box modal-select">-->
<!--								<option th:each="bffltd:${bffltdList}" th:value="${bffltd.cd}" th:text="${bffltd.cdNm}">-->
<!--								</option>-->
<!--							</select>-->
<!--						</div>-->
<!--					</th:block>-->
<!--				</div>-->
<!--				<div class="modal-filter">-->
<!--					<h3 class="modal-filter-title" th:text="#{authRqst.common.authName}">권한명</h3>-->
<!--					<input type="text" class="authValue input-text modal-input" id="authgrpNmInput" name="authgrpNm"-->
<!--						th:placeholder="#{authRqst.authSetting.placeholder.authName}" />-->
<!--				</div>-->
<!--				<div class="modal-filter"-->
<!--					th:classappend="(${userInfo.userBffltd eq 'BFC001'}) or (${userInfo.userType.code eq 'UTC001'}) ? 'wd100' : ''">-->
<!--					<h3 class="modal-filter-title" th:text="#{authRqst.common.authDescr}">권한 설명</h3>-->
<!--					<input type="text" class="authValue input-text modal-input" id="authgrpDescrInput"-->
<!--						name="authgrpDescr" th:placeholder="#{authRqst.authSetting.placeholder.authDescr}" />-->
<!--				</div>-->
<!--			</div>-->
			
			<!--			<table class="modal-table modal-auth-table mt16">-->
			<!--				<tr>-->
			<!--					<th:block th:if="(${userInfo.userBffltd eq 'BFC001'}) or (${userInfo.userType.code eq 'UTC001'})">-->
			<!--						<th th:text="#{common.affiliation}">소속</th>-->
			<!--						<td>-->
			<!--							<div class="select-div-box">-->
			<!--								<select name="bffltdCd" class="select-list-box">-->
			<!--		                    		<option th:each="bffltd:${bffltdList}" th:value="${bffltd.cd}" th:text="${bffltd.cdNm}"></option>-->
			<!--		                    	</select>-->
			<!--	                    	</div>-->
			<!--						</td>-->
			<!--                   	</th:block>-->
			<!--					<th th:text="#{authRqst.common.authName}">권한 명</th>-->
			<!--					<td>-->
			<!--						<input type="text" class="authValue" id="authgrpNmInput" name="authgrpNm" th:placeholder="#{authRqst.authSetting.placeholder.authName}"/>-->
			<!--					</td>-->
			<!--				</tr>-->
			<!--				<tr>-->
			<!--					<th th:text="#{authRqst.common.authDescr}">권한 설명</th>-->
			<!--					<td colspan="3">-->
			<!--						<input type="text" class="authValue" id="authgrpDescrInput" name="authgrpDescr" th:placeholder="#{authRqst.authSetting.placeholder.authDescr}"/>-->
			<!--					</td>-->
			<!--				</tr>-->
			<!--			</table>-->
		</form>
		<form id="asynSearchForm" name="asynSearchForm" onsubmit="asynchronousSearchList('1'); return false;">
			<input type="hidden" name="pageNo" id="asynchronousPageNo" value="1">
			<div class="btn-wrap-end mt56 mb8">
				<th:block th:if="(${userInfo.userBffltd eq 'BFC001'}) or (${userInfo.userType.code eq 'UTC001'})">
					<div class="select-div-box">
						<select class="select-list-box" id="searchTypeCd">
							<option value="" th:text="#{authRqst.common.category}">유형</option>
							<option th:each="item:${bffltdList}" th:text="${item.cdNm}" th:value="${item.cd}"
								th:selected="${searchInfo.searchTypeCd eq item.cd}"></option>
						</select>
					</div>
				</th:block>
				<input type="text" class="input-text" id="searchContent" th:value="${searchInfo.searchContent}"
					th:placeholder="#{authRqst.authSetting.placeholder.putAuthNameOrDescr}">
				<input type="submit" class="is-key-button" th:value="#{common.button.search}" />
			</div>
		</form>
		<div class="modal-auth-table-set">
			<table id="listTable" class="modal-table-center">
				<colgroup>
					<col width="8%">
					<col width="15%">
					<col width="18%">
					<col width="45%">
					<col width="14%">
				</colgroup>
				<thead>
					<tr>
						<th th:text="#{common.table.number}">번호</th>
						<th th:text="#{common.affiliation}">소속</th>
						<th th:text="#{authRqst.common.authName}">권한 명</th>
						<th th:text="#{authRqst.common.authDescr}">권한 설명</th>
						<th th:text="#{authRqst.common.setting}">설정</th>
					</tr>
				</thead>
				<tbody id="authListTbody">
					<th:block th:if="${totalCnt > 0}">
						<tr th:each="item,status : ${authList}">
							<td th:text="${@commonUtils.getRownum(paging,status.index)}"></td>
							<td>
								<input type="text" class="input-reset bffltd" th:value="${item.bffltdNm}" readonly />
							</td>
							<td>
								<input type="hidden" class="hidden-authgrpNm" th:value="${item.authgrpNm}" />
								<input type="text" class="input-reset authgrpNm auth-input-readonly authUpdateValue"
									th:value="${item.authgrpNm}" readonly />
							</td>
							<td>
								<input type="hidden" class="hidden-authgrpDescr" th:value="${item.authgrpDescr}" />
								<!-- <input type="text" class="input-reset authgrpDescr auth-input-readonly authUpdateValue" th:value="${item.authgrpDescr}" readonly> -->
								<textarea class="modal-auth-textarea authgrpDescr auth-input-readonly authUpdateValue"
									maxlength="500" th:text="${item.authgrpDescr}" readonly></textarea>
							</td>
							<td class="modal-auth-button-box">
								<span class="modal-auth-update-box">
									<input type="button" onclick="modalAuthUpdateBtn(this);"
										class="modalAuthUpdateBtn input-reset" th:value="#{common.button.update}" />
									/
									<input type="button" th:onclick="modalAuthRemoveBtn(this,[[${item.authgrpId}]]);"
										class="input-reset" th:value="#{common.button.delete}" />
								</span>
								<span class="modal-auth-save-box none">
									<input type="button" th:onclick="modalAuthSaveBtn(this,[[${item.authgrpId}]]);"
										class="modalAuthSaveBtn input-reset" th:value="#{common.button.confirm}" />
									/
									<input type="button" onclick="modalAuthCancelBtn(this);"
										class="modalAuthCancelBtn input-reset" th:value="#{common.button.cancel}" />
								</span>
							</td>
						</tr>
					</th:block>
					<th:block th:if="${totalCnt == 0}">
						<tr>
							<td colspan="5" th:text="#{common.search.result.notExist}">검색 결과가 없습니다.</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div id="pagingDiv" th:insert="tags/paging/asynchronousPaging :: pagingFragment"></div>
	</div>
</th:block>

</html>
<script th:inline="javascript">
	// 	document.getElementById('modal-footer').classList.add('none');

	//수정버튼
	let modalAuthUpdateBtn = (_this) => {
		const closest = _this.closest('tr');
		const parent = closest.querySelector('.modal-auth-update-box');
		const siblings = closest.querySelector('.modal-auth-save-box');
		const input = closest.querySelectorAll('.auth-input-readonly');
		const authgrpNm = closest.querySelector('.authgrpNm');
		const authgrpDescr = closest.querySelector('.authgrpDescr');
		parent.classList.add('none');
		siblings.classList.remove('none');
		input.forEach(input => input.readOnly = false);
	}

	//삭제버튼
	let modalAuthRemoveBtn = (_this, authgrpId) => {
		const pageNo = document.getElementById('asynchronousPageNo').value;
		const tr = _this.closest('tr');
		new MsgModalBuilder().init().alertBody(message.authRqst.authSetting_delete_confirm_message).footer(3, message.common.button_confirm, function (button, modal) {
			fetch(__contextPath__ + "/systemmng/auth/setting/" + authgrpId, {
				method: "DELETE"
			})
				.then(response => response.json())
				.then(result => {
					if (result.code == '200') {
						new MsgModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function (button, modal) {
							modal.close();
							asynchronousSearchList(pageNo);
						}).open();
					} else {
						new MsgModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function (button, modal) {
							modal.close();
						}).open();
					}
				}
				)
			modal.close();
		}, message.common.button_cancel, function (button, modal) {
			modal.close();
		}).open();
	}

	//확인버튼
	let modalAuthSaveBtn = (_this, authgrpId) => {
		const pageNo = document.getElementById('asynchronousPageNo').value;
		const closest = _this.closest('tr');
		const parent = closest.querySelector('.modal-auth-save-box');
		const siblings = closest.querySelector('.modal-auth-update-box');
		const authgrpNm = closest.querySelector('.authgrpNm').value;
		const authgrpDescr = closest.querySelector('.authgrpDescr').value;

		//validation
		const inputValidationItem = document.querySelectorAll('.authUpdateValue');
		let inputValidation = [];
		inputValidationItem.forEach(input => inputValidation.push(input.value));
		const inputChecked = inputValidation.some(item => item === '');

		if (inputChecked) {
			alert(message.authRqst.authSetting_emptyValidation);
			return false;
		}
		confirm(message.authRqst.authSetting_save_confirm_message);
		const formData = new FormData();
		formData.append('authgrpNm', authgrpNm);
		formData.append('authgrpDescr', authgrpDescr);

		fetch(__contextPath__ + "/systemmng/auth/setting/" + authgrpId, {
			method: "PUT",
			body: formData
		})
			.then(response => response.json())
			.then(result => {
				if (result.code == '200') {
					alert(result.message);
					asynchronousSearchList(pageNo);

				} else {
					alert(result.message);
				}
			}
			)
		parent.classList.add('none');
		siblings.classList.remove('none');
	}

	//취소버튼
	let modalAuthCancelBtn = (_this) => {
		const closest = _this.closest('tr');
		const parent = closest.querySelector('.modal-auth-save-box');
		const siblings = closest.querySelector('.modal-auth-update-box');
		const input = closest.querySelectorAll('.auth-input-readonly');
		const authgrpNm = closest.querySelector('.authgrpNm');
		const authgrpDescr = closest.querySelector('.authgrpDescr');

		parent.classList.add('none');
		siblings.classList.remove('none');

		authgrpNm.value = closest.querySelector('.hidden-authgrpNm').value;
		authgrpDescr.value = closest.querySelector('.hidden-authgrpDescr').value;
		input.forEach(input => input.readOnly = true);
	}

	// 권한 비동기 목록 조회
	function asynchronousSearchList(pageNo = '0') {
		if (pageNo === '0') {
			pageNo = document.getElementById('asynchronousPageNo').value;
		}
		var searchContent = document.getElementById('searchContent').value;

		const params = new URLSearchParams();
		params.append('pageNo', pageNo);
		params.append('searchContent', searchContent);

		const userBffltd = [[${userInfo.userBffltd}]];
		const userType = [[${userInfo.userType.code}]];
		if (userBffltd == 'BFC001' || userType == 'UTC001') {
			var select = document.getElementById('searchTypeCd');
			var option = select.options[select.selectedIndex];
			var searchTypeCd = option.value;

			params.append('searchTypeCd', searchTypeCd);
		}

		fetch(__contextPath__ + "/systemmng/auth/asynchronous?" + params.toString(), {
			method: "GET"
		})
			.then(response => response.json())
			.then(result => {
				if (result.code == '200') {
					const authList = result.data.authList;
					const bffltdList = result.data.bffltdList;
					//tbody 하위 tr 삭제
					var rows = document.querySelectorAll('#authListTbody tr');
					rows.forEach(function (row) {
						row.remove();
					});

					//paging 삭제 (id pagingDiv)
					const pagingDiv = document.getElementById('pagingDiv');
					const totalCnt = result.data.totalCnt;
					const paging = result.data.paging;

					pagingDiv.innerHTML = "";
					let authTrHtml = "";

					if (authList.length > 0) {
						//data 세팅
						for (let [idx, item] of authList.entries()) {
							//tr영역 세팅
							authTrHtml += '<tr>'
								+ '<td>' + getRownum(paging, (idx)) + '</td>'
								+ '<td>'
								+ '<input type="text" class="input-reset bffltd" value="' + item.bffltdNm + '" readonly/>'
								+ '</td>'
								+ '<td>'
								+ '<input type="hidden" class="hidden-authgrpNm" value="' + item.authgrpNm + '"/>'
								+ '<input type="text" class="input-reset authgrpNm auth-input-readonly" value="' + item.authgrpNm + '" readonly/>'
								+ '</td>'
								+ '<td>'
								+ '<input type="hidden" class="hidden-authgrpDescr" value="' + item.authgrpDescr + '"/>'
								/* +'<input type="text" class="input-reset authgrpDescr auth-input-readonly" value="'+item.authgrpDescr+'" readonly>' */
								+ '<textarea class="authgrpDescr modal-auth-textarea auth-input-readonly" readonly>' + item.authgrpDescr + '</textarea>'
								+ '</td>'
								+ '<td class="modal-auth-button-box">'
								+ '<span class="modal-auth-update-box">'
								+ '<input type="button" onclick="modalAuthUpdateBtn(this);" class="modalAuthUpdateBtn input-reset" value="' + message.common.button_update + '"/> / '
								+ '<input type="button" onclick="modalAuthRemoveBtn(this,\'' + item.authgrpId + '\');" class="input-reset" value="' + message.common.button_delete + '"/>'
								+ '</span>'
								+ '<span class="modal-auth-save-box none">'
								+ '<input type="button" onclick="modalAuthSaveBtn(this,\'' + item.authgrpId + '\');" class="modalAuthSaveBtn input-reset" value="' + message.common.button_confirm + '"/> / '
								+ '<input type="button" onclick="modalAuthCancelBtn(this);" class="modalAuthCancelBtn input-reset" value="' + message.common.button_cancel + '"/>'
								+ '</span>'
								+ '</td>'
								+ '</tr>';
						}

						if (!isNull(paging)) {
							const pagingHtml = writePaging(paging);
							//pagingDiv append
							$("#pagingDiv").append(pagingHtml);

						}
					} else {
						//data is empty
						authTrHtml += '<tr class="table-link">'
							+ '<td colspan="5">' + message.common.result_not_exist + '</td>'
							+ '</tr>';
					}
					$('#authListTbody').append(authTrHtml);
				}
			}
			)
	}

	function saveAuth() {
		//validation
		const inputValidationItem = document.querySelectorAll('.authValue');
		let inputValidation = [];
		inputValidationItem.forEach(input => inputValidation.push(input.value));
		const inputChecked = inputValidation.some(item => item === '');

		if (inputChecked) {
			new MsgModalBuilder().init().alertBody(message.authRqst.authSetting_emptyValidation).footer(4, message.common.button_confirm, function (button, modal) {
				modal.close();
			}).open();
			
			return false;
		}

		fetch(__contextPath__ + "/systemmng/auth/setting", {
			method: "POST",
			body: new FormData($("#authSaveForm")[0])
		})
			.then(response => response.json())
			.then(result => {
				if (result.code == '200') {
					new MsgModalBuilder().init().alertBody(result.data.message).footer(4, message.common.button_confirm, function (button, modal) {
						modal.close();
						const pageNo = document.getElementById('asynchronousPageNo').value;
						document.getElementById('authgrpNmInput').value = "";
						document.getElementById('authgrpDescrInput').value = "";
						asynchronousSearchList(pageNo);
					}).open();
				} else {
					throw new Error(result.message);
				}
			}).catch(error => {
				new MsgModalBuilder().init().alertBody(error.message).footer(4, message.common.button_confirm, function (button, modal) {
					modal.close();
				}).open();
			});
	}
</script>