<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/modalLayout}">

<th:block layout:fragment="modalContent">
	<form id="groupCodeSaveForm" name="groupCodeSaveForm">
		<div id="modalOneLineWrap">
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{code.common.codeGroup}">
					공통 코드
				</h3>
				<input type="text" class="input-text modal-input validation-tag" name="grpCd"
					th:placeholder="#{code.codeGroupSave.placeholder.searchCdGrp}">
			</div>
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{common.table.useYn}">
					사용 여부
				</h3>
				<div class="select-div-box">
					<select class="select-list-box modal-select" name="useYn">
						<option value="Y" th:text="#{common.option.useYn.y}">사용</option>
						<option value="N" th:text="#{common.option.useYn.n}">미사용</option>
					</select>
				</div>
			</div>
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{code.common.codeGroup.name}">공통 코드명</h3>
				<input type="text" class="input-text modal-input validation-tag" name="grpcdNm"
							th:placeholder="#{code.codeGroupSave.placeholder.searchCdGrp.name}">
			</div>
		</div>
		
	</form>
</th:block>

</html>