<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/modalLayout}">

<th:block layout:fragment="modalContent">
	<form id="codeSaveForm" name="codeSaveForm">
<!-- 		<input type="hidden" name="grpcdId" th:value="${tcCdGrp.grpcdId}" /> -->
		<input type="hidden" name="grpcdId" th:value="${grpcdId}" />
		<div id="modalRegistWrap">
<!-- 			<div class="modal-filter"> -->
<!-- 				<h3 class="modal-filter-title" th:text="#{code.common.codeGroup}">코드</h3> -->
<!-- 				<div class="modal-date-show" th:text="${tcCdGrp.grpCd}"></div> -->
<!-- 			</div> -->
<!-- 			<div class="modal-filter"> -->
<!-- 				<h3 class="modal-filter-title" th:text="#{code.common.codeGroup.name}">이름</h3> -->
<!-- 				<div class="modal-date-show" th:text="${tcCdGrp.grpcdNm}">USERNAME</div> -->
<!-- 			</div> -->
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{code.common.subCode}">소속</h3>
				<div>
					<input type="text" class="modal-input input-text code-name" name="cd"
							th:placeholder="#{code.codeSave.placeholder.subCode}">
				</div>
			</div>
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{code.common.subCode.name.english}"></h3>
				<div>
					<input type="text" class="modal-input input-text code-name-eng" name="cdnmEng"
							th:placeholder="#{code.codeSave.placeholder.subCode.name.english}">
				</div>
			</div>
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{code.common.subCode.name.korean}"></h3>
				<div>
					<input type="text" class="modal-input input-text code-name-kor" name="cdnmKor"
							th:placeholder="#{code.codeSave.placeholder.subCode.name.korean}">
				</div>
			</div>
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{code.common.subCode.name.sinhala}"></h3>
				<div>
					<input type="text" class="modal-input input-text code-name-shin" name="cdnmSin"
							th:placeholder="#{code.codeSave.placeholder.subCode.name.sinhala}">
				</div>
			</div>
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{common.table.useYn}"></h3>
				<div>
					<div class="select-div-box">
							<select class="select-list-box modal-select" id="useYn" name="useYn">
								<option value="Y" th:text="#{common.option.useYn.y}">Y</option>
								<option value="N" th:text="#{common.option.useYn.n}">N</option>
							</select>
						</div>
				</div>
			</div>
		</div>
	</form>
</th:block>

</html>