<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/modalLayout}">

<th:block layout:fragment="modalContent">
	<form id="pwUpdateForm">
		<div id="modalOneLineWrap">
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{mngr.mngrPwUpdate.current.password}">
					기존비밀번호
				</h3>
				<input type="password" id="userPswd" class="input-text modal-input" name="userPswd"
							th:placeholder="#{mngr.mngrPwUpdate.placeholder.current.password}">
			</div>
			<div class="modal-filter">
				<h3 class="modal-filter-title" th:text="#{mngr.mngrPwUpdate.new.password}">
					새비밀번호
				</h3>
				<div class="modal-double-wrap">
					<input type="password" id="newUserPswd" class="input-text modal-input" name="newUserPswd"
							th:placeholder="#{mngr.mngrPwUpdate.placeholder.new.password}">
				</div>
			</div>
			<div class="modal-filter">
				<h3 class="modal-filter-title"
					th:text="#{mngr.mngrPwUpdate.new.password.check}">인증키 만료일</h3>
				<input type="password" id="newUserPswdChk" class="input-text modal-input"
							th:placeholder="#{mngr.mngrPwUpdate.placeholder.new.password.check}">
			</div>
		</div>
	</form>
</th:block>

</html>