<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/modalLayout}">
      
	<th:block layout:fragment="modalContent">
		<div class="list-table-container">
			<div class="list-search-box">
				<input type="text" class="input-text modal-input-text" th:placeholder="#{survey.surveyQuestionSectionList.placeholder.surveyType}">
				<input type="button" class="is-key-button" th:value="#{common.button.search}">
			</div>
			<table class="list-table mt16">
				<thead>
					<tr>
						<th th:text="#{common.select.select}">선택</th>
						<th th:text="#{survey.surveyQuestionSectionList.section.name}">섹션명</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${sectTypeCd}">
						<td>
							<input th:id="${item.cd}" name="modalSectType" type="radio" th:value="${item.cd}">
						</td>
						<td>
							<label th:for="${item.cd}" th:text="${item.cdNm}"></label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>
</html>