<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/modalLayout}">
	<th:block layout:fragment="modalContent">
		<!-- 
		04.03 기획서 반영 주석
		<form id="apiUpdateForm" name="apiUpdateForm">
			<div>
				<table class="modal-table">
					<tbody>
						<tr>
							<th>API 명</th>
							<td><input type="text" name="apiNm" th:value="${sriOpenApi.apiNm}" readonly></td>
						</tr>
						<tr>
							<th>API 설명</th>
							<td><input type="text" name="apiDesc" th:value="${sriOpenApi.apiDesc}"></td>
						</tr>
						<tr>
							<th>API URL</th>
							<td><input type="text" name="apiUrl" th:value="${sriOpenApi.apiUrl}"></td>
						</tr>
						<tr>
							<th>API 예제</th>
							<td><input type="text" name="apiExmp" th:value="${sriOpenApi.apiExmp}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form> -->
		<form id="apiUpdateForm" name="apiUpdateForm">
			<div>
				<table class="modal-table">
					<tbody>
						<tr>
							<!-- 04.03 기획서 반영 수정으로 인한 주석
							<td><input type="text" name="apiNm"></td>
							<td><input type="text" name="apiDesc"></td>
							<td><input type="text" name="apiUrl"></td>
							<td><input type="text" name="apiExmp"></td>
							-->
							<th>서비스명</th>
							<td><input type="text"></td>
							<th>분류</th>
							<td>
								<select class="select-list-box">
									<option>분류</option>
								</select>							
							</td>
						</tr>
						<tr>
							<th>제공기관</th>
							<td><input type="text"></td>
							<th>관리자</th>
							<td><input type="text"></td>
						</tr>
						<tr>
							<th>서비스 내용</th>
							<td colspan="3"><input type="text" class="wd100"></td>
						</tr>
						<tr>
							<th>요청URL</th>
							<td colspan="3"><input type="text" class="wd100"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mt16">
				<div class="flex-between">
					<h3 class="modal-sub-title">속성 정보</h3>
					<input type="button" class="is-key-button" onclick="propertyAppend();" value="속성추가"/>	
				</div>
				<div class="infoTableWrap propert-table scroll">
					<table class="infoTable">
						<thead>
							<tr>
								<th>컬럼명</th>
								<th>타입</th>
								<th>길이</th>
								<th>구분</th>
								<th>설명</th>
								<th>샘플데이터</th>
								<th>삭제</th>
							</tr>
						</thead>
						<tbody id="propertyAppendBox">
							<tr>
								<td><input type="text" class="input-table-text"></td>
								<td><input type="text" class="input-table-text"></td>
								<td><input type="text" class="input-table-text"></td>
								<td><input type="text" class="input-table-text"></td>
								<td><input type="text" class="input-table-text"></td>
								<td><input type="text" class="input-table-text"></td>
								<td class="text-center"><input type="button" onclick="propertyRemove(this);" class="is-key-button" value="삭제하기"></td>
							</tr>
						</tbody>
					</table>
				</div>
	        </div>			
		</form>		
	</th:block>
</html>
<script>
	//추가
	function propertyAppend(){
		const appendBox = document.getElementById('propertyAppendBox');
		const tr = document.createElement('tr');
		const html = `<td><input type="text" class="input-table-text"></td>
					<td><input type="text" class="input-table-text"></td>
					<td><input type="text" class="input-table-text"></td>
					<td><input type="text" class="input-table-text"></td>
					<td><input type="text" class="input-table-text"></td>
					<td><input type="text" class="input-table-text"></td>
					<td class="text-center"><input type="button" onclick="propertyRemove(this);" class="is-key-button" value="삭제하기"></td>
				   `
		appendBox.append(tr);
		tr.innerHTML = html;
	}
	
	//삭제
	function propertyRemove(_this){
		const parent = _this.closest('tr');
		parent.remove();
	}
</script>