<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:fragment="questionOdFragment">
	<div class="quest-container" data-sctn-ordr="1" th:data-sctn-type="${sectTypeCd[0]}">
		<div class="quest-wrap">
			<div class="quest-title-wrap">
				<h4 class="quest-title">
					<input type="text" class="input-reset" placeholder="조사명을 입력하세요."/>
				</h4>
				<div class="quest-sub-title">
					<input type="text" class="input-reset" placeholder="조사 부제를 입력하세요."/>
				</div>
			</div>
			<div class="quest-grid-box sortable">
				<div class="quest-box">
					<div class="sortable-handle none"><span></span></div>
					<div class="quest-title-box">
						<span class="quest-number">Q1.</span>
						<span class="quest-name" data-qstn-ordr="1">
							<input type="text" placeholder="질문 제목을 입력해주세요."/>
						</span>
						<select class="select-list-box" onchange="optionSelected(this);">
							<option value="shortAnswer">주관식</option>
							<option value="select">드롭다운</option>
							<option value="radio">라디오</option>
							<option value="checkbox">체크박스</option>
							<option value="date">날짜</option>
							<option value="time">시간</option>
							<option value="location">위치</option>
						</select>
						<input type="button" class="quest-close"/>
					</div>
					<div class="list-answer">
						<div class="quest-view-item">
							<span class="quest-view-img"><img th:src="@{/images/quest_text.png}" alt="short"></span>
							<span class="quest-view-text">주관식 답변란</span>
						</div>
					</div>
				</div>
			</div>
			<div class="quest-add-box">
				<input type="button" class="is-key-button" onclick="questBoxAdd()" value="설문항목 추가"/>
				<input type="button" class="is-key-button" value="섹션 추가"/>
			</div>
		</div>
	</div>
	<div class="quest-container" data-sctn-ordr="2" th:data-sctn-type="${sectTypeCd[1]}">
		<div class="quest-wrap">
			<div class="quest-title-wrap">
				<h4 class="quest-title">개인실태 조사</h4>
				<div class="quest-sub-title">개인 특성 정보를 입력하세요.</div>
			</div>
			<div class="quest-grid-box">
				<div class="quest-box">
					<h5 class="quest-box-title">Q1.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="1">'가구원' 역할</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="가구주(본인)">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="배우자">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="3" value="자녀">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>																		
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q2.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="2">'가구원' 성별</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="남성">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="여성">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>																		
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q3.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="3">'가구원' 연령</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="5세~9세">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="10세~19세">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="3" value="20세~29세">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>																		
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q4.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="4">'가구원' 직업</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="관리자, 고위 공무원 및 입법자">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="전문가">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="3" value="기술 및 준회원 전문가">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>																		
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q5.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="5">'가구원' 최종 학력</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="초등 및 중등">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="대학">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>																		
				</div>
			</div>
		</div>
	</div>
	<div class="quest-container" data-sctn-ordr="3" th:data-sctn-type="${sectTypeCd[2]}">
		<div class="quest-wrap">
			<div class="quest-title-wrap">
				<h4 class="quest-title">통행실태 조사</h4>
				<div class="quest-sub-title">1.통행 정보를 입력하세요.</div>
			</div>
			<div class="quest-grid-box">
				<div class="quest-box">
					<h5 class="quest-box-title">Q1.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[4]}" data-qstn-ordr="1">출발지 주소</span> <span class="quest-type">(주소)</span></h5>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q2.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="2">출발지 유형</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="가정">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="직장">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q3.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[0]}" data-qstn-ordr="3">출발 시간</span> <span class="quest-type">(시간)</span></h5>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q4.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="4">이동수단</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="MCL">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="TWL">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q5.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[0]}" data-qstn-ordr="5">승객 수(버스제외)</span> <span class="quest-type">(주관식)</span></h5>
				</div>
			</div>
		</div>
	</div>        	
	<div class="quest-container" data-sctn-ordr="4" th:data-sctn-type="${sectTypeCd[2]}">
		<div class="quest-wrap">
			<div class="quest-title-wrap">
				<h4 class="quest-title">통행실태 조사</h4>
				<div class="quest-sub-title">2.환승 정보를 입력하세요.</div>
			</div>
			<div class="quest-grid-box">
				<div class="quest-box">
					<h5 class="quest-box-title">Q1.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[4]}" data-qstn-ordr="1">환승지 주소</span> <span class="quest-type">(주소)</span></h5>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q2.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[3]}" data-qstn-ordr="2">환승 도착 시간</span> <span class="quest-type">(시간)</span></h5>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q3.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="3">이동수단</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="MCL">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="TWL">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q4.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[0]}" data-qstn-ordr="4">승객 수(버스제외)</span> <span class="quest-type">(주관식)</span></h5>
				</div>
			</div>
		</div>
	</div>        	
	<div class="quest-container" data-sctn-ordr="5" th:data-sctn-type="${sectTypeCd[2]}">
		<div class="quest-wrap">
			<div class="quest-title-wrap">
				<h4 class="quest-title">통행실태 조사</h4>
				<div class="quest-sub-title">3.도착 정보를 입력하세요.</div>
			</div>
			<div class="quest-grid-box">
				<div class="quest-box">
					<h5 class="quest-box-title">Q1.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[4]}" data-qstn-ordr="1">도착지 주소</span> <span class="quest-type">(주소)</span></h5>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q2.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="2">도착지 유형</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="가정">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="직장">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>					
				<div class="quest-box">
					<h5 class="quest-box-title">Q3.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[3]}" data-qstn-ordr="3">도착 시간</span> <span class="quest-type">(시간)</span></h5>
				</div>
			</div>
		</div>
	</div>
	<div class="quest-container" data-sctn-ordr="6" th:data-sctn-type="${sectTypeCd[2]}">
		<div class="quest-wrap">
			<div class="quest-title-wrap">
				<h4 class="quest-title">통행실태 조사</h4>
				<div class="quest-sub-title">4.이동 목적 및 지불 정보를 입력하세요.</div>
			</div>
			<div class="quest-grid-box">
				<div class="quest-box">
					<h5 class="quest-box-title">Q1.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="1">이동목적</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="직장">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="학교">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="3" value="사업">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="4" value="사회">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="5" value="귀가">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="6" value="레저">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>					
				<div class="quest-box">
					<h5 class="quest-box-title">Q2.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="2">요금 지불 유형</span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="1" value="대중교통">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" data-answ-sort="2" value="도로 통행료">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>					
				<div class="quest-box">
					<h5 class="quest-box-title">Q3.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[0]}" data-qstn-ordr="3">요금</span> <span class="quest-type">(주관식)</span></h5>
				</div>
			</div>
		</div>
	</div>
</th:block>