<html xmlns:th="http://www.thymeleaf.org"  
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<th:block th:fragment="questionLaborsideFragment">
	<div class="quest-container" data-sctn-ordr="1" th:data-sctn-type="${sectTypeCd[3]}">
		<div class="quest-wrap">
			<div class="quest-title-wrap">
				<h4 class="quest-title">노측면접조사</h4>
				<div class="quest-sub-title">차량 정보를 입력하세요.</div>
			</div>
			<div class="quest-grid-box">
				<div class="quest-box">
					<h5 class="quest-box-title">Q1.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="1">차량의 종류 </span>
						<span class="quest-type"></span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="1" value="LGV">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="2" value="MG1">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="3" value="MG2">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="4" value="HG3">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="5" value="AG3">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q2.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="2">차량 소유형태 </span>
						<span class="quest-type"></span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="1" value="개인차량">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="2" value="대여차량">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="3" value="전세차량">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q3.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[0]}" data-qstn-ordr="3">차량 탑승 승객 수 </span>
						<span class="quest-type"></span></h5>
				</div>					
				<div class="quest-box">
					<h5 class="quest-box-title">Q4.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[4]}" data-qstn-ordr="4">출발지 주소 </span>
						<span class="quest-type"></span>(주소)</h5>
				</div>			
				<div class="quest-box">
					<h5 class="quest-box-title">Q5.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="5">출발지 유형 </span>
						<span class="quest-type"></span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="1" value="집">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="2" value="직장">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="3" value="학교/교육">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="4" value="사업">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="5" value="사회">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>											
				<div class="quest-box">
					<h5 class="quest-box-title">Q6.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[4]}" data-qstn-ordr="6">도착지 주소 </span>
						<span class="quest-type"></span><span class="quest-type">(주소)</span></h5>
				</div>
				<div class="quest-box">
					<h5 class="quest-box-title">Q7.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="7">도착지 유형 </span>
						<span class="quest-type"></span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="1" value="집">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="2" value="직장">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="3" value="학교/교육">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="4" value="사업">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="5" value="사회">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>															
				<div class="quest-box">
					<h5 class="quest-box-title">Q8.<span class="quest-name" th:data-qstn-type="${qstnTypeCd[1]}" data-qstn-ordr="8">이동목적 </span>
						<span class="quest-type"></span></h5>
					<div class="list-answer">
						<ul class="all-answer">
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="1" value="일">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="2" value="학교">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="3" value="사업">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="4" value="사회">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
							<li class="option-list">
								<input type="text" class="answ-content" name="" data-answ-sort="5" value="오락">
								<input type="button" onclick="optionRemove(this)" value="삭제"/>
							</li>
						</ul>
						<div class="list-append">
							<input type="button" class="mr8" onclick="optionAdd(this)" value="+ 옵션 추가"/>
							<input type="button" onclick="optionEtcAdd(this)" value="+ 기타 옵션 추가"/>
						</div>
					</div>
				</div>															
			</div>
		</div>
	</div>
</th:block>