<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon-16x16.png}" rel="icon">
    <link th:href="@{/images/favicon-32x32.png}" rel="icon">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/rda.common.js}"></script>
    <script th:src="@{/js/rda.validation.js}"></script>
    <script th:src="@{/js/rda.modal.js}"></script>
    <title>SRILANKA</title>
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
	<script type="text/javascript">
	    var __contextPath__ = $('#contextPathHolder').attr('data-contextPath');
	    if(isNull(__contextPath__)) __contextPath__ = '';  
	</script>
	<script th:src="@{'/js/messages/message_' + ${lang} + '.js'}"></script>
</head>
<body th:data-prod="${@environment.getProperty('spring.config.activate.on-profile')} eq 'prod'" onload="disableContextAndDrag()">
	<section id="LoginSection">
		<div id="loginContainer">
		    <div class="rda-wrap">
		        <div id="loginLogoBox">
		            <h1 id="loginTitle" th:text="#{login.common.join}">회원가입</h1>
		        </div>
		        <div id="loginContentBox">
		            <form id="joinForm" autocomplete="off">
		            	<div id="joinFlexBox">
			                <div class="joinFlexBoxList">
			                    <div class="login-input-box">
			                        <label for="userNm" class="login-input-title"><span th:text="#{common.name}">이름</span> <span class="join-required">*</span></label>
			                        <input type="text" id="userNm" name="userNm" th:placeholder="#{login.common.placeholder.name}" class="login-input validation-tag" data-validation="name" onkeyup="valid(this)" maxlength="30"/>
			                    </div>
			                    <div class="login-input-box">
			                        <label for="userId" class="login-input-title"><span th:text="#{common.id}">아이디</span> <span class="join-required">*</span></label>
			                        <input type="text" id="userId" name="userId" th:placeholder="#{login.common.placeholder.id}" class="login-input validation-tag" data-validation="id" onkeyup="valid(this)" maxlength="13"/>
			                    </div>
			                </div>
			                <div class="joinFlexBoxList">
			                    <div class="login-input-box">
			                        <label for="userPswd" class="login-input-title"><span th:text="#{common.password}">비밀번호</span> <span class="join-required">*</span></label>
			                        <input type="password" id="userPswd" name="userPswd" th:placeholder="#{login.common.placeholder.password}" class="login-input validation-tag" data-validation="pw" onkeyup="valid(this)" maxlength="32"/>
			                    </div>
								<div class="login-input-box">
			                        <label for="userPswdChk" class="login-input-title"><span th:text="#{common.password.confirm}">비밀번호 확인</span> <span class="join-required">*</span></label>
			                        <input type="password" id="userPswdChk" th:placeholder="#{login.common.placeholder.password}" class="login-input validation-tag" data-validation="pwChecked" onkeyup="valid(this);"/>
			                    </div>
							</div>
							<div class="joinFlexBoxList">
								 <div class="login-input-box">
			                        <label for="userEmail" class="login-input-title"><span th:text="#{common.email}">이메일</span> <span class="join-required">*</span></label>
 									<input type="email" id="userEmail" name="userEmail" th:placeholder="#{login.common.placeholder.email}" class="login-input validation-tag" data-validation="email" onkeyup="valid(this)" maxlength="50"/>
			                    </div>
			                    <div class="login-input-box">
			                        <label for="userTel" class="login-input-title"><span th:text=#{common.contact}>연락처</span> <span class="join-required">*</span></label>
									<input type="tel" id="userTel" name="userTel" th:placeholder="#{login.join.placeholder.contact}" class="login-input validation-tag" data-validation="tel" onkeyup="valid(this)" maxlength="10"/>
			                    </div>			                    
							</div>
							<div class="joinFlexBoxList">
								<div class="login-input-box">
			                        <label for="userBffltd" class="login-input-title" th:text=#{common.institution}>소속</label>
			                        <select id="userBffltd" class="select-box validation-tag" data-validation="select" name="userBffltd">
			                        	<option th:text=#{common.select.select} value="">선택</option>
			                        	<option th:each="item,status : ${bffltdList}" th:value="${item.cd}" th:text="${item.cdNm}"></option>
			                        </select>
			                    </div>
								<div class="login-input-box">
			                        <label for="userDept" class="login-input-title" th:text="#{common.department}">부서</label>
			                        <select id="userDept" class="select-box validation-tag" data-validation="select" name="userDept">
			                        	<option th:text=#{common.select.select} value="">선택</option>
			                        	<option th:each="item,status : ${deptList}" th:value="${item.cd}" th:text="${item.cdNm}"></option>
			                        </select>
			                    </div>
							</div>
		            	</div>
		                <div id="loginButtonBox" class="login-cm-btn">
		                    <button type="button" id="joinButton" class="login-button" th:text="#{login.common.join}" onclick="saveUserInfo()">사용자 등록</button>
		                </div>
		                <div id="loginBackButton">
		                	<a th:href="@{/login}" th:text="#{login.join.toLogin}">로그인 화면으로 돌아가기</a>
		                </div>
		            </form>
		        </div>
			</div>
	    </div>
	</section>
</body>
</html>
<script>
	//비밀번호, 비밀번호 확인, 회원가입 성공
	/*document.getElementById("joinForm").addEventListener("submit", function(event) {
		const newPw = document.getElementById("userPswd").value;
		const confirmPw = document.getElementById("userPswdChk").value;
	    if (newPw !== confirmPw) {
	        document.getElementById("confirmError").textContent = message.login.join_mismatch_password;
	        event.preventDefault();
	    } else {

			fetch(__contextPath__ + "/join/save", {
				method: "POST",
				body: new FormData($("#joinForm")[0])
			})
				.then(response => response.json())
				.then(result => {
					console.log(result)
					if(result.code == 200){
	                    new ModalBuilder().init().successBody(message.login.join_confirm_mail_message).footer(4,message.common.button_confirm,function(button, modal){
		                    location.href= __contextPath__+"/login";
		                    modal.close();
	                    }).open();
	                } else {
	                	var message = result.message;
	                	var msgTrgt = message.split("/")[0];
	                	var errorMsg = message.split("/")[1];
	                	$("#"+msgTrgt+"Trgt").text(errorMsg);
	                }
				})
			event.preventDefault();
		}
	});*/

	let saveUserInfo = () => {
		const successMsg = message.login.join_confirm_mail_message;
		const confirmBtn = message.common.button_confirm;

		if(validation('#joinForm')) {
			const form = document.querySelector('#joinForm');
			const formData = new FormData(form);
			
			const formDataObj = {};
			formData.forEach((value, key) => {
			    formDataObj[key] = value;
			});
			
			fetch(__contextPath__ + "/join/save", {
			    method: "POST",
			    headers: {
			        "Content-Type": "application/json"
			    },
			    body: JSON.stringify(formDataObj)
			})
			.then(response => response.json())
			.then(result => {
				if(result.code == 200){
					new MsgModalBuilder().init().successBody(successMsg).footer(4,confirmBtn,function(button, modal){
						location.href= __contextPath__+"/login";
						modal.close();
					}).open();
				} else {
					new MsgModalBuilder().init().alertBody(result.message).footer(4,message.common.button_confirm,function(button, modal){
						if(result.msgTrgt) validationFocus(result.msgTrgt);
						modal.close();
					}).open();
				}
			})
			.catch(error => {	
				console.log("error : " + error);
								alert(error.message);
					 	    });
		}
	}

</script>