<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon-16x16.png}" rel="icon">
    <link th:href="@{/images/favicon-32x32.png}" rel="icon">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/rda.common.js}"></script>
    <script th:src="@{/js/rda.validation.js}"></script>
    <script th:src="@{/js/rda.modal.js}"></script>
    <title>SRILANKA</title>
    <script th:src="@{'/js/messages/message_' + ${lang} + '.js'}"></script>
</head>
<body th:data-prod="${@environment.getProperty('spring.config.activate.on-profile')} eq 'prod'" onload="disableContextAndDrag()">
	<section id="LoginSection">
		<div id="loginContainer">
		    <div class="rda-wrap">
		        <div id="findTitleBox">
		            <h1 id="findTitle" th:text="#{login.loginIdFindInfo.findId}">아이디 찾기</h1>
		        </div>
		        <div id="loginContentBox">
		        	<div id="loginButtonBox">
		        		<a th:href="@{/login/find/id/info}" class="idpw-toggle-button active" th:text="#{login.loginIdFindInfo.findId}">아이디 찾기</a>
		        		<a th:href="@{/login/find/pw/info}" class="idpw-toggle-button" th:text="#{login.loginIdFindInfo.findPassword}">비밀번호 찾기</a>
		        	</div>
		            <form id="findIdForm">
		                <div id="idFind">
		                    <div class="login-input-box">
		                        <label for="mngrNm" class="login-input-title" th:text="#{common.name}">이름</label>
		                        <input type="text" id="userNm" name="userNm" th:placeholder="#{login.common.placeholder.name}" class="login-input validation-tag" onkeyup="valid(this);" data-validation="name" maxlength="12"/>
		                    </div>
		                    <div class="login-input-box">
		                        <label for="mngrEmail" class="login-input-title" th:text="#{common.email}">이메일</label>
		                        <input type="email" id="userEmail" name="userEmail" th:placeholder="#{login.common.placeholder.email}" class="login-input validation-tag" onkeyup="valid(this)" data-validation="email" maxlength="50"/>
		                    </div>
		                </div>		                
			            <div>
			                <button type="button" id="find-button" th:text="#{login.loginIdFindInfo.findId}">아이디 찾기</button>
			            </div>
		            </form>
		        </div>
		    </div>
		</div>
	</section>
</body>
<script type="text/javascript">
	$('#find-button').on('click', function(){
		if(validation('#loginContainer')){
	// 		$("#userNm").val('blueduss');
	// 		$("#userEmail").val('blueduss@bluedus.com');
			let userEmail = document.getElementById('userEmail').value;
			
			fetch("/login/find/id/info", {
				method: "POST",
				body: new FormData($("#findIdForm")[0])
			})
				.then((response) => response.json())
				.then((result) => {
					if(result.code == 200){
	                    new ModalBuilder().init().ajaxBody("/login/find/id/result?userEmail=" + userEmail).footer(3,message.common.button_login,function(button, modal){
	                    	window.location.href= "/login";
		                    modal.close();
	                    }, message.login.loginIdFindInfo_find_password, function(button, modal){
							window.location.href="/login/find/pw/info";
							modal.close();
						}).open();
	                } else {
	// 					console.log(result.message);
	//                 	alert(result);
						throw Error(result.message)
	                }
				})
				.catch(error => {
	// 				console.log(error.message);
					alert(error.message);
	// 				new ModalBuilder().init().alertBody(error.message).footer(4, message.common.button_confirm, function (button, modal) {
	// 					modal.close();
	// 				}).open();
		 	    });
		}
		
	})
</script>
</html>
