<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon-16x16.png}" rel="icon">
    <link th:href="@{/images/favicon-32x32.png}" rel="icon">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/rda.common.js}"></script>
    <script th:src="@{/js/rda.validation.js}"></script>
    <script th:src="@{/js/rda.modal.js}"></script>
    <title>SRILANKA</title>
    <script th:src="@{'/js/messages/message_' + ${lang} + '.js'}"></script>
</head>
<body th:data-prod="${@environment.getProperty('spring.config.activate.on-profile')} eq 'prod'" onload="disableContextAndDrag()">
	<section id="LoginSection">
		<div id="loginContainer">
		    <div class="rda-wrap">
		        <div id="findTitleBox">
		            <h1 id="findTitle" th:text="#{login.loginPwChange.changePasswrod}">비밀번호 변경</h1>
		        </div>
		        <div id="loginContentBox">
		            <form id="changPswdForm">
		                <div id="pwFind">
		                    <div class="login-input-box">
		                        <label for="mngrAccountPwd" class="login-input-title"><span th:text="#{login.loginPwChange.newPassword}">새 비밀번호</span> <span class="join-required">*</span></label>
		                        <input type="password" id="userPswd" name="userPswd" th:placeholder="#{login.loginPwChange.placeholder.newPassword}" class="login-input validation-tag" data-validation="pw" onkeyup="valid(this)" maxlength="32"/>
		                    </div>		                    
							<div class="login-input-box">
		                        <label for="mngrAccountPwdChk" class="login-input-title" th:text="#{login.loginPwChange.newPasswordChk}">새 비밀번호 확인 <span class="join-required">*</span></label>
		                        <input type="password" id="userPswdChk" th:placeholder="#{login.loginPwChange.placeholder.newPassword}" class="login-input validation-tag" data-validation="pwChecked" onkeyup="valid(this)">
		                    </div>		                    
		                </div>		                
			            <div>
			                <button type="button" onclick="pwChange()" id="pwdChangeButton" class="password-change" th:text="#{login.loginPwChange.changePasswrod}">비밀번호 변경</button>
			            </div>
		            </form>
		        </div>
		    </div>
		</div>
	</section>
</body>
<script type="text/javascript">
	function pwChange(){
		if(validation('#loginContentBox')) {
		   	const newPw = document.getElementById("userPswd").value;
		   	const confirmPw = document.getElementById("userPswdChk").value;
		    if (newPw !== confirmPw) {
		        document.getElementById("confirmError").textContent = message.login.loginPwChange_mismatch_password;
		        event.preventDefault();
		    } else {
		    	fetch("/login/find/pw/change", {
		            method: "POST",
		            body: new FormData($("#changPswdForm")[0])
		        })
		        .then(response => response.json())
		        .then(result => {
		            if(result.code == '200'){
		  				new ModalBuilder().init().alertBody(result.message).footer(1,message.common.button_login,function(button, modal){
							window.location.href="/login";
						}).open();
		            } else {
		                new ModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function(button, modal){
		                    modal.close();
		                }).open();
		            }
		        })
		    }
		}
	}
</script>
</html>