<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href="@{/images/favicon-16x16.png}" rel="icon">
    <link th:href="@{/images/favicon-32x32.png}" rel="icon">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/js/rda.common.js}"></script>
    <script th:src="@{/js/rda.validation.js}"></script>
    <script th:src="@{/js/rda.modal.js}"></script>
    <title>SRILANKA</title>
    <script th:src="@{'/js/messages/message_' + ${lang} + '.js'}"></script>
</head>
<body th:data-prod="${@environment.getProperty('spring.config.activate.on-profile')} eq 'prod'" onload="disableContextAndDrag()">
	<section id="LoginSection">
		<div id="loginContainer">
		    <div class="rda-wrap">
		        <div id="findTitleBox">
		            <h1 id="findTitle" th:text="#{login.loginIdFindInfo.findPassword}">비밀번호 찾기</h1>
		        </div>
		        <div id="loginContentBox">
		        	<div id="loginButtonBox">
		        		<a th:href="@{/login/find/id/info}" class="idpw-toggle-button" th:text="#{login.loginIdFindInfo.findId}">아이디 찾기</a>
		        		<a th:href="@{/login/find/pw/info}" class="idpw-toggle-button active" th:text="#{login.loginIdFindInfo.findPassword}">비밀번호 찾기</a>
		        	</div>
	                <div id="pwFind">
	                    <div class="login-input-box">
	                        <label for="userId" class="login-input-title" th:text="#{common.id}">아이디</label>
	                        <input type="text" id="userId" th:placeholder="#{login.common.placeholer.id}" class="login-input validation-tag" data-validation="name" onkeyup="valid(this)" maxlength="12"/>
	                    </div>
	                    <div class="login-input-box">
	                        <label for="userEmail" class="login-input-title" th:text=#{common.email}>이메일</label>
	                        <input type="email" id="userEmail" th:placeholder="#{login.common.placeholder.email}" class="login-input validation-tag" data-validation="email" onkeyup="valid(this)" maxlength="50"/>
	                    </div>
	                </div>		                
		            <div>
		                <button id="find-button" onclick="findButton()" th:text="#{login.loginIdFindInfo.findPassword}">비밀번호 찾기</button>
		            </div>
		        </div>
		    </div>
		</div>
	</section>
</body>
<script type="text/javascript">
// 	$('#find-button').on('click', function(){
// 		var formData = {
// 				userId: $("#userId").val(),
// 				userEmail: $("#userEmail").val()
// 		};
// 		$.ajax({
// 			url: "/login/find/pw/info",
// 			type: "POST",
// 			contentType: "application/json",
// 			data: JSON.stringify(formData),
// 			success: function(data){
//                 if(data.code == 200){
// 					new ModalBuilder().init().ajaxBody("/login/find/pw/result").footer(1,'로그인',function(button, modal){
// 						window.location.href="/login";
// 					}).open();
// 					$('#modal-body').css('padding', '40px');
// 					$('#modal-footer').css('padding', '0 40px 40px 40px');
//                 }
// 			}
// 		});
// 	})
		
	function findButton(){
		if(validation('#loginContainer')) {
			const userId = document.getElementById('userId').value;
			const userEmail = document.getElementById('userEmail').value;
			
			const formData = new FormData();
		    formData.append('userId', userId);
		    formData.append('userEmail', userEmail);
		    
			fetch("/login/find/pw/info",{
				method: "POST",
				body: formData
			})
			.then(response => response.json())
			.then(result => {
				  			if(result.code == '200'){
				  				new ModalBuilder().init().ajaxBody("/login/find/pw/result").footer(1,message.common.button_login,function(button, modal){
									window.location.href="/login";
								}).open();
								$('#modal-body').css('padding', '40px');
								$('#modal-footer').css('padding', '0 40px 40px 40px');
							}else{
	// 							new ModalBuilder().init().alertBody(result.message).footer(4,'확인',function(button, modal){
	// 								  modal.close();
	// 							  }).open();
								throw new Error(result.message);
							}
			})
			.catch(error => {
			    new ModalBuilder().init().alertBody(error.message).footer(4,message.common.button_confirm, function(button, modal) {
			        modal.close();
			    }).open();
			});
		}
	}
		
</script>
</html>