<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
	<div class="is-box">
		<form id="searchForm" name="searchForm" action="/datalink/openapi" method="get">
			<div id="filterWrap">
				<div id="filterTitle">
					<h2 th:text="#{common.search.title}">검색 설정</h2>
				</div>
				<table id="filterTable">
					<colgroup>
						<col width="15%">
						<col width="85%">
					</colgroup>
<!-- 					<tr> -->
<!-- 						<th>작성자 선택</th> -->
<!-- 						<td> -->
<!-- 							<select class="select-list-box" name="searchType"> -->
<!-- 								<option th:text="#{common.select.class}">분류</option> -->
<!-- 																<option value="all" th:selected="${searchInfo.searchType} == 'all'" th:text="#{common.select.all}">전체</option> -->
<!-- 								<option value="apiNm" th:selected="${searchInfo.searchType} == 'apiNm'" -->
<!-- 									th:text="#{api.common.table.apiName}">API 명</option> -->
<!-- 								<option value="apiDesc" th:selected="${searchInfo.searchType} == 'apiDesc'" -->
<!-- 									th:text="#{api.common.table.apiDescr}">API 설명</option> -->
<!-- 								<option value="crtId" th:selected="${searchInfo.searchType} == 'crtId'" -->
<!-- 									th:text="#{common.select.writer}">작성자</option> -->
<!-- 							</select> -->
<!-- 						</td> -->
<!-- 					</tr> -->
					<tr>
						<th th:text="#{api.common.table.apiMngAgency}">기관 선택</th>
						<td>
							<select class="select-list-box" name="bffltdCd">
								<option th:text="#{api.common.table.apiMngAgency}" value="">관리기관</option>
								<th:block th:each="item : ${bffltdCd}">
									<option th:value="${item.cd}" th:text="${item.cdNm}"></option>
								</th:block>
							</select>
						</td>
					</tr>
					<tr>
						<th th:text="#{common.search.detail.content}">상세 내용</th>
						<td>
							<input type="hidden" id="pageNo" name="pageNo" value="1">
							<input type="text" id="searchContent" class="input-text search-input" name="searchContent"
								th:placeholder="#{common.search.placeholder.searchContext}">
						</td>
					</tr>
				</table>
				<div id="filterBtnWrap">
					<button type="submit" id="searchBtn" class="is-key-button"
						th:text="#{common.button.search}">검색</button>
				</div>
			</div>
		
		</form>
		<div id="listTableContainer">
			<div class="list-save-box">
				<div id="totalList"><span id="totalCount" th:text="${paging.totalCount}"></span><span
						th:text="#{common.search.result}">건의 검색 결과를 찾았습니다.</span></div>
				<div>
					<a th:href="@{/datalink/openapi/save}" class="is-key-button" id="openApiSave"
						th:text="#{api.openApiList.button.registApi}">API 등록</a>
				</div>
			</div>
			<table id="listTable" class="cm-list-table">
				<thead>
					<tr>
						<th th:text="#{common.table.number}">번호</th>
						<th th:text="#{common.table.class}">분류</th>
						<th th:text="#{api.common.table.serviceName}">서비스 명</th>
						<th th:text="#{api.common.table.serviceUrl}">서비스 URL</th>
						<th th:text="#{api.common.table.apiMngAgency}">제공기관</th>
						<th th:text="#{common.table.registDate}">등록일</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${not #lists.isEmpty(sriOpenApiList)}">
						<tr th:each="item,status : ${sriOpenApiList}" class="table-link" th:onclick="openApiDetail([[${item.srvcId}]])">
							<td th:text="${@commonUtils.getRownum(paging, status.index)}"></td>
							<td th:text="${item.srvcClsf}"></td>
							<td th:text="${item.srvcNm}"></td>
							<td th:text="${item.srvcUrl}"></td>
							<td th:text="${item.pvsnInst}"></td>
							<td th:text="${@commonUtils.formatLocalDateTime(item.registDt)}"></td>
						</tr>
					</th:block>
					<th:block th:unless="${not #lists.isEmpty(sriOpenApiList)}">
						<tr>
							<td colspan="6" th:text="#{common.search.result.notExist}">검색된 결과가 없습니다.</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div th:insert="tags/paging/paging :: pagingFragment"></div>
	</div>
</th:block>

</html>
<script type="text/javascript">

	function openApiDetail(srvcId) {
		location.href = `${__contextPath__}/datalink/openapi/detail?srvcId=${srvcId}`;
	}

	// 전체선택
	function selectAll() {
		if ($('input:checkbox').is(':checked') == true) {
			$('input:checkbox').prop('checked', false);
		} else {
			$('input:checkbox').prop('checked', true);
		}
	}

	// API 삭제
	function deleteOpenApi() {
		new MsgModalBuilder().init().alertBody(message.openAPI.openApiList_apiDelete_message).footer(3, message.common.button_confirm, function (button, modal) {
			modal.close();
			const selectedElements = document.querySelectorAll('input[name="checkbox"]:checked');
			const apiIds = Array.from(selectedElements).map(el => el.value);

			fetch(__contextPath__ + "/datalink/openapi", {
				method: "DELETE",
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({apiIds: apiIds})
			})
				.then(response => response.json())
				.then(result => {
					if (result.code == '200') {
						new MsgModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function (button, modal) {
							modal.close();
							window.location.reload();
						}).open();
					} else {
						new MsgModalBuilder().init().alertBody(result.message).footer(4, message.common.button_confirm, function (button, modal) {
							modal.close();
						}).open();
					}

				})
		}, message.common.button_cancel, function (button, modal) {
			modal.close();
		}).open();
	}

</script>